Repository kcl-lang/kcl, pull requests merged in 2022-08, with the labels that each got.

#128 Fix(resolver): fix incorrect position info of CannotFindModule Error.
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/test_fail_data/cannot_find_module.k
  kclvm/sema/src/resolver/tests.rs
Labels: bug, error-handling, resolver

#124 refactor: add macos build and test github actions and refine windows …
  .github/workflows/macos_test.yaml
  .github/workflows/ubuntu_test.yaml
  .github/workflows/windows_test.yaml
  internal/kclvm_py/scripts/build-cpython.sh
  internal/kclvm_py/scripts/test_grammar.sh
  internal/kclvm_py/scripts/test_unit.sh
Labels: enhancement, ci

#133 feat: record whether a module has been used in ScopeObject
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/test_data/import_test/a.k
  kclvm/sema/src/resolver/test_data/import_test/b.k
  kclvm/sema/src/resolver/test_data/import_test/c.k
  kclvm/sema/src/resolver/test_data/import_test/d.k
  kclvm/sema/src/resolver/test_data/import_test/e.k
  kclvm/sema/src/resolver/test_data/import_test/f.k
  kclvm/sema/src/resolver/test_data/record_used_module.k
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/resolver/var.rs
Labels: enhancement, semantic, feat, resolver

#100 Refine illegal attr ty err msg
  kclvm/runner/src/exec_data/complex.k
  kclvm/sema/src/resolver/attr.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/test_fail_data/attr.k
  kclvm/sema/src/resolver/tests.rs
Labels: enhancement, semantic, type-system

#138 Refactor kclvm exec api using cli
  .github/workflows/macos_test.yaml
  .github/workflows/ubuntu_test.yaml
  internal/kclvm_py/program/rpc-server/__main__.py
  kclvm/config/src/modfile.rs
  test/test_units/hello.k
  test/test_units/test_kclvm/test_rpc_server/invalid_testdata/exec-program.json
Labels: api

#140 Fix kclvm cli args parse for `-Y`
  kclvm/runner/src/runner.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/src/main.rs
Labels: bug, fix

#142 Feat(compiler-base-error): reuse rustc_error 'StyledBuffer' in compiler-base.
  kclvm/compiler_base/3rdparty/rustc_errors/Cargo.toml
  kclvm/compiler_base/3rdparty/rustc_errors/src/LICENSE
  kclvm/compiler_base/3rdparty/rustc_errors/src/README.md
  kclvm/compiler_base/3rdparty/rustc_errors/src/lib.rs
  kclvm/compiler_base/3rdparty/rustc_errors/src/styled_buffer.rs
  kclvm/compiler_base/Cargo.toml
  kclvm/compiler_base/src/lib.rs
Labels: enhancement, error-handling, feat

#146 Feat(compiler-base): add 'One-Sentence' to compiler_base/error
  kclvm/compiler_base/error/src/diagnostic/components.rs
  kclvm/compiler_base/error/src/diagnostic/mod.rs
  kclvm/compiler_base/error/src/diagnostic/style.rs
  kclvm/compiler_base/error/src/diagnostic/tests.rs
Labels: enhancement, error-handling, feat

#152 Refactor(compiler-base): Replaced `DiagnosticStyle` in `trait Component` with generic `T: Clone + PartialEq + Eq + Style`.
  kclvm/compiler_base/error/src/diagnostic/components.rs
  kclvm/compiler_base/error/src/diagnostic/mod.rs
Labels: enhancement, error-handling, refactor

#157 Feat: add warning kind diagnostic
  kclvm/error/src/diagnostic.rs
  kclvm/error/src/error.rs
  kclvm/error/src/lib.rs
Labels: feat, resolver

#158 Fix: Record used module
  kclvm/sema/src/resolver/test_data/record_used_module.k
  kclvm/sema/src/resolver/var.rs
Labels: bug, semantic, debug, fix, resolver

#159 fix: unification statement resolve with package schema.
  internal/kclvm_py/kcl/types/checker.py
  kclvm/sema/src/resolver/global.rs
  test/grammar/unification/pkg_schema_0/kcl.mod
  test/grammar/unification/pkg_schema_0/main.k
  test/grammar/unification/pkg_schema_0/pkg/pkg.k
  test/grammar/unification/pkg_schema_0/stdout.golden
  test/grammar/unification/pkg_schema_1/kcl.mod
  test/grammar/unification/pkg_schema_1/main.k
  test/grammar/unification/pkg_schema_1/pkg/pkg.k
  test/grammar/unification/pkg_schema_1/pkg/pkg/pkg.k
  test/grammar/unification/pkg_schema_1/stdout.golden
Labels: semantic, resolver

#155 refactor: remove in-place union operator `|=` UI test cases.
  kclvm/runner/src/exec_data/aug_assign.k
  test/grammar/attr_operator/schema_inside/unification/test_4/main.k
  test/grammar/multi_file_compilation/simple/simple_2/pkg.k
  test/grammar/multi_file_compilation/simple/simple_2/stdout.golden
  test/grammar/schema/index_signature/normal_4/main.k
  test/grammar/schema/init/init_if_expr_1/main.k
  test/grammar/schema/init/init_if_expr_1/stdout.golden
  test/grammar/schema/init/init_if_expr_2/main.k
  test/grammar/schema/init/init_if_expr_2/stdout.golden
  test/grammar/schema/init/init_if_expr_3/main.k
  test/grammar/schema/init/init_if_expr_3/stdout.golden
  test/grammar/schema/init/init_if_expr_4/main.k
  test/grammar/schema/init/init_if_expr_4/stdout.golden
  test/grammar/schema/init/init_outside_var_1/main.k
  test/grammar/schema/init/init_outside_var_1/stdout.golden
  test/grammar/schema/irrelevant_order/complex_4/main.k
  test/grammar/schema/irrelevant_order/complex_4/stdout.golden
  test/grammar/schema/irrelevant_order/for_2/main.k
  test/grammar/schema/irrelevant_order/for_2/stdout.golden
  test/grammar/schema/irrelevant_order/inherit_4/main.k
  test/grammar/schema/irrelevant_order/inherit_5/main.k
  test/grammar/schema/irrelevant_order/inherit_5/stdout.golden
  test/grammar/schema/irrelevant_order/mixin_2/main.k
  test/grammar/schema/irrelevant_order/mixin_3/main.k
  test/grammar/schema/mixin/schema_field_change_dict/main.k
  test/grammar/schema/mixin/schema_field_change_dict/stdout.golden
  test/grammar/schema/mixin/schema_field_union_list/main.k
  test/grammar/schema/mixin/schema_field_union_list/stdout.golden
  test/grammar/schema/stmt_block/stmt_block_32/main.k
  test/grammar/schema/stmt_block/stmt_block_32/stdout.golden
  test/grammar/schema/stmt_block/stmt_block_33/main.k
  test/grammar/schema/stmt_block/stmt_block_33/stdout.golden
  test/grammar/schema/stmt_block/stmt_block_7/main.k
  test/grammar/schema/stmt_block/stmt_block_7/stdout.golden
  test/grammar/schema/union/list/init_0/main.k
  test/grammar/schema/union/list/init_0/stdout.golden
Labels: semantic

#161 re: config merge when input same files on `load_program`.
  kclvm/sema/src/pre_process/config.rs
  kclvm/sema/src/pre_process/test_data/config_merge/config1.k
  kclvm/sema/src/pre_process/test_data/config_merge/config2.k
  kclvm/sema/src/pre_process/test_data/config_merge/def.k
  kclvm/sema/src/pre_process/tests.rs
Labels: semantic

#154 Feat(Compiler-Base): Reuse kclvm emitter
  kclvm/compiler_base/3rdparty/rustc_errors/Cargo.toml
  kclvm/compiler_base/3rdparty/rustc_errors/src/README.md
  kclvm/compiler_base/3rdparty/rustc_errors/src/lib.rs
  kclvm/compiler_base/3rdparty/rustc_errors/src/lock.rs
  kclvm/compiler_base/error/Cargo.toml
  kclvm/compiler_base/error/src/diagnostic/components.rs
  kclvm/compiler_base/error/src/diagnostic/mod.rs
  kclvm/compiler_base/error/src/emitter.rs
  kclvm/compiler_base/error/src/lib.rs
Labels: enhancement, error-handling, feat

#167 chore: bump kclvm version to 0.4.3
  VERSION
  internal/kclvm_py/api/version/version.py
  internal/setup.py
  kclvm/version/src/lib.rs
Labels: release

#166 perf : kclvm runtime memory management
  internal/kclvm_py/scripts/update-kclvm.sh
  kclvm/ast/src/token.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/hello.k
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/parser/ty.rs
  kclvm/runtime/src/_kcl_run.rs
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/api/buf.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/api/utils.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/stdlib/builtin.rs
  kclvm/runtime/src/stdlib/plugin.rs
  kclvm/runtime/src/types/api.rs
  kclvm/runtime/src/value/api.rs
  kclvm/span/src/session_globals.rs
  kclvm/span/src/symbol.rs
Labels: runtime

#164 Feat(compiler-base): add error message.
  kclvm/compiler_base/error/Cargo.toml
  kclvm/compiler_base/error/src/diagnostic/diagnostic_message.rs
  kclvm/compiler_base/error/src/diagnostic/locales/en-US/default.ftl
  kclvm/compiler_base/error/src/diagnostic/locales/en-US/test/default1.ftl
  kclvm/compiler_base/error/src/diagnostic/mod.rs
  kclvm/compiler_base/error/src/diagnostic/style.rs
  kclvm/compiler_base/error/src/diagnostic/tests.rs
  kclvm/compiler_base/error/src/emitter.rs
Labels: documentation, error-handling, feat

#156 Feat: add `kclvm_cli lint` command to kclvm_cli
  kclvm/src/main.rs
  kclvm/tools/src/lib.rs
  kclvm/tools/src/lint/mod.rs
  kclvm/tools/src/lint/test_data/lint.k
  kclvm/tools/src/lint/tests.rs
Labels: tool, feat

#169 feat : support kclvm cli capi call
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/capi/Cargo.toml
  kclvm/capi/build.rs
  kclvm/capi/src/api_test.rs
  kclvm/capi/src/lib.rs
  kclvm/capi/src/model/gpyrpc.rs
  kclvm/capi/src/model/mod.rs
  kclvm/capi/src/service/api.rs
  kclvm/capi/src/service/mod.rs
  kclvm/capi/src/service/service.rs
  kclvm/capi/src/service/util.rs
  kclvm/capi/src/testdata/exec-program.json
  kclvm/capi/src/testdata/exec-program.response.json
  kclvm/capi/src/testdata/hello.k
  kclvm/capi/src/testdata/override-file.json
  kclvm/capi/src/testdata/override-file.response.json
  kclvm/capi/src/testdata/test.k
  kclvm/makefile
Labels: api

#172 feat: impl format and override relative import and add more unit test…
  internal/kclvm_py/compiler/parser/parser.py
  internal/kclvm_py/tools/query/override.py
  kclvm/tools/src/printer/test_data/import.input
  kclvm/tools/src/printer/test_data/import.output
  kclvm/tools/src/printer/tests.rs
  kclvm/tools/src/query/test_data/import_paths.k
  test/test_units/test_kclvm/test_tools/test_overrides/file_test_data/test_import_paths.k
  test/test_units/test_kclvm/test_tools/test_printer/test_data/import.input
  test/test_units/test_kclvm/test_tools/test_printer/test_data/import.output
  test/test_units/test_kclvm/test_tools/test_printer/test_printer.py
Labels: tool
