Repository kcl-lang/kcl, pull requests merged in 2022-07, with the labels that each got.

#71 refactor(kclvm-runner): encapsulate dylib generating, linking and executing in kclvm/lib.rs into kclvm-runner
  .github/workflows/github-actions.yaml
  kclvm/Cargo.lock
  kclvm/config/src/settings.rs
  kclvm/runner/Cargo.lock
  kclvm/runner/Cargo.toml
  kclvm/runner/benches/bench_runner.rs
  kclvm/runner/src/assembler.rs
  kclvm/runner/src/command.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/linker.rs
  kclvm/runner/src/runner.rs
  kclvm/runner/src/test_datas/exec_prog_args/default.json
  kclvm/runner/src/test_datas/init_check_order_0/main.k
  kclvm/runner/src/test_datas/init_check_order_0/stdout.golden.json
  kclvm/runner/src/test_datas/init_check_order_1/main.k
  kclvm/runner/src/test_datas/init_check_order_1/stdout.golden.json
  kclvm/runner/src/test_datas/multi_file_compilation/import_abs_path/app-main/main.k
  kclvm/runner/src/test_datas/multi_file_compilation/import_abs_path/app-main/some1/pkg1/pkg1.k
  kclvm/runner/src/test_datas/multi_file_compilation/import_abs_path/kcl.mod
  kclvm/runner/src/test_datas/multi_file_compilation/import_abs_path/some0/pkg1/pkg1.k
  kclvm/runner/src/test_datas/multi_file_compilation/import_abs_path/some1/pkg1/pkg1.k
  kclvm/runner/src/test_datas/multi_file_compilation/import_regular_module/kcl.mod
  kclvm/runner/src/test_datas/multi_file_compilation/import_regular_module/main.k
  kclvm/runner/src/test_datas/multi_file_compilation/import_regular_module/mymodule.k
  kclvm/runner/src/test_datas/multi_file_compilation/import_regular_module_as/kcl.mod
  kclvm/runner/src/test_datas/multi_file_compilation/import_regular_module_as/main.k
  kclvm/runner/src/test_datas/multi_file_compilation/import_regular_module_as/mymodule.k
  kclvm/runner/src/test_datas/multi_file_compilation/no_kcl_mod_file/main.k
  kclvm/runner/src/test_datas/multi_file_compilation/no_kcl_mod_file/pkg1/pkg.k
  kclvm/runner/src/test_datas/multi_file_compilation/no_kcl_mod_file/pkg2.k
  kclvm/runner/src/test_datas/multi_file_compilation/no_kcl_mod_file/stdout.golden
  kclvm/runner/src/test_datas/multi_file_compilation/relative_import/main.k
  kclvm/runner/src/test_datas/multi_file_compilation/relative_import/mydir/mydir2/mymodule2.k
  kclvm/runner/src/test_datas/multi_file_compilation/relative_import/mydir/mymodule.k
  kclvm/runner/src/test_datas/multi_file_compilation/relative_import_as/main.k
  kclvm/runner/src/test_datas/multi_file_compilation/relative_import_as/mydir/mydir2/mymodule2.k
  kclvm/runner/src/test_datas/multi_file_compilation/relative_import_as/mydir/mymodule.k
  kclvm/runner/src/test_datas/multi_vars_0/main.k
  kclvm/runner/src/test_datas/multi_vars_0/stdout.golden.json
  kclvm/runner/src/test_datas/normal_2/main.k
  kclvm/runner/src/test_datas/normal_2/stdout.golden.json
  kclvm/runner/src/test_datas/settings_file/settings.json
  kclvm/runner/src/test_datas/settings_file/settings.yaml
  kclvm/runner/src/test_datas/type_annotation_not_full_2/main.k
  kclvm/runner/src/test_datas/type_annotation_not_full_2/stdout.golden.json
  kclvm/runner/src/tests.rs
  kclvm/src/lib.rs
  kclvm/src/main.rs
Labels: enhancement, tool, refactor

#48 feat: impl format tool.
  kclvm/Cargo.lock
  kclvm/tools/Cargo.lock
  kclvm/tools/Cargo.toml
  kclvm/tools/benches/benchmark.rs
  kclvm/tools/benches/test_data/format.k
  kclvm/tools/src/format/mod.rs
  kclvm/tools/src/format/test_data/fail_format_data/syntax_err.k
  kclvm/tools/src/format/test_data/format_data/assert.golden
  kclvm/tools/src/format/test_data/format_data/assert.input
  kclvm/tools/src/format/test_data/format_data/blankline.golden
  kclvm/tools/src/format/test_data/format_data/blankline.input
  kclvm/tools/src/format/test_data/format_data/breakline.golden
  kclvm/tools/src/format/test_data/format_data/breakline.input
  kclvm/tools/src/format/test_data/format_data/check.golden
  kclvm/tools/src/format/test_data/format_data/check.input
  kclvm/tools/src/format/test_data/format_data/codelayout.golden
  kclvm/tools/src/format/test_data/format_data/codelayout.input
  kclvm/tools/src/format/test_data/format_data/collection_if.golden
  kclvm/tools/src/format/test_data/format_data/collection_if.input
  kclvm/tools/src/format/test_data/format_data/comment.golden
  kclvm/tools/src/format/test_data/format_data/comment.input
  kclvm/tools/src/format/test_data/format_data/comp_for.golden
  kclvm/tools/src/format/test_data/format_data/comp_for.input
  kclvm/tools/src/format/test_data/format_data/empty.golden
  kclvm/tools/src/format/test_data/format_data/empty.input
  kclvm/tools/src/format/test_data/format_data/import.golden
  kclvm/tools/src/format/test_data/format_data/import.input
  kclvm/tools/src/format/test_data/format_data/indent.golden
  kclvm/tools/src/format/test_data/format_data/indent.input
  kclvm/tools/src/format/test_data/format_data/inline_comment.golden
  kclvm/tools/src/format/test_data/format_data/inline_comment.input
  kclvm/tools/src/format/test_data/format_data/lambda.golden
  kclvm/tools/src/format/test_data/format_data/lambda.input
  kclvm/tools/src/format/test_data/format_data/quant.golden
  kclvm/tools/src/format/test_data/format_data/quant.input
  kclvm/tools/src/format/test_data/format_data/schema.golden
  kclvm/tools/src/format/test_data/format_data/schema.input
  kclvm/tools/src/format/test_data/format_data/string.golden
  kclvm/tools/src/format/test_data/format_data/string.input
  kclvm/tools/src/format/test_data/format_data/type_alias.golden
  kclvm/tools/src/format/test_data/format_data/type_alias.input
  kclvm/tools/src/format/test_data/format_data/unary.golden
  kclvm/tools/src/format/test_data/format_data/unary.input
  kclvm/tools/src/format/test_data/format_path_data/folder/first.k
  kclvm/tools/src/format/test_data/format_path_data/folder/second.k
  kclvm/tools/src/format/test_data/format_path_data/if.k
  kclvm/tools/src/format/test_data/format_path_data/internal_pkg/test.k
  kclvm/tools/src/format/test_data/format_path_data/single_file.k
  kclvm/tools/src/format/tests.rs
  kclvm/tools/src/lib.rs
  kclvm/tools/src/util/mod.rs
Labels: enhancement, tool, feat

#114 refactor: deprecate the ./CONTRIBUTING.md and use ./docs/dev_guide/1.…
  CONTRIBUTING.md
  README.md
  README_ZH.md
  docs/dev_guide/1.about_this_guide.md
Labels: documentation

#113 test: add grammar and runtime tests on rust kclvm in the github acti…
  .github/workflows/github-actions.yaml
  kclvm/makefile
  kclvm/tests/integration/grammar/test_grammar.py
  test/grammar/option/option_help_0/main.k
  test/grammar/option/option_help_0/settings.yaml
  test/grammar/option/option_help_0/stdout.golden
  test/grammar/schema/init/init_patch_0/main.k
  test/grammar/schema/init/init_patch_0/stdout.golden
  test/grammar/schema/union/schema/instance_0/main.k
  test/grammar/schema/union/schema/instance_0/stdout.golden
  test/grammar/schema/union/schema/schema_0/main.k
  test/grammar/schema/union/schema/schema_0/stdout.golden
Labels: enhancement, test, ci

#108 refactor: refine cycle reference error messages and add unit test cases.
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/test_fail_data/cycle_reference/file1.k
  kclvm/sema/src/resolver/test_fail_data/cycle_reference/file2.k
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/ty/context.rs
Labels: error-handling, resolver

#120 refactor: support import deduplication for different aliased packages…
  internal/kclvm_py/tools/query/override.py
  kclvm/tools/src/query/override.rs
  kclvm/tools/src/query/test_data/import_paths.k
  kclvm/tools/src/query/tests.rs
Labels: enhancement, tool

#119 chore: format all code ready for adding cargo format check point in G…
  kclvm/3rdparty/rustc_data_structures/src/base_n.rs
  kclvm/3rdparty/rustc_data_structures/src/stable_map.rs
  kclvm/3rdparty/rustc_data_structures/src/stable_set.rs
  kclvm/3rdparty/rustc_data_structures/src/sync.rs
  kclvm/3rdparty/rustc_data_structures/src/temp_dir.rs
  kclvm/ast/src/config.rs
  kclvm/config/src/cache.rs
  kclvm/parser/src/lexer/mod.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/parser/mod.rs
  kclvm/parser/src/tests.rs
  kclvm/runner/benches/bench_runner.rs
  kclvm/runner/src/tests.rs
  kclvm/runtime/src/api/utils.rs
  kclvm/rustfmt.toml
  kclvm/sema/src/resolver/global.rs
  test/grammar/if/if_stmt/test_4/main.k
  test/grammar/if/if_stmt/test_4/stdout.golden
Labels: chore

#131 Fix(github action): modify rust toolchain version.
  .github/workflows/github-actions.yaml
Labels: bug, fix, test
