Repository kcl-lang/kcl, pull requests merged in 2022-11, with the labels that each got.

#278 Fix(KCL-Vet): Turn the execution mode of KCL-Vet's test cases from parallel to serial.
  kclvm/tools/src/vet/tests.rs
Labels: bug

#279 Fix(KCL-Vet): Turn the execution mode of kclvm-runner test cases from parallel to serial.
  kclvm/runner/src/tests.rs
Labels: bug

#276 refactor : use std::cell::RefCell to manege Value
  kclvm/parser/src/session/mod.rs
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/api/buf.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/api/utils.rs
  kclvm/runtime/src/base64/base64.rs
  kclvm/runtime/src/stdlib/builtin.rs
  kclvm/runtime/src/stdlib/builtin_api.rs
  kclvm/runtime/src/unification/subsume.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/iter.rs
  kclvm/runtime/src/value/val_args.rs
  kclvm/runtime/src/value/val_as_val.rs
  kclvm/runtime/src/value/val_bin.rs
  kclvm/runtime/src/value/val_bin_aug.rs
  kclvm/runtime/src/value/val_clone.rs
  kclvm/runtime/src/value/val_cmp.rs
  kclvm/runtime/src/value/val_dict.rs
  kclvm/runtime/src/value/val_fmt.rs
  kclvm/runtime/src/value/val_from.rs
  kclvm/runtime/src/value/val_get_set.rs
  kclvm/runtime/src/value/val_is_in.rs
  kclvm/runtime/src/value/val_json.rs
  kclvm/runtime/src/value/val_kind.rs
  kclvm/runtime/src/value/val_len.rs
  kclvm/runtime/src/value/val_list.rs
  kclvm/runtime/src/value/val_logic.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/runtime/src/value/val_schema.rs
  kclvm/runtime/src/value/val_str.rs
  kclvm/runtime/src/value/val_type.rs
  kclvm/runtime/src/value/val_unary.rs
  kclvm/runtime/src/value/val_union.rs
  kclvm/runtime/src/value/val_yaml.rs
  kclvm/tools/src/lib.rs
  kclvm/tools/src/util/loader.rs
  kclvm/tools/src/vet/expr_builder.rs
  kclvm/tools/src/vet/test_datas/invalid_validate_cases/test.k.stderr.json
Labels: runtime

#273 refactor: compiling kcl code to object file instead of dylib and packaging LLVM lld library statically into kclvm binary.
  .github/workflows/macos_test.yaml
  .github/workflows/ubuntu_test.yaml
  .gitignore
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/emit.rs
  kclvm/runner/Cargo.toml
  kclvm/runner/build.rs
  kclvm/runner/src/assembler.rs
  kclvm/runner/src/command.rs
  kclvm/runner/src/linker.cpp
  kclvm/runner/src/linker.rs
  kclvm/runner/src/tests.rs
  kclvm/tools/src/vet/tests.rs
Labels: release

#287 Fix(kclvm-codegen):rename kclvm function by 'pkgpath' and suffix 'kclvm_lambda'.
  kclvm/compiler/src/codegen/llvm/node.rs
  test/grammar/lambda/in_diff_pkg/kcl.mod
  test/grammar/lambda/in_diff_pkg/main.k
  test/grammar/lambda/in_diff_pkg/pkg/pkg.k
  test/grammar/lambda/in_diff_pkg/stdout.golden
Labels: bug, fix

#226 Enhancement(langserver): Add find references api
  kclvm/Cargo.lock
  kclvm/tools/Cargo.toml
  kclvm/tools/src/langserver/find_refs.rs
  kclvm/tools/src/langserver/go_to_def.rs
  kclvm/tools/src/langserver/mod.rs
  kclvm/tools/src/langserver/test_data/inherit.k
  kclvm/tools/src/langserver/test_data/inherit_pkg.k
  kclvm/tools/src/langserver/test_data/test_word_workspace/inherit.k
  kclvm/tools/src/langserver/test_data/test_word_workspace/inherit_pkg.k
  kclvm/tools/src/langserver/test_data/test_word_workspace_map/inherit.k
  kclvm/tools/src/langserver/test_data/test_word_workspace_map/inherit_pkg.k
  kclvm/tools/src/langserver/tests.rs
  kclvm/tools/src/langserver/word_map.rs
  kclvm/tools/src/lib.rs
Labels: resolver, langserver

#289 fix : avoid borrowing same ref in ValRef.union
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/value/val_union.rs
Labels: runtime

#285 feat: add manifests.yaml_stream impl at kclvm runtime.
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/api/utils.rs
  kclvm/runtime/src/context/mod.rs
  kclvm/runtime/src/lib.rs
  kclvm/runtime/src/manifests/mod.rs
  kclvm/runtime/src/manifests/tests.rs
  kclvm/runtime/src/manifests/yaml.rs
  kclvm/runtime/src/value/val_yaml.rs
Labels: runtime

#294 fix: long string quote in the AST printer tool
  internal/kclvm_py/tools/printer/printer.py
  kclvm/ast_pretty/src/node.rs
  kclvm/ast_pretty/src/test_data/str.input
  kclvm/ast_pretty/src/test_data/str.output
  kclvm/ast_pretty/src/tests.rs
  test/test_units/test_kclvm/test_tools/test_printer/test_data/str.input
  test/test_units/test_kclvm/test_tools/test_printer/test_data/str.output
  test/test_units/test_kclvm/test_tools/test_printer/test_printer.py
Labels: bug, tool

#295 fix : use hoisting to avoid refer to uninitialized variable
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/runner/src/exec_data/lambda_return_undefined.k
Labels: codegen

#300 refactor: run cargo clippy --fix at the kclvm_tools crate.
  kclvm/tools/src/format/tests.rs
  kclvm/tools/src/langserver/go_to_def.rs
  kclvm/tools/src/langserver/mod.rs
  kclvm/tools/src/langserver/tests.rs
  kclvm/tools/src/langserver/word_map.rs
  kclvm/tools/src/lint/mod.rs
  kclvm/tools/src/lint/tests.rs
  kclvm/tools/src/util/loader.rs
  kclvm/tools/src/util/tests.rs
  kclvm/tools/src/vet/expr_builder.rs
  kclvm/tools/src/vet/tests.rs
  kclvm/tools/src/vet/validator.rs
Labels: tool, refactor

#303 feat: reduce binaries size, remove internal python
  internal/kclvm_py/api/version/checksum.txt
  internal/kclvm_py/program/exec/kclvm_cli.py
  internal/kclvm_py/scripts/build-cpython.sh
  internal/kclvm_py/scripts/build-kclvm.sh
  internal/kclvm_py/scripts/cli/kcl
  internal/kclvm_py/scripts/cli/kcl-doc
  internal/kclvm_py/scripts/cli/kcl-fmt
  internal/kclvm_py/scripts/cli/kcl-lint
  internal/kclvm_py/scripts/cli/kcl-plugin
  internal/kclvm_py/scripts/cli/kcl-test
  internal/kclvm_py/scripts/cli/kcl-vet
  internal/kclvm_py/scripts/cli/kclvm
  internal/kclvm_py/scripts/kcllib-install.sh
  internal/kclvm_py/scripts/release.sh
  internal/kclvm_py/scripts/requirements.txt
  internal/kclvm_py/scripts/test_grammar.sh
  internal/kclvm_py/scripts/update-kclvm.sh
  internal/kclvm_py/unification/vertex.py
  kclvm/plugin/kclvm_runtime.py
  kclvm/version/src/lib.rs
  scripts/build-windows/build.bat
  scripts/build-windows/requirements.release.txt
  test/grammar/datatype/undefined/fail_1/_main.k
  test/grammar/datatype/undefined/fail_1/main.k
Labels: installation

#304 feat: auto-gen manifests yaml_stream runtime func.
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
Labels: runtime

#302 refactor: all ast ty filed remove #[serde(skip_serializing)]
  kclvm/ast/src/ast.rs
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/parser/tests.rs
  kclvm/parser/src/tests.rs
  kclvm/parser/testdata/assert-02.k.json
  kclvm/parser/testdata/assert-03.k.json
  kclvm/parser/testdata/assert-if-0.k.json
  kclvm/parser/testdata/assert-if-1.k.json
  kclvm/parser/testdata/assert-if-2.k.json
  kclvm/parser/testdata/assign-01.k.json
  kclvm/parser/testdata/config_expr-01.k.json
  kclvm/parser/testdata/config_expr-02.k.json
  kclvm/parser/testdata/config_expr-03.k.json
  kclvm/parser/testdata/config_expr-04.k.json
  kclvm/parser/testdata/if-01.k.json
  kclvm/parser/testdata/if-02.k.json
  kclvm/parser/testdata/if-03.k.json
  kclvm/parser/testdata/type-01.k.json
  kclvm/sema/src/resolver/global.rs
Labels: refactor, ast

#299 refactor: add index check error message in args check
  kclvm/sema/src/resolver/arg.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/resolver/test_fail_data/unmatched_args.k
  kclvm/sema/src/resolver/tests.rs
Labels: resolver

#305 chore: clean kclvm_py pip requirements.
  internal/kclvm_py/scripts/requirements.txt
  internal/kclvm_py/scripts/test_grammar.sh
  scripts/build-windows/requirements.release.txt
Labels: installation

#307 refactor: use external kclvm_py through pip in scripts
  .github/workflows/macos_test.yaml
  .github/workflows/ubuntu_test.yaml
  internal/scripts/build-kclvm.sh
  internal/scripts/build.sh
  internal/scripts/cli/kcl
  internal/scripts/cli/kcl-doc
  internal/scripts/cli/kcl-fmt
  internal/scripts/cli/kcl-lint
  internal/scripts/cli/kcl-plugin
  internal/scripts/cli/kcl-test
  internal/scripts/cli/kcl-vet
  internal/scripts/cli/kclvm
  internal/scripts/kcllib-install.sh
  internal/scripts/release.sh
  internal/scripts/test.sh
  internal/scripts/test_grammar.sh
  internal/scripts/update-kclvm.sh
  internal/spec/gpyrpc/gpyrpc.proto
  kclvm/capi/build.rs
  kclvm/capi/src/model/gpyrpc.rs
  kclvm/capi/src/service/api.rs
  kclvm/plugin/kclvm_runtime.py
  kclvm/runner/src/command.rs
  run.sh
  scripts/build-windows/Makefile
Labels: installation

#309 fix : encode yaml with opts
  kclvm/runtime/src/value/val_json.rs
  kclvm/runtime/src/value/val_yaml.rs
Labels: runtime

#308 feat: impl custom manifests output in the KCL UI and add more UI tests
  kclvm/capi/src/testdata/exec-program.response.json
  kclvm/runner/src/custom_manifests_data/dict.k
  kclvm/runner/src/custom_manifests_data/dict.stdout.golden
  kclvm/runner/src/custom_manifests_data/dict_ignore_none.k
  kclvm/runner/src/custom_manifests_data/dict_ignore_none.stdout.golden
  kclvm/runner/src/custom_manifests_data/dict_sort_key.k
  kclvm/runner/src/custom_manifests_data/dict_sort_key.stdout.golden
  kclvm/runner/src/custom_manifests_data/list.k
  kclvm/runner/src/custom_manifests_data/list.stdout.golden
  kclvm/runner/src/custom_manifests_data/schema.k
  kclvm/runner/src/custom_manifests_data/schema.stdout.golden
  kclvm/runner/src/custom_manifests_data/schema_ignore_none.k
  kclvm/runner/src/custom_manifests_data/schema_ignore_none.stdout.golden
  kclvm/runner/src/custom_manifests_data/schema_sort_key.k
  kclvm/runner/src/custom_manifests_data/schema_sort_key.stdout.golden
  kclvm/runner/src/lib.rs
  kclvm/runner/src/tests.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/sema/src/builtin/system_module.rs
Labels: feat, resolver

#312 chore: remove unused internal files.
  internal/MANIFEST.in
  internal/__init__.py
  internal/setup.py
Labels: refactor
