Repository kcl-lang/kcl, pull requests merged in 2022-12, with the labels that each got.

#317 refactor: remove rust std lib deps in libkclvm release
  internal/scripts/update-kclvm.sh
  kclvm/runner/src/command.rs
Labels: runtime, release

#319 docs: update README-zh header.
  README-zh.md
Labels: documentation

#318 refactor: enhance panic info in schema
  kclvm/runner/src/exec_err_data/attr_not_found.k
  kclvm/runner/src/exec_err_data/attr_not_found.stderr.json
  kclvm/runner/src/tests.rs
  kclvm/runtime/src/value/api.rs
Labels: runtime

#321 fix : generate rule construct function correctly
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/sema/src/resolver/global.rs
  test/grammar/schema/rule/fail/main.k
  test/grammar/schema/rule/fail/stderr.golden.py
  test/grammar/schema/rule/simple/main.k
  test/grammar/schema/rule/simple/stdout.golden
Labels: codegen

#326 enhance: config unification conflict value error message
  kclvm/runtime/src/value/val_union.rs
Labels: runtime

#327 feat: add kclvm release dockerfile
  scripts/docker/kclvm/Dockerfile
Labels: release

#334 fix: yaml steam decode and sync API call in main.rs and lib.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/runtime/src/value/val_json.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/runtime/src/value/val_yaml.rs
  kclvm/src/lib.rs
  test/grammar/datatype/str/long_str_0/main.k
  test/grammar/datatype/str/long_str_0/stdout.golden
Labels: runtime

#329 refactor: add build target to cache path
  kclvm/config/src/cache.rs
  kclvm/runner/build.rs
  kclvm/runner/src/assembler.rs
Labels: runner

#331 fix : support list/dict subscript format in KCL string
  kclvm/runtime/src/value/val_fmt.rs
Labels: runtime

#330 refactor : import kclvm capi function into src/lib.rs
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/capi/Cargo.toml
  kclvm/capi/src/service/api.rs
  kclvm/src/lib.rs
Labels: api

#324 Fix(kclvm-lexer): Get the source code str from 'SourceMap'.
  kclvm/lexer/src/lib.rs
  kclvm/lexer/src/tests.rs
  kclvm/parser/src/lexer/tests.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/parser/tests.rs
  kclvm/parser/testdata/hello_win.k
  kclvm/parser/testdata/hello_win.k.json
Labels: bug, fix

#340 Add Linker with external cc for windows release.
  kclvm/runner/Cargo.toml
  kclvm/runner/src/command.rs
  kclvm/runner/src/linker.rs
  kclvm/runner/src/tests.rs
Labels: release, linker

#343 refactor : remove libkclvm
  internal/scripts/update-kclvm.sh
  kclvm/Cargo.toml
  kclvm/capi/src/service/api.rs
  kclvm/capi/src/service/service.rs
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/compiler/src/codegen/llvm/schema.rs
  kclvm/compiler/src/codegen/llvm/utils.rs
  kclvm/error/src/lib.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/session/mod.rs
  kclvm/plugin/kclvm_plugin.i
  kclvm/plugin/kclvm_plugin.py
  kclvm/plugin/kclvm_runtime.py
  kclvm/runner/src/command.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/runner/src/tests.rs
  kclvm/runtime/Cargo.toml
  kclvm/runtime/src/context/api.rs
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/ty/into.rs
  kclvm/sema/src/ty/parser.rs
  kclvm/src/lib.rs
  kclvm/src/main.rs
  kclvm/tests/fuzz/fuzz_targets/fuzz_parser.rs
  scripts/build-windows/Makefile
  scripts/build-windows/build.bat
Labels: release, linker

#344 refactor: update readme content with the kcl website instead of the kusion stack website
  README-zh.md
  README.md
  samples/kubernetes.k
Labels: docs

#345 Feat(kclvm): add linking args for cl.exe on windows and add build.bat for build kclvm on windows.
  .github/workflows/windows_test.yaml
  build_win.bat
  kclvm/ast_pretty/src/tests.rs
  kclvm/compiler/src/codegen/llvm/mod.rs
  kclvm/runner/src/command.rs
  kclvm/runner/src/lib.rs
  scripts/build-windows/Makefile
  scripts/build-windows/build-win-installer.nsi
  scripts/build-windows/build.bat
  scripts/build-windows/build_kclvm_cli.bat
  scripts/build-windows/install-rust-std.go
  scripts/build-windows/readme.md
Labels: enhancement, feat

#347 docs: bump kcl-lang.github.io to kcl-lang.io
  README-zh.md
  README.md
Labels: docs
