Repository kcl-lang/kcl, pull requests merged in 2022-09, with the labels that each got.

#170 Feat(Compiler-Base): Add diagnostic handler.
  kclvm/compiler_base/3rdparty/rustc_span/src/lib.rs
  kclvm/compiler_base/error/Cargo.toml
  kclvm/compiler_base/error/src/diagnostic/components.rs
  kclvm/compiler_base/error/src/diagnostic/diagnostic_handler.rs
  kclvm/compiler_base/error/src/diagnostic/diagnostic_message.rs
  kclvm/compiler_base/error/src/diagnostic/mod.rs
  kclvm/compiler_base/error/src/diagnostic/style.rs
  kclvm/compiler_base/error/src/diagnostic/tests.rs
  kclvm/compiler_base/error/src/emitter.rs
  kclvm/compiler_base/error/src/lib.rs
  kclvm/compiler_base/error/src/tests.rs
  kclvm/compiler_base/span/src/lib.rs
Labels: enhancement, error-handling, feat

#176 Fix(compiler-base): fix doc string mistakes.
  kclvm/compiler_base/error/src/diagnostic/diagnostic_handler.rs
Labels: error-handling, feat, fix

#179 feat: add override print args in the exec function.
  kclvm/src/lib.rs
  kclvm/tools/src/query/override.rs
Labels: tool

#181 Fix: lint docs error
  kclvm/tools/src/lint/mod.rs
Labels: tool

#185 Refactor(compiler-base): refactor trait component and add errors.
  kclvm/compiler_base/error/src/diagnostic/components.rs
  kclvm/compiler_base/error/src/diagnostic/diagnostic_handler.rs
  kclvm/compiler_base/error/src/diagnostic/mod.rs
  kclvm/compiler_base/error/src/diagnostic/tests.rs
  kclvm/compiler_base/error/src/emitter.rs
  kclvm/compiler_base/error/src/errors.rs
  kclvm/compiler_base/error/src/lib.rs
  kclvm/compiler_base/error/src/tests.rs
Labels: error-handling, refactor

#186 Feat(compiler-base): add util functions to span.
  internal/kclvm_py/scripts/requirements.txt
  kclvm/compiler_base/span/src/lib.rs
  kclvm/compiler_base/span/src/span.rs
  kclvm/compiler_base/span/src/test_datas/code_snippet
  scripts/build-windows/requirements.release.txt
Labels: enhancement, error-handling, feat

#190 Feat(Compiler-Base): Add code snippet component
  kclvm/compiler_base/3rdparty/rustc_errors/src/styled_buffer.rs
  kclvm/compiler_base/error/src/diagnostic/components.rs
  kclvm/compiler_base/error/src/diagnostic/test_datas/code_snippet
  kclvm/compiler_base/error/src/diagnostic/tests.rs
Labels: error-handling, feat

#192 refactor(compiler-base): move 'compiler_base' from 'KCLVM/kclvm' to 'KCLVM'.
  compiler_base/3rdparty/rustc_data_structures/Cargo.toml
  compiler_base/3rdparty/rustc_data_structures/src/LICENSE
  compiler_base/3rdparty/rustc_data_structures/src/atomic_ref.rs
  compiler_base/3rdparty/rustc_data_structures/src/base_n.rs
  compiler_base/3rdparty/rustc_data_structures/src/captures.rs
  compiler_base/3rdparty/rustc_data_structures/src/flock.rs
  compiler_base/3rdparty/rustc_data_structures/src/frozen.rs
  compiler_base/3rdparty/rustc_data_structures/src/fx.rs
  compiler_base/3rdparty/rustc_data_structures/src/lib.rs
  compiler_base/3rdparty/rustc_data_structures/src/macros.rs
  compiler_base/3rdparty/rustc_data_structures/src/stable_map.rs
  compiler_base/3rdparty/rustc_data_structures/src/stable_set.rs
  compiler_base/3rdparty/rustc_data_structures/src/stack.rs
  compiler_base/3rdparty/rustc_data_structures/src/sync.rs
  compiler_base/3rdparty/rustc_data_structures/src/temp_dir.rs
  compiler_base/3rdparty/rustc_data_structures/src/unhash.rs
  compiler_base/3rdparty/rustc_errors/Cargo.toml
  compiler_base/3rdparty/rustc_errors/src/LICENSE
  compiler_base/3rdparty/rustc_errors/src/README.md
  compiler_base/3rdparty/rustc_errors/src/lib.rs
  compiler_base/3rdparty/rustc_errors/src/lock.rs
  compiler_base/3rdparty/rustc_errors/src/styled_buffer.rs
  compiler_base/3rdparty/rustc_span/Cargo.toml
  compiler_base/3rdparty/rustc_span/src/LICENSE
  compiler_base/3rdparty/rustc_span/src/README.md
  compiler_base/3rdparty/rustc_span/src/analyze_source_file.rs
  compiler_base/3rdparty/rustc_span/src/caching_source_map_view.rs
  compiler_base/3rdparty/rustc_span/src/fatal_error.rs
  compiler_base/3rdparty/rustc_span/src/lib.rs
  compiler_base/3rdparty/rustc_span/src/source_map.rs
  compiler_base/3rdparty/rustc_span/src/span_encoding.rs
  compiler_base/Cargo.toml
  compiler_base/error/Cargo.toml
  compiler_base/error/src/diagnostic/components.rs
  compiler_base/error/src/diagnostic/diagnostic_handler.rs
  compiler_base/error/src/diagnostic/diagnostic_message.rs
  compiler_base/error/src/diagnostic/locales/en-US/default.ftl
  compiler_base/error/src/diagnostic/locales/en-US/test/default1.ftl
  compiler_base/error/src/diagnostic/mod.rs
  compiler_base/error/src/diagnostic/style.rs
  compiler_base/error/src/diagnostic/test_datas/code_snippet
  compiler_base/error/src/diagnostic/tests.rs
  compiler_base/error/src/emitter.rs
  compiler_base/error/src/errors.rs
  compiler_base/error/src/lib.rs
  compiler_base/error/src/tests.rs
  compiler_base/macros/Cargo.toml
  compiler_base/macros/src/bug.rs
  compiler_base/macros/src/lib.rs
  compiler_base/macros/src/tests.rs
  compiler_base/span/Cargo.toml
  compiler_base/span/src/lib.rs
  compiler_base/span/src/span.rs
  compiler_base/span/src/test_datas/code_snippet
  compiler_base/src/lib.rs
Labels: error-handling, feat, refactor

#182 docs: refine KCLVM readme
  .github/workflows/kcl.yml
  README-zh.md
  README.md
  README_ZH.md
  samples/fib.k
Labels: docs

#194 refactor(compiler_base): fix warnings by 'cargo clippy' for Compiler_Base.
  compiler_base/error/src/diagnostic/components.rs
  compiler_base/error/src/diagnostic/diagnostic_handler.rs
  compiler_base/error/src/diagnostic/diagnostic_message.rs
  compiler_base/error/src/diagnostic/mod.rs
  compiler_base/error/src/diagnostic/tests.rs
  compiler_base/error/src/emitter.rs
  compiler_base/error/src/tests.rs
Labels: error-handling, feat, refactor

#197 Feat(Compiler-Base): Add package config in cargo.toml and README.md.
  compiler_base/Cargo.toml
  compiler_base/README.md
Labels: error-handling, feat

#199 chore: add the `constraints` word link.
  README-zh.md
  README.md
Labels: documentation

#203 refactor: refine links in readme.
  README-zh.md
  README.md
Labels: documentation

#204 refactor(compiler-base): remove compiler-base in kclvm.
  kclvm/compiler_base/3rdparty/rustc_data_structures/Cargo.toml
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/LICENSE
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/atomic_ref.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/base_n.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/captures.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/flock.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/frozen.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/fx.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/lib.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/macros.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/stable_map.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/stable_set.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/stack.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/sync.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/temp_dir.rs
  kclvm/compiler_base/3rdparty/rustc_data_structures/src/unhash.rs
  kclvm/compiler_base/3rdparty/rustc_errors/Cargo.toml
  kclvm/compiler_base/3rdparty/rustc_errors/src/LICENSE
  kclvm/compiler_base/3rdparty/rustc_errors/src/README.md
  kclvm/compiler_base/3rdparty/rustc_errors/src/lib.rs
  kclvm/compiler_base/3rdparty/rustc_errors/src/lock.rs
  kclvm/compiler_base/3rdparty/rustc_errors/src/styled_buffer.rs
  kclvm/compiler_base/3rdparty/rustc_span/Cargo.toml
  kclvm/compiler_base/3rdparty/rustc_span/src/LICENSE
  kclvm/compiler_base/3rdparty/rustc_span/src/README.md
  kclvm/compiler_base/3rdparty/rustc_span/src/analyze_source_file.rs
  kclvm/compiler_base/3rdparty/rustc_span/src/caching_source_map_view.rs
  kclvm/compiler_base/3rdparty/rustc_span/src/fatal_error.rs
  kclvm/compiler_base/3rdparty/rustc_span/src/lib.rs
  kclvm/compiler_base/3rdparty/rustc_span/src/source_map.rs
  kclvm/compiler_base/3rdparty/rustc_span/src/span_encoding.rs
  kclvm/compiler_base/Cargo.toml
  kclvm/compiler_base/error/Cargo.toml
  kclvm/compiler_base/error/src/diagnostic/components.rs
  kclvm/compiler_base/error/src/diagnostic/diagnostic_handler.rs
  kclvm/compiler_base/error/src/diagnostic/diagnostic_message.rs
  kclvm/compiler_base/error/src/diagnostic/locales/en-US/default.ftl
  kclvm/compiler_base/error/src/diagnostic/locales/en-US/test/default1.ftl
  kclvm/compiler_base/error/src/diagnostic/mod.rs
  kclvm/compiler_base/error/src/diagnostic/style.rs
  kclvm/compiler_base/error/src/diagnostic/test_datas/code_snippet
  kclvm/compiler_base/error/src/diagnostic/tests.rs
  kclvm/compiler_base/error/src/emitter.rs
  kclvm/compiler_base/error/src/errors.rs
  kclvm/compiler_base/error/src/lib.rs
  kclvm/compiler_base/error/src/tests.rs
  kclvm/compiler_base/macros/Cargo.toml
  kclvm/compiler_base/macros/src/bug.rs
  kclvm/compiler_base/macros/src/lib.rs
  kclvm/compiler_base/macros/src/tests.rs
  kclvm/compiler_base/span/Cargo.toml
  kclvm/compiler_base/span/src/lib.rs
  kclvm/compiler_base/span/src/span.rs
  kclvm/compiler_base/span/src/test_datas/code_snippet
  kclvm/compiler_base/src/lib.rs
Labels: enhancement, error-handling, refactor

#206 Feat(compiler_base): add compiler_base_session
  compiler_base/Cargo.toml
  compiler_base/session/Cargo.toml
  compiler_base/session/src/lib.rs
  compiler_base/session/src/test_datas/code_snippet
  compiler_base/session/src/test_datas/locales/en-US/default.ftl
  compiler_base/session/src/test_datas/locales/en-US/test/default1.ftl
Labels: error-handling, feat

#207 feat(compiler_base): add config for crate.io.
  compiler_base/3rdparty/rustc_data_structures/Cargo.toml
  compiler_base/3rdparty/rustc_data_structures/README.md
  compiler_base/3rdparty/rustc_errors/Cargo.toml
  compiler_base/3rdparty/rustc_errors/README.md
  compiler_base/3rdparty/rustc_span/Cargo.toml
  compiler_base/3rdparty/rustc_span/README.md
  compiler_base/Cargo.toml
  compiler_base/error/Cargo.toml
  compiler_base/error/README.md
  compiler_base/macros/Cargo.toml
  compiler_base/macros/README.md
  compiler_base/session/Cargo.toml
  compiler_base/session/README.md
  compiler_base/span/Cargo.toml
  compiler_base/span/README.md
Labels: enhancement, error-handling, feat

#209 Refactor(compiler_base): refactor struct `Session`.
  compiler_base/session/src/lib.rs
Labels: refactor

#210 Fix(compiler_base): fix file path bug in `DiagnosticHandler::default()`.
  compiler_base/error/src/diagnostic/diagnostic_handler.rs
Labels: bug, error-handling, fix

#211 refactor(compiler_base): new version for crate.io
  compiler_base/error/Cargo.toml
  compiler_base/session/Cargo.toml
Labels: enhancement, error-handling, feat

#215 Fix(kclvm-runner): Fixed file locks in kclvm-runner.
  kclvm/Cargo.lock
  kclvm/runner/Cargo.toml
  kclvm/runner/src/assembler.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/tests.rs
  kclvm/sema/src/ty/into.rs
Labels: bug, enhancement

#218 refactor: refine cli functions with api and evaluation error into the…
  kclvm/capi/src/service/service.rs
  kclvm/error/src/error.rs
  kclvm/error/src/error_codes/E3M38.md
  kclvm/error/src/lib.rs
  kclvm/runner/src/lib.rs
  kclvm/runtime/src/context/mod.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/src/main.rs
Labels: runtime, CLI

#217 chore: bump protobuf deps to 3.19.5
  internal/kclvm_py/scripts/requirements.txt
  scripts/build-windows/requirements.release.txt
Labels: security

#219 Feat(kclvm-tools): add json/yaml file loader for KCL-Vet.
  kclvm/Cargo.lock
  kclvm/tools/Cargo.toml
  kclvm/tools/src/util/loader.rs
  kclvm/tools/src/util/mod.rs
  kclvm/tools/src/util/test_datas/test.json
  kclvm/tools/src/util/test_datas/test.yaml
  kclvm/tools/src/util/test_datas/test_invalid.json
  kclvm/tools/src/util/test_datas/test_invalid.yaml
  kclvm/tools/src/util/tests.rs
Labels: feat, refactor

#221 refactor: enhance config override at compile time.
  kclvm/sema/src/pre_process/config.rs
  kclvm/sema/src/pre_process/test_data/config_override.k
  kclvm/sema/src/pre_process/tests.rs
Labels: semantic
