Repository kcl-lang/kcl, pull requests merged in 2023-12, with the labels that each got.

#942 fix: fix import pkg asname check in resolver
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/test_data/pkg_asname/pkg/main.k
  kclvm/sema/src/resolver/test_data/pkg_asname/pkg/sub_pkg/main.k
  kclvm/sema/src/resolver/test_data/pkg_asname/pkg_asname.k
  kclvm/sema/src/resolver/tests.rs
Labels: resolver

#943 fix: fix completion for pkg alias name
  kclvm/sema/src/core/package.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/assign/completion.k
Labels: lsp

#957 feat: enhance lsp complete for function params
  kclvm/tools/src/LSP/src/completion.rs
Labels: lsp

#958 fix: doc gen string format
  kclvm/sema/src/resolver/doc.rs
  kclvm/tools/src/LSP/src/completion.rs
Labels: bug

#959 fix: rm the last newline for the fmt action of lambda expr
  kclvm/ast_pretty/src/node.rs
  kclvm/ast_pretty/src/test_data/lambda.output
  kclvm/tools/src/format/test_data/format_data/lambda.golden
Labels: fix

#960 feat: impl configurable cache path
  kclvm/config/src/cache.rs
  kclvm/runner/src/assembler.rs
Labels: feat, runner

#961 feat: enhance lsp complete for schema value and schema type.
  kclvm/tools/src/LSP/src/completion.rs
Labels: lsp

#965 feat: add more test cases for goto def with dependencies whose names contain underline
  kclvm/driver/src/test_data/kpm_metadata_with_line/dep-with-line/kcl.mod
  kclvm/driver/src/test_data/kpm_metadata_with_line/dep-with-line/kcl.mod.lock
  kclvm/driver/src/test_data/kpm_metadata_with_line/dep-with-line/main.k
  kclvm/driver/src/test_data/kpm_metadata_with_line/main_pkg/kcl.mod
  kclvm/driver/src/test_data/kpm_metadata_with_line/main_pkg/kcl.mod.lock
  kclvm/driver/src/test_data/kpm_metadata_with_line/main_pkg/main.k
  kclvm/driver/src/tests.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/test_data/goto_def_with_line_test/dep-with-line/kcl.mod
  kclvm/tools/src/LSP/src/test_data/goto_def_with_line_test/dep-with-line/kcl.mod.lock
  kclvm/tools/src/LSP/src/test_data/goto_def_with_line_test/dep-with-line/main.k
  kclvm/tools/src/LSP/src/test_data/goto_def_with_line_test/main_pkg/kcl.mod
  kclvm/tools/src/LSP/src/test_data/goto_def_with_line_test/main_pkg/kcl.mod.lock
  kclvm/tools/src/LSP/src/test_data/goto_def_with_line_test/main_pkg/main.k
Labels: enhancement

#928 feat: add api rename code
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/testdata/rename-code.json
  kclvm/api/src/testdata/rename-code.response.json
  kclvm/api/src/testdata/rename.json
  kclvm/parser/src/lib.rs
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/rename.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/test_data/find_refs_test/kcl.mod
  kclvm/tools/src/LSP/src/util.rs
Labels: enhancement, api

#967 fix: remove useless import
  kclvm/parser/src/lib.rs
  kclvm/tools/src/LSP/src/rename.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: enhancement
