Repository kcl-lang/kcl, pull requests merged in 2023-08, with the labels that each got.

#633 feat: enhance get schema type API with more information.
  internal/spec/gpyrpc/gpyrpc.proto
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/service/ty.rs
  kclvm/api/src/testdata/get-schema-type-mapping.json
  kclvm/api/src/testdata/get-schema-type-mapping.response.json
  kclvm/runner/src/runner.rs
  kclvm/runner/src/test_datas/exec_prog_args/default.json
  kclvm/runner/src/test_datas/settings_file/settings.json
Labels: api

#621 feat: enhance lsp hover
  kclvm/sema/src/resolver/doc.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/test_data/hover_test/hover.k
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#639 chore: add github download badge
  README-zh.md
  README.md
Labels: chore

#638 Feat: Change diagnostic position from pos(start) to range(start, end)
  kclvm/ast/src/ast.rs
  kclvm/ast/src/pos.rs
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/error/src/diagnostic.rs
  kclvm/error/src/error.rs
  kclvm/error/src/lib.rs
  kclvm/parser/src/lib.rs
  kclvm/sema/src/lint/lints_def.rs
  kclvm/sema/src/resolver/arg.rs
  kclvm/sema/src/resolver/attr.rs
  kclvm/sema/src/resolver/calculation.rs
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/loop.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/para.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/resolver/ty.rs
  kclvm/sema/src/resolver/var.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/to_lsp.rs
  kclvm/tools/src/lint/mod.rs
Labels: lsp

#641 chore: remove internal/scripts folder and move it to scripts.
  kclvm/api/build.rs
  kclvm/api/src/service/capi.rs
  kclvm/parser/src/lexer/indent.rs
  kclvm/parser/src/lexer/mod.rs
  kclvm/sema/src/resolver/calculation.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
  kclvm/tests/fuzz/Cargo.lock
  kclvm/tests/fuzz/Cargo.toml
  run.sh
  samples/README.md
  scripts/build.sh
  scripts/cli/kcl
  scripts/cli/kcl-doc
  scripts/cli/kcl-fmt
  scripts/cli/kcl-lint
  scripts/cli/kcl-plugin
  scripts/cli/kcl-test
  scripts/cli/kcl-vet
  scripts/cli/kclvm
  scripts/python-plugin/build-cpython.sh
  scripts/python-plugin/build-kcl.sh
  scripts/python-plugin/cli/kcl
  scripts/python-plugin/cli/kcl-doc
  scripts/python-plugin/cli/kcl-fmt
  scripts/python-plugin/cli/kcl-lint
  scripts/python-plugin/cli/kcl-plugin
  scripts/python-plugin/cli/kcl-test
  scripts/python-plugin/cli/kcl-vet
  scripts/python-plugin/release.sh
  scripts/release.sh
Labels: chore

#642 fix: add and check the k code list to the entry.
  kclvm/config/src/path.rs
  kclvm/parser/src/entry.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/testdata/test_k_code_list/main.k
  kclvm/parser/src/testdata/test_k_code_list/main1.k
  kclvm/parser/src/tests.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: bug

#644 chore: deprecate useless runtime ty api
  VERSION
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/types/api.rs
  kclvm/runtime/src/types/mod.rs
Labels: duplicate, runtime

#646 feat: diagnostic related info
  kclvm/tools/src/LSP/src/test_data/diagnostics.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/to_lsp.rs
Labels: lsp

#648 refactor: enhance runtime union ty check
  VERSION
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/compiler/src/codegen/llvm/schema.rs
  kclvm/compiler/src/codegen/traits/value.rs
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/types/typ_new.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/val_schema.rs
  kclvm/runtime/src/value/val_type.rs
  test/grammar/types/union_ty/union_ty_0/main.k
  test/grammar/types/union_ty/union_ty_0/stdout.golden
  test/grammar/types/union_ty/union_ty_1/main.k
  test/grammar/types/union_ty/union_ty_1/stdout.golden
  test/grammar/types/union_ty/union_ty_10/main.k
  test/grammar/types/union_ty/union_ty_10/stdout.golden
  test/grammar/types/union_ty/union_ty_2/main.k
  test/grammar/types/union_ty/union_ty_2/stdout.golden
  test/grammar/types/union_ty/union_ty_3/main.k
  test/grammar/types/union_ty/union_ty_3/stdout.golden
  test/grammar/types/union_ty/union_ty_4/main.k
  test/grammar/types/union_ty/union_ty_4/stdout.golden
  test/grammar/types/union_ty/union_ty_5/main.k
  test/grammar/types/union_ty/union_ty_5/stdout.golden
  test/grammar/types/union_ty/union_ty_6/main.k
  test/grammar/types/union_ty/union_ty_6/stdout.golden
  test/grammar/types/union_ty/union_ty_7/main.k
  test/grammar/types/union_ty/union_ty_7/stdout.golden
  test/grammar/types/union_ty/union_ty_8/main.k
  test/grammar/types/union_ty/union_ty_8/stdout.golden
  test/grammar/types/union_ty/union_ty_9/main.k
  test/grammar/types/union_ty/union_ty_9/stdout.golden
  test/grammar/types/union_ty/union_ty_err_0/main.k
  test/grammar/types/union_ty/union_ty_err_0/stderr.golden.py
  test/grammar/types/union_ty/union_ty_err_1/main.k
  test/grammar/types/union_ty/union_ty_err_1/stderr.golden.py
Labels: runtime, refactor

#649 bugfix: doc parser panic when empty line length less than min margin
  kclvm/sema/src/resolver/doc.rs
  kclvm/sema/src/resolver/test_data/doc.txt
Labels: bug, resolver

#658 feat: enhance get schema type API with default value.
  kclvm/api/src/service/ty.rs
  kclvm/api/src/testdata/get-schema-type-mapping.json
  kclvm/api/src/testdata/get-schema-type-mapping.response.json
  kclvm/ast_pretty/src/lib.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/ty/mod.rs
Labels: api, resolver

#659 feat: impl include schema type path for planned values including JSON and YAML.
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/into.rs
  kclvm/api/src/testdata/exec-program-with-include-schema-type-path.json
  kclvm/api/src/testdata/exec-program-with-include-schema-type-path.response.json
  kclvm/config/src/settings.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/runner/src/test_datas/exec_prog_args/default.json
  kclvm/runner/src/test_datas/settings_file/settings.json
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: api, runtime

#660 fix: replace "__main__" by package name when parse import statments in entry.
  kclvm/cmd/src/test_data/instances/test_inst_10/expected
  kclvm/cmd/src/test_data/instances/test_inst_10/kcl.yaml
  kclvm/cmd/src/test_data/instances/test_inst_10/test_inst_101/kcl.mod
  kclvm/cmd/src/test_data/instances/test_inst_10/test_inst_101/main.k
  kclvm/cmd/src/test_data/instances/test_inst_10/test_inst_102/kcl.mod
  kclvm/cmd/src/test_data/instances/test_inst_10/test_inst_102/main.k
  kclvm/cmd/src/test_data/instances/test_inst_9/expected
  kclvm/cmd/src/test_data/instances/test_inst_9/kcl.yaml
  kclvm/cmd/src/test_data/instances/test_inst_9/test_inst_91/kcl.mod
  kclvm/cmd/src/test_data/instances/test_inst_9/test_inst_91/main.k
  kclvm/cmd/src/test_data/instances/test_inst_9/test_inst_92/kcl.mod
  kclvm/cmd/src/test_data/instances/test_inst_9/test_inst_92/main.k
  kclvm/cmd/src/test_data/instances/test_inst_9/test_inst_92/sub/main.k
  kclvm/cmd/src/tests.rs
  kclvm/parser/src/lib.rs
Labels: bug

#662 fix: schema check failed error message.
  kclvm/runtime/src/value/api.rs
Labels: runtime, error-handling

#661 feat: support format tool error recovery and error indent/dedent code format
  kclvm/api/src/service/service_impl.rs
  kclvm/ast/src/token.rs
  kclvm/cmd/src/fmt.rs
  kclvm/parser/src/lexer/indent.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/parser/expr.rs
  kclvm/tools/src/format/mod.rs
  kclvm/tools/src/format/tests.rs
Labels: parser, tool

#672 fix: require attr check for nested list and config values.
  VERSION
  kclvm/runtime/src/value/val_schema.rs
  test/grammar/schema/optional_attr/fail_13/main.k
  test/grammar/schema/optional_attr/fail_13/stderr.golden.py
  test/grammar/schema/optional_attr/fail_14/main.k
  test/grammar/schema/optional_attr/fail_14/stderr.golden.py
Labels: bug, runtime

#665 feat: add lsp db to store compile state.
  kclvm/Cargo.lock
  kclvm/ast/src/ast.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/analysis.rs
  kclvm/tools/src/LSP/src/db.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
Labels: lsp

#674 bugfix: fix schema attr position in sema type
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/ty/mod.rs
Labels: bug, resolver, lsp

#652 feat: lsp quick fix
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/lib.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/quick_fix.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/test_data/diagnostics.k
  kclvm/tools/src/LSP/src/test_data/hover_test/hover.k
  kclvm/tools/src/LSP/src/test_data/quick_fix.k
  kclvm/tools/src/LSP/src/tests.rs
Labels: ide, lsp

#677 fix: fix some missing diagnostics in parser.
  kclvm/cmd/src/test_data/plugin/plugin_not_found/kcl.mod
  kclvm/cmd/src/test_data/plugin/plugin_not_found/main.k
  kclvm/cmd/src/tests.rs
  kclvm/runner/src/lib.rs
Labels: bug, parser, error-handling

#678 feat: enhance config attribute type inference through the config attribute type map.
  kclvm/api/src/service/ty.rs
  kclvm/sema/src/resolver/attr.rs
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/loop.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/ty.rs
  kclvm/sema/src/ty/constructor.rs
  kclvm/sema/src/ty/context.rs
  kclvm/sema/src/ty/into.rs
  kclvm/sema/src/ty/mod.rs
  kclvm/sema/src/ty/walker.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  test/grammar/types/union_ty/union_ty_11/main.k
  test/grammar/types/union_ty/union_ty_11/stdout.golden
  test/grammar/types/union_ty/union_ty_12/main.k
  test/grammar/types/union_ty/union_ty_12/stdout.golden
Labels: type-system, resolver

#680 feat: integrate kcl fmt tools to lsp. Suport formmat single file
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/formatting.rs
  kclvm/tools/src/LSP/src/lib.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#682 feat: lsp range fmt
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/formatting.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/test_data/format/format_range.k
  kclvm/tools/src/LSP/src/tests.rs
Labels: ide, lsp

#684 feat: add resolve print options for the resolver to speedup the normal compilation process
  kclvm/query/src/query.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/tools/src/LSP/src/request.rs
Labels: semantic

#683 feat: lsp find_def for dict type
  kclvm/sema/src/resolver/node.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/test_data/goto_def_test/goto_def.k
  kclvm/tools/src/LSP/src/tests.rs
Labels: semantic, lsp

#687 bugfix: fix ConfigEntry and ConfigIfEntry expr position err
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/parser/tests.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_11.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_12.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_13.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_14.snap
  kclvm/sema/src/pre_process/config.rs
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/tools/src/LSP/src/test_data/goto_def_test/goto_def.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: parser, semantic, resolver, lsp

#685 test: add benchmarks to existing lsp tests
  kclvm/Cargo.lock
  kclvm/tools/benches/benchmark.rs
  kclvm/tools/benches/proc_macro_crate/Cargo.toml
  kclvm/tools/benches/proc_macro_crate/src/lib.rs
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#688 feat: lsp completion for config expr
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/dot/completion.k
  kclvm/tools/src/LSP/src/tests.rs
Labels: resolver, lsp

#689 feat: support find kcl files from 'workdir'.
  .github/workflows/ubuntu_test.yaml
  .gitignore
  kclvm/cmd/src/test_data/instances/test_inst_11/kcl.mod
  kclvm/cmd/src/test_data/instances/test_inst_11/model/main.k
  kclvm/cmd/src/test_data/instances/test_inst_11/sub/main.k
  kclvm/cmd/src/test_data/instances/test_inst_11/test_inst_111/expected
  kclvm/cmd/src/test_data/instances/test_inst_11/test_inst_111/kcl.mod
  kclvm/cmd/src/test_data/instances/test_inst_11/test_inst_111/kcl.yaml
  kclvm/cmd/src/test_data/instances/test_inst_11/test_inst_111/main.k
  kclvm/cmd/src/tests.rs
  kclvm/config/src/modfile.rs
  kclvm/driver/src/lib.rs
  kclvm/makefile
  kclvm/parser/src/entry.rs
  kclvm/parser/src/lib.rs
  kclvm/tools/src/LSP/src/request.rs
Labels: enhancement

#690 chore: bump kcl version to v0.5.6
  VERSION
Labels: chore
