Repository kcl-lang/kcl, pull requests merged in 2023-11, with the labels that each got.

#827 feat: modify `TypeRef` from Rc<Type> to Arc<Type>
  kclvm/sema/src/builtin/decorator.rs
  kclvm/sema/src/builtin/mod.rs
  kclvm/sema/src/builtin/string.rs
  kclvm/sema/src/builtin/system_module.rs
  kclvm/sema/src/resolver/attr.rs
  kclvm/sema/src/resolver/calculation.rs
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/resolver/ty.rs
  kclvm/sema/src/ty/constants.rs
  kclvm/sema/src/ty/constructor.rs
  kclvm/sema/src/ty/context.rs
  kclvm/sema/src/ty/into.rs
  kclvm/sema/src/ty/mod.rs
  kclvm/sema/src/ty/parser.rs
  kclvm/sema/src/ty/tests.rs
  kclvm/sema/src/ty/unify.rs
  kclvm/sema/src/ty/walker.rs
  kclvm/tools/src/LSP/src/goto_def.rs
Labels: semantic, type-system

#828 Dev/boying/runtime clean
  kclvm/runtime/src/_kcl_run.rs
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/api/buf.rs
  kclvm/runtime/src/api/malloc.rs
  kclvm/runtime/src/api/mod.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/value/api.rs
Labels: runtime

#825 feat: migrate lsp goto_def to new sema model.
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/package.rs
  kclvm/sema/src/core/scope.rs
  kclvm/sema/src/core/semantic_information.rs
  kclvm/sema/src/core/symbol.rs
  kclvm/sema/src/namer/mod.rs
  kclvm/sema/src/namer/node.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/ty/mod.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/db.rs
  kclvm/tools/src/LSP/src/document_symbol.rs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/formatting.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/quick_fix.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/test_data/goto_def_test/goto_def.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#831 chorm: remove runtime mod yaml::yaml
  kclvm/runtime/src/yaml/mod.rs
  kclvm/runtime/src/yaml/yaml.rs
Labels: runtime, chore

#832 feat: async build word index map when init lsp state
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#833 refactor: avoid use global context in panic hook
  kclvm/runtime/src/_kcl_run.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/context/mod.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/val_type.rs
Labels: runtime

#838 fix: bump version of 'annotate-snippets' to 0.9.2 to fix a bug
  kclvm/Cargo.lock
  kclvm/error/Cargo.toml
  test/grammar/syntax/underline/main.k
  test/grammar/syntax/underline/stderr.golden.py
Labels: bug

#840 fix: use char index in the compiler error message
  kclvm/error/src/lib.rs
  kclvm/parser/src/tests/error_recovery.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_15.snap
Labels: bug, error-handling

#841 fix: fix cache invalidation
  kclvm/cmd/src/test_data/cache_test/kcl.mod
  kclvm/cmd/src/test_data/cache_test/main.k
  kclvm/config/src/cache.rs
  kclvm/config/src/testdata/test_cache/kcl.mod
  kclvm/config/src/testdata/test_cache/main.k
  kclvm/config/src/testdata/test_vendor/kcl.mod
  kclvm/config/src/testdata/test_vendor/main.k
  kclvm/config/src/tests.rs
  kclvm/runner/src/assembler.rs
Labels: bug

#842 feat: add symbol sema info api
  kclvm/sema/src/core/symbol.rs
Labels: semantic

#845 test: fix lsp unit test of find ref.
  kclvm/tools/src/LSP/src/tests.rs
Labels: test

#849 feat: impl string-like schema attribute parser and ast printer
  kclvm/ast/src/token.rs
  kclvm/ast_pretty/src/node.rs
  kclvm/ast_pretty/src/test_data/codelayout.input
  kclvm/ast_pretty/src/test_data/codelayout.output
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/tests/error_recovery.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_32.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_33.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_34.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_35.snap
  kclvm/sema/src/resolver/node.rs
  test/grammar/schema/str_attr/str_attr_0/main.k
  test/grammar/schema/str_attr/str_attr_0/stdout.golden
  test/grammar/schema/str_attr/str_attr_1/main.k
  test/grammar/schema/str_attr/str_attr_1/stdout.golden
Labels: parser, feat

#851 feat: impl symbol semantic information injection
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/core/symbol.rs
Labels: semantic

#855 fix: normal func param default value
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/test_data/function_with_default_values.k
  kclvm/sema/src/resolver/tests.rs
Labels: semantic

#854 feat: support look up cloest symbol
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/scope.rs
  kclvm/sema/src/core/semantic_information.rs
Labels: semantic

#853 chore: deprecated semantic schema settings attr in the v0.7.0 stable version.
  kclvm/Cargo.lock
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/compiler/src/codegen/llvm/schema.rs
  kclvm/compiler/src/macros.rs
  kclvm/runner/src/assembler.rs
  kclvm/sema/src/lib.rs
  kclvm/sema/src/macros.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: semantic, chore

#856 feat: add validate functions for json and yaml modules
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/json/mod.rs
  kclvm/runtime/src/yaml/mod.rs
  kclvm/sema/src/builtin/system_module.rs
  test/grammar/builtins/json/validate/main.k
  test/grammar/builtins/json/validate/stdout.golden
  test/grammar/builtins/yaml/validate/main.k
  test/grammar/builtins/yaml/validate/stdout.golden
Labels: semantic, runtime

#857 feat: support increment parser
  kclvm/parser/src/lib.rs
  kclvm/parser/src/tests.rs
  kclvm/query/src/override.rs
  kclvm/query/src/query.rs
  kclvm/runner/benches/bench_runner.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/tests.rs
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/namer/mod.rs
  kclvm/sema/src/pre_process/tests.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/tools/src/LSP/src/util.rs
  kclvm/tools/src/lint/mod.rs
Labels: parser

#843 feat: add rename, renameCode API
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/capi.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/testdata/rename-code.json
  kclvm/api/src/testdata/rename-code.response.json
  kclvm/api/src/testdata/rename.json
  kclvm/api/src/testdata/rename.response.json
  kclvm/api/src/testdata/rename/main.k
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: api, lsp

#859 fix: fix failed win test case
  kclvm/parser/src/lexer/tests.rs
Labels: bug

#860 feat: add suggestion when package not found
  kclvm/Cargo.lock
  kclvm/error/src/diagnostic.rs
  kclvm/error/src/lib.rs
  kclvm/parser/src/entry.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/testdata/pkg_not_found/suggestions.k
  kclvm/parser/src/tests.rs
  kclvm/sema/Cargo.toml
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/test_data/pkg_not_found_suggestion.k
  kclvm/sema/src/resolver/tests.rs
  kclvm/tools/src/LSP/src/quick_fix.rs
  kclvm/tools/src/LSP/src/to_lsp.rs
  kclvm/tools/src/lint/tests.rs
Labels: enhancement, error-handling

#862 docs: add artifact hub module link and use the latest installation documents
  README-zh.md
  README.md
Labels: docs

#869 feat: Lsp handle cancel req
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#866 resolver performance improvement
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/ty/unify.rs
Labels: semantic

#861 feat: add file pattern as the compile entry
  kclvm/Cargo.lock
  kclvm/driver/Cargo.toml
  kclvm/driver/src/lib.rs
  kclvm/driver/src/test_data/expand_file_pattern/KCL_MOD
  kclvm/driver/src/test_data/expand_file_pattern/kcl.mod
  kclvm/driver/src/test_data/expand_file_pattern/kcl1/kcl.mod
  kclvm/driver/src/test_data/expand_file_pattern/kcl1/kcl2/kcl.mod
  kclvm/driver/src/test_data/expand_file_pattern/kcl1/kcl2/main.k
  kclvm/driver/src/test_data/expand_file_pattern/kcl1/kcl4/kcl.mod
  kclvm/driver/src/test_data/expand_file_pattern/kcl1/kcl4/main.k
  kclvm/driver/src/test_data/expand_file_pattern/kcl1/main.k
  kclvm/driver/src/test_data/expand_file_pattern/kcl3/kcl.mod
  kclvm/driver/src/test_data/expand_file_pattern/kcl3/main.k
  kclvm/driver/src/test_data/expand_file_pattern/main.k
  kclvm/driver/src/tests.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/test_file_pattern/kcl1/kcl.mod
  kclvm/runner/src/test_file_pattern/kcl1/kcl3/kcl.mod
  kclvm/runner/src/test_file_pattern/kcl1/kcl3/main.k
  kclvm/runner/src/test_file_pattern/kcl1/main.k
  kclvm/runner/src/test_file_pattern/kcl2/kcl.mod
  kclvm/runner/src/test_file_pattern/kcl2/main.k
  kclvm/runner/src/tests.rs
Labels: enhancement

#871 chore: bump cla token to DEPLOY_ACCESS_TOKEN.
  .github/workflows/cla.yml
Labels: chore

#873 bugfix: fix postion of undefined lambda param
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/test_data/undef_lambda_param.k
  kclvm/sema/src/resolver/tests.rs
Labels: semantic

#875 perf: infer dict attr ty in config entries
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/ty/context.rs
Labels: type-system, resolver

#877 fix: fix positional argument error missing
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/test_data/kcl.mod
  kclvm/sema/src/resolver/test_data/schema_params_miss.k
  kclvm/sema/src/resolver/tests.rs
Labels: bug

#879 arch: migrate lsp dot_complete to new sema model
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/package.rs
  kclvm/sema/src/core/symbol.rs
  kclvm/sema/src/namer/mod.rs
  kclvm/sema/src/resolver/loop.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/ty.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: resolver, lsp

#881 arch: migrate lsp assign(`:` and `=`) value completion to new sema model
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#884 feat: support incremental resolver
  kclvm/ast/src/ast.rs
  kclvm/query/src/query.rs
  kclvm/runner/src/lib.rs
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/pre_process/identifier.rs
  kclvm/sema/src/resolver/cache.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/tools/src/LSP/src/util.rs
  kclvm/tools/src/lint/mod.rs
Labels: resolver

#887 arch: migrate lsp hover to new sema model
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/resolver/loop.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/ty.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: semantic, lsp

#886 arch: migrate lsp variable and schema attr completion to new sema model
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/package.rs
  kclvm/sema/src/core/scope.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/goto_def.rs
Labels: lsp

#888 chrom : move CachedScope from cache.rs to scope.rs
  kclvm/sema/src/resolver/cache.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/tests.rs
Labels: chore, resolver

#889 arch: migrate lsp newline complete to new sema model
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/newline/docstring_newline.k
  kclvm/tools/src/LSP/src/test_data/completion_test/newline/newline.k
Labels: lsp

#890 feat: implement rename api with new sema model
  kclvm/Cargo.lock
  kclvm/ast/src/ast.rs
  kclvm/query/src/lib.rs
  kclvm/query/src/selector.rs
  kclvm/query/src/util.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/lib.rs
  kclvm/tools/src/LSP/src/rename.rs
  kclvm/tools/src/LSP/src/test_data/rename_test/base/person.k
  kclvm/tools/src/LSP/src/test_data/rename_test/config.k
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#892 feat: add kcl mod metadata fetch for the driver crate
  .gitignore
  kclvm/driver/src/kpm_metadata.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: driver

#896 feat: support print functions for normal logger writer and not only for stdout
  VERSION
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/testdata/exec-program-with-print.json
  kclvm/api/src/testdata/exec-program-with-print.response.json
  kclvm/api/src/testdata/hello_with_print.k
  kclvm/cmd/src/run.rs
  kclvm/cmd/src/tests.rs
  kclvm/cmd/src/vet.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/runner/src/tests.rs
  kclvm/runtime/src/_kcl_run.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/stdlib/builtin_api.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
  kclvm/src/lib.rs
  kclvm/tools/src/lint/tests.rs
  kclvm/tools/src/vet/tests.rs
  kclvm/tools/src/vet/validator.rs
Labels: runtime, runner, arch

#900 fix: fix ty error in assignment
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/test_data/ty_in_lambda.k
  kclvm/sema/src/resolver/tests.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/test_data/hover_test/ty_in_lambda.k
Labels: bug

#902 chore: bump error message to stderr
  kclvm/src/lib.rs
Labels: chore

#901 feat: impl basic test suite loader and runner
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/driver/src/lib.rs
  kclvm/driver/src/test_data/pkg_list/pkg1/pkg.k
  kclvm/driver/src/test_data/pkg_list/pkg1/sub_pkg1/pkg.k
  kclvm/driver/src/test_data/pkg_list/pkg2/pkg.k
  kclvm/driver/src/tests.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/tools/src/lib.rs
  kclvm/tools/src/testing/mod.rs
  kclvm/tools/src/testing/suite.rs
  kclvm/tools/src/testing/test_data/module/kcl.mod
  kclvm/tools/src/testing/test_data/module/pkg/func.k
  kclvm/tools/src/testing/test_data/module/pkg/func_test.k
  kclvm/tools/src/testing/tests.rs
Labels: tool

#899 arch: migrate lsp find_refs to new sema model
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/request.rs
Labels: lsp

#904 feat: impl testing APIs
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/capi.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/testdata/test.json
  kclvm/api/src/testdata/test.response.json
  kclvm/api/src/testdata/testing/module/kcl.mod
  kclvm/api/src/testdata/testing/module/pkg/func.k
  kclvm/api/src/testdata/testing/module/pkg/func_test.k
  kclvm/spec/gpyrpc/gpyrpc.proto
  kclvm/tools/src/testing/mod.rs
  kclvm/tools/src/testing/suite.rs
Labels: api, test

#905 fix: add correct ty to quant symbol and argument symbol
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/resolver/node.rs
Labels: resolver

#903 enhance: build word index prune word in comments
  kclvm/Cargo.lock
  kclvm/macros/src/symbols.rs
  kclvm/span/src/symbol.rs
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/rename.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#908 chore: remove un-used code
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: chore, lsp

#911 feat: increment parse in lsp
  kclvm/parser/src/lib.rs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/quick_fix.rs
  kclvm/tools/src/LSP/src/rename.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#907 fix: make two test cases 'test_fetch_metadata' and 'test_fill_pkg_maps_for_k_file' execute in order
  kclvm/driver/src/tests.rs
Labels: bug

#906 feat: add api 'get_full_schema_type' to return the schema ty with third party
  kclvm/Cargo.lock
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/capi.rs
  kclvm/api/src/service/jsonrpc.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/testdata/get-full-schema-type.json
  kclvm/api/src/testdata/get-full-schema-type.response.json
  kclvm/api/src/testdata/get_schema_ty/aaa/kcl.mod
  kclvm/api/src/testdata/get_schema_ty/aaa/main.k
  kclvm/api/src/testdata/get_schema_ty/bbb/kcl.mod
  kclvm/api/src/testdata/get_schema_ty/bbb/main.k
  kclvm/query/Cargo.toml
  kclvm/query/src/query.rs
  kclvm/query/src/test_data/get_schema_ty/aaa/kcl.mod
  kclvm/query/src/test_data/get_schema_ty/aaa/main.k
  kclvm/query/src/test_data/get_schema_ty/bbb/kcl.mod
  kclvm/query/src/test_data/get_schema_ty/bbb/main.k
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: enhancement

#912 fix: fix func `get_kcl_files`
  kclvm/driver/src/lib.rs
Labels: bug, driver

#914 fix: get all full schema types when schema name is empty
  kclvm/api/src/capi_test.rs
  kclvm/api/src/testdata/get-all-full-schema-types.json
  kclvm/api/src/testdata/get-all-full-schema-types.response.json
  kclvm/api/src/testdata/get_schema_ty/aaa/main.k
  kclvm/api/src/testdata/get_schema_ty/ccc/kcl.mod
  kclvm/api/src/testdata/get_schema_ty/ccc/main.k
  kclvm/query/src/query.rs
Labels: bug

#913 enhance: add limitation on find refs target number
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#918 arch: migrate lsp document_symbol to new sema model
  kclvm/sema/src/core/symbol.rs
  kclvm/tools/src/LSP/src/document_symbol.rs
  kclvm/tools/src/LSP/src/request.rs
Labels: lsp, arch

#920 feat: support rule statement with index signature
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/sema/src/resolver/global.rs
  test/grammar/schema/rule/rule_with_index_signature/main.k
  test/grammar/schema/rule/rule_with_index_signature/stdout.golden
Labels: semantic, codegen

#898 feat: rename API support overwrite changes to files
  .github/workflows/daily-release.yaml
  .github/workflows/macos_test.yaml
  .github/workflows/test_compiler_base.yaml
  .github/workflows/ubuntu_test.yaml
  kclvm/Cargo.lock
  kclvm/api/Cargo.toml
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/testdata/rename.json
  kclvm/api/src/testdata/rename.response.json
  kclvm/api/src/testdata/rename/main.bak
  kclvm/api/src/testdata/rename_doc/main.bak
  kclvm/spec/gpyrpc/gpyrpc.proto
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/rename.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/test_data/rename_test/server.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: tool, api

#923 fix: not complete str functions when inside literal str
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/dot/lit_str/lit_str.k
Labels: lsp

#924 fix: resolve assert_stmt and config_entry correctly
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/advanced_resolver/test_data/schema_symbols.k
  kclvm/sema/src/core/symbol.rs
  kclvm/tools/src/LSP/src/goto_def.rs
Labels: resolver

#922 feat: async compile in lsp
  kclvm/tools/src/LSP/src/analysis.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/db.rs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#926 fix: fix lsp completion for newline char
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/dot/schema_ty_attr/schema_ty_attr.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#927 fix: fix lsp completion ut
  kclvm/tools/src/LSP/src/completion.rs
Labels: bug

#929 fix: document url and file path conversation in the language server
  kclvm/sema/src/core/symbol.rs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/test_data/goto_def_test/kcl.mod
  kclvm/tools/src/LSP/src/test_data/hover_test/kcl.mod
  kclvm/tools/src/LSP/src/tests.rs
Labels: bug, lsp
