Repository kcl-lang/kcl, pull requests merged in 2023-02, with the labels that each got.

#400 fixed AdderessSpace issue with inkwell
  kclvm/Cargo.lock
  kclvm/compiler/Cargo.lock
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/compiler/src/codegen/llvm/schema.rs
Labels: refactor

#399 refactor: refine code to fix cargo update break issues and warnings
  kclvm/runtime/src/datetime/datetime.rs
  test/grammar/types/var_type_annotation/type_fail_13/stderr.golden.py
  test/grammar/types/var_type_annotation/type_fail_14/stderr.golden.py
Labels: refactor

#401 chore: bump all kclvm crate versions to v0.4.5
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/capi/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/config/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/lexer/Cargo.toml
  kclvm/macros/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/runtime/Cargo.toml
  kclvm/runtime/internal_macros/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tests/Cargo.toml
  kclvm/tests/fuzz/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/version/Cargo.toml
Labels: release

#405 docs: polish readme English.
  README.md
Labels: docs

#404 feat: refactor schema optional mapping and support internal schema partial eval
  kclvm/capi/src/service/service.rs
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/compiler/src/codegen/llvm/utils.rs
  kclvm/compiler/src/value/schema.rs
  kclvm/makefile
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/val_clone.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/runtime/src/value/val_schema.rs
  kclvm/runtime/src/value/val_union.rs
  kclvm/runtime/tools/kclvm-runtime-gen-api/Makefile
  kclvm/runtime/tools/kclvm-runtime-gen-api/main.go
  kclvm/sema/src/resolver/global.rs
  test/grammar/schema/back_ref/back_ref_0/main.k
  test/grammar/schema/back_ref/back_ref_0/stdout.golden
  test/grammar/schema/back_ref/back_ref_1/main.k
  test/grammar/schema/back_ref/back_ref_1/stdout.golden
  test/grammar/schema/partial_eval/partial_eval_0/main.k
  test/grammar/schema/partial_eval/partial_eval_0/stdout.golden
  test/grammar/schema/partial_eval/partial_eval_1/main.k
  test/grammar/schema/partial_eval/partial_eval_1/stdout.golden
  test/grammar/schema/partial_eval/partial_eval_2/main.k
  test/grammar/schema/partial_eval/partial_eval_2/stdout.golden
  test/grammar/schema/partial_eval/partial_eval_3/main.k
  test/grammar/schema/partial_eval/partial_eval_3/stdout.golden
  test/grammar/schema/partial_eval/partial_eval_4/main.k
  test/grammar/schema/partial_eval/partial_eval_4/stdout.golden
  test/grammar/schema/partial_eval/partial_eval_5/main.k
  test/grammar/schema/partial_eval/partial_eval_5/stdout.golden
  test/grammar/schema/partial_eval/partial_eval_fail_0/main.k
  test/grammar/schema/partial_eval/partial_eval_fail_0/stderr.golden.py
  test/grammar/schema/partial_eval/partial_eval_fail_1/main.k
  test/grammar/schema/partial_eval/partial_eval_fail_1/stderr.golden.py
  test/grammar/schema/partial_eval/partial_eval_fail_2/main.k
  test/grammar/schema/partial_eval/partial_eval_fail_2/stderr.golden.py
Labels: semantic, runtime

#403 Fix(kclvm-windows): fix linker and test cases on windows.
  .github/workflows/windows_test.yaml
  kclvm/Cargo.lock
  kclvm/ast_pretty/src/tests.rs
  kclvm/capi/src/service/service.rs
  kclvm/config/src/cache.rs
  kclvm/config/src/vfs.rs
  kclvm/parser/Cargo.toml
  kclvm/parser/src/lexer/tests.rs
  kclvm/parser/src/parser/tests.rs
  kclvm/runner/src/command.rs
  kclvm/runner/src/exec_data/config.k.fixme
  kclvm/runner/src/linker.rs
  kclvm/runner/src/tests.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/tools/Cargo.toml
  kclvm/tools/src/format/tests.rs
  kclvm/tools/src/langserver/tests.rs
  kclvm/tools/src/lib.rs
  kclvm/tools/src/util/tests.rs
  kclvm/tools/src/vet/test_datas/invalid_validate_cases/test.k.stderr.json
  kclvm/tools/src/vet/tests.rs
  kclvm/tools/src/vet/validator.rs
  samples/math.k
  scripts/build-windows/build.bat
  scripts/build-windows/kclvm.go
Labels: windows

#409 Fix(kclvm-windows): Fix the CI for kclvm windows.
  .github/workflows/windows_test.yaml
  build_and_test_win.bat
  build_win.bat
  kclvm/runner/src/command.rs
  kclvm/runner/src/tests.rs
Labels: windows

#408 refactor: kclvm_cli parser error show and panic info.
  kclvm/Cargo.lock
  kclvm/capi/Cargo.toml
  kclvm/capi/src/service/api.rs
  kclvm/cmd/src/run.rs
  kclvm/compiler/Cargo.toml
  kclvm/error/src/diagnostic.rs
  kclvm/error/src/lib.rs
  kclvm/parser/src/bin/load_program.rs
  kclvm/parser/src/bin/parse_file.rs
  kclvm/parser/src/bin/parse_module.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/parser/tests.rs
  kclvm/parser/src/session/mod.rs
  kclvm/parser/src/tests.rs
  kclvm/runner/src/lib.rs
  kclvm/runtime/src/context/mod.rs
  kclvm/src/lib.rs
  kclvm/tools/src/lint/mod.rs
Labels: parser, error-handling, refactor

#411 Fix(kclvm-windows): rm all the '\\?\' path prefix in windows.
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/config/Cargo.toml
  kclvm/config/src/modfile.rs
  kclvm/parser/Cargo.toml
  kclvm/parser/src/lib.rs
  kclvm/runner/Cargo.toml
  kclvm/runner/src/command.rs
  kclvm/runner/src/lib.rs
  kclvm/utils/Cargo.toml
  kclvm/utils/src/lib.rs
  kclvm/utils/src/path.rs
Labels: windows

#413 feat: support config mutref except arguments.
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  test/grammar/datatype/dict/mutual_ref_13/main.k
  test/grammar/datatype/dict/mutual_ref_13/stdout.golden
Labels: semantic, codegen

#415 Feat(kclvm-test): add konfig test for kclvm on unix.
  .github/workflows/macos_test.yaml
  .github/workflows/ubuntu_test.yaml
  internal/scripts/test.sh
  internal/scripts/test_konfig.sh
  kclvm/makefile
  kclvm/tests/integration/konfig/test_konfig_kcl.py
Labels: test

#416 Feat(LSP): KCL LSP server with error-checking(diagnostics) (#297)
  internal/scripts/update-kclvm.sh
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/util/lsp.rs
  kclvm/tools/src/util/mod.rs
  scripts/build-windows/build.bat
  scripts/build-windows/build_kcl_lsp_server.bat
Labels: lsp

#417 test: add konfig integration tests on the format tool, fix test suites and add more unit test suites.
  kclvm/ast_pretty/src/lib.rs
  kclvm/ast_pretty/src/node.rs
  kclvm/ast_pretty/src/test_data/comment.output
  kclvm/query/src/tests.rs
  kclvm/runner/src/command.rs
  kclvm/tools/src/format/test_data/format_data/codelayout.golden
  kclvm/tools/src/format/test_data/format_data/codelayout.input
  kclvm/tools/src/format/test_data/format_data/comment.golden
  kclvm/tools/src/format/test_data/format_data/comment.input
  kclvm/tools/src/format/test_data/format_data/comp_for.golden
  kclvm/tools/src/format/test_data/format_data/comp_for.input
  kclvm/tools/src/format/test_data/format_data/lambda.golden
  kclvm/tools/src/format/test_data/format_data/lambda.input
  kclvm/tools/src/format/tests.rs
  kclvm/tools/src/vet/tests.rs
Labels: tool, test

#421 refactor: fix cargo clippy code, add cargo clippy check in CI scripts and upgrade rust toolchain version in CI scripts.
  .github/workflows/macos_test.yaml
  .github/workflows/release.yaml
  .github/workflows/test_compiler_base.yaml
  .github/workflows/ubuntu_test.yaml
  kclvm/3rdparty/rustc_span/src/analyze_source_file.rs
  kclvm/3rdparty/rustc_span/src/caching_source_map_view.rs
  kclvm/3rdparty/rustc_span/src/lib.rs
  kclvm/3rdparty/rustc_span/src/source_map.rs
  kclvm/capi/build.rs
  kclvm/capi/src/service/api.rs
  kclvm/parser/src/parser/mod.rs
  kclvm/parser/src/parser/schema.rs
  kclvm/runtime/Makefile
  kclvm/runtime/internal_macros/src/lib.rs
  kclvm/runtime/src/_kcl_run.rs
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/api/buf.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/api/malloc.rs
  kclvm/runtime/src/api/utils.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/context/mod.rs
  kclvm/runtime/src/crypto/crypto.rs
  kclvm/runtime/src/datetime/datetime.rs
  kclvm/runtime/src/json/json.rs
  kclvm/runtime/src/manifests/mod.rs
  kclvm/runtime/src/manifests/tests.rs
  kclvm/runtime/src/math/math.rs
  kclvm/runtime/src/net/net.rs
  kclvm/runtime/src/regex/regex.rs
  kclvm/runtime/src/stdlib/assert_api.rs
  kclvm/runtime/src/stdlib/builtin.rs
  kclvm/runtime/src/stdlib/builtin_api.rs
  kclvm/runtime/src/stdlib/plugin.rs
  kclvm/runtime/src/types/api.rs
  kclvm/runtime/src/types/typ_type_str.rs
  kclvm/runtime/src/units/units.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/val_bin.rs
  kclvm/runtime/src/value/val_decorator.rs
  kclvm/runtime/src/value/val_dict.rs
  kclvm/runtime/src/value/val_fmt.rs
  kclvm/runtime/src/value/val_json.rs
  kclvm/runtime/src/value/val_list.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/runtime/src/value/val_schema.rs
  kclvm/runtime/src/value/val_type.rs
  kclvm/runtime/src/value/val_union.rs
  kclvm/runtime/src/value/val_yaml.rs
  kclvm/runtime/src/yaml/yaml.rs
  kclvm/src/lib.rs
  kclvm/src/main.rs
Labels: refactor, ci

#423 fix: config unification with non config expression.
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/sema/src/pre_process/config.rs
  test/grammar/unification/schema_simple_10/main.k
  test/grammar/unification/schema_simple_10/stdout.golden
  test/grammar/unification/schema_simple_11/main.k
  test/grammar/unification/schema_simple_11/stdout.golden
  test/grammar/unification/schema_simple_9/main.k
  test/grammar/unification/schema_simple_9/stdout.golden
Labels: bug, resolver
