Repository kcl-lang/kcl, pull requests merged in 2023-05, with the labels that each got.

#535 fix LSP filepath to Rust Path exception
  kclvm/tools/src/LSP/src/from_lsp.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#537 feat: add more info for cli
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/run.rs
  kclvm/cmd/src/tests.rs
  kclvm/error/src/lib.rs
  kclvm/tools/src/vet/tests.rs
Labels: CLI

#538 Feat(LSP): add more detail in outline
  kclvm/tools/src/LSP/src/document_symbol.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#540 fix: take the kcl package name as the prefix of the 'path' for 'ImportStmt' on AST.
  kclvm/ast/src/ast.rs
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/run.rs
  kclvm/cmd/src/test_data/cases/import_1/main.k
  kclvm/cmd/src/test_data/cases/import_1/stdout
  kclvm/cmd/src/test_data/cases/import_konfig_1/main.k
  kclvm/cmd/src/test_data/cases/import_konfig_1/stdout
  kclvm/cmd/src/test_data/cases/vendor/kcl4/container/kcl4.k
  kclvm/cmd/src/test_data/cases/vendor/kcl4/kcl.mod
  kclvm/cmd/src/test_data/cases/vendor/kcl4/kcl4.k
  kclvm/cmd/src/tests.rs
  kclvm/makefile
  kclvm/parser/src/lib.rs
  kclvm/parser/src/tests.rs
Labels: bug

#532 add doc parser; parse schema summary and attribute doc to scope object
  kclvm/Cargo.lock
  kclvm/sema/Cargo.toml
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/doc.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/test_data/doc.k
  kclvm/sema/src/resolver/test_data/doc.txt
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/resolver/var.rs
  kclvm/sema/src/ty/mod.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: tool, resolver

#541 fix: adjust test cases that need to run command to serial execution.
  kclvm/cmd/src/tests.rs
  kclvm/parser/src/lib.rs
Labels: fix

#546 fix: filter expression return type.
  kclvm/sema/src/resolver/node.rs
  test/grammar/quant/filter/simple_list_2/main.k
  test/grammar/quant/filter/simple_list_2/stdout.golden
Labels: semantic

#548 refactor: capture outside variables in lambda.
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/compiler/src/codegen/mod.rs
  test/grammar/lambda/closure_0/main.k
  test/grammar/lambda/closure_0/stdout.golden
  test/grammar/lambda/closure_1/main.k
  test/grammar/lambda/closure_1/stdout.golden
  test/grammar/lambda/closure_2/main.k
  test/grammar/lambda/closure_2/stdout.golden
  test/grammar/lambda/closure_3/main.k
  test/grammar/lambda/closure_3/stdout.golden
  test/grammar/lambda/closure_4/main.k
  test/grammar/lambda/closure_4/stdout.golden
  test/grammar/lambda/closure_5/main.k
  test/grammar/lambda/closure_5/stdout.golden
Labels: codegen

#549 chore: bump tempfile v0.3.5 and time v0.2.23 to fix CVE-2020-26235 and run `cargo update`.
  compiler_base/3rdparty/rustc_data_structures/Cargo.toml
  kclvm/Cargo.lock
  kclvm/api/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/runner/Cargo.toml
Labels: dependencies, security

#550 refactor: enhance kcl version info message using the vergen crate and bump kcl version to v0.4.6.3
  internal/scripts/cli/kcl
  kclvm/Cargo.lock
  kclvm/cmd/src/lib.rs
  kclvm/runner/src/assembler.rs
  kclvm/version/Cargo.toml
  kclvm/version/build.rs
  kclvm/version/src/lib.rs
  scripts/build-windows/kcl.go
Labels: CLI

#551 refactor: joined string and missing key recovery for better error messages.
  kclvm/sema/src/resolver/config.rs
  test/grammar/types/interpolation/interpolation_0/main.k
  test/grammar/types/interpolation/interpolation_0/stdout.golden
  test/grammar/types/interpolation/interpolation_1/main.k
  test/grammar/types/interpolation/interpolation_1/stdout.golden
Labels: resolver

#552 feat: impl sort keys in setting files.
  internal/spec/gpyrpc/gpyrpc.proto
  kclvm/api/src/service/into.rs
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/settings.rs
  kclvm/config/src/settings.rs
  kclvm/config/src/testdata/settings.yaml
  kclvm/runner/src/runner.rs
  test/grammar/sort_keys/hello/settings.yaml
Labels: CLI

#553 feat: enhance override spec for string ident e.g., `x-y-z`
  kclvm/ast_pretty/src/node.rs
  kclvm/query/src/tests.rs
Labels: ast

#554 Feat: LSP will execute 'kpm metadata' to get the localpath of the kcl dependecies.
  .github/workflows/macos_test.yaml
  .github/workflows/ubuntu_test.yaml
  .github/workflows/windows_test.yaml
  .gitignore
  kclvm/Cargo.lock
  kclvm/ast/src/ast.rs
  kclvm/driver/Cargo.toml
  kclvm/driver/src/kpm_metadata.rs
  kclvm/driver/src/lib.rs
  kclvm/driver/src/test_data/kpm_metadata/kcl.mod
  kclvm/driver/src/test_data/kpm_metadata/kcl.mod.lock
  kclvm/driver/src/test_data/kpm_metadata/subdir/main.k
  kclvm/driver/src/test_data/test_vendor/kcl4_v0.0.1/k4/main.k
  kclvm/driver/src/test_data/test_vendor/kcl4_v0.0.1/kcl.mod
  kclvm/driver/src/test_data/test_vendor/kcl4_v0.0.1/kcl.mod.lock
  kclvm/driver/src/tests.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__import_stmt_recovery_0.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__import_stmt_recovery_1.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__import_stmt_recovery_2.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__import_stmt_recovery_3.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__import_stmt_recovery_4.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__import_stmt_recovery_5.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__import_stmt_recovery_6.snap
  kclvm/parser/testdata/import-01.k.json
  kclvm/query/src/override.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/test_data/goto_import_def_test/kcl.mod
  kclvm/tools/src/LSP/src/test_data/goto_import_def_test/kcl.mod.lock
  kclvm/tools/src/LSP/src/test_data/goto_import_def_test/main.k
  kclvm/tools/src/LSP/src/test_data/test_vendor/kcl4_v0.0.1/k4/main.k
  kclvm/tools/src/LSP/src/test_data/test_vendor/kcl4_v0.0.1/kcl.mod
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: enhancement

#555 fix: <<= token parse.
  kclvm/lexer/src/lib.rs
  kclvm/lexer/src/tests.rs
  kclvm/parser/src/lexer/tests.rs
Labels: bug, parser

#558 refactor: parser primary expr loc, ast pretty printer and add more tests
  kclvm/ast_pretty/src/node.rs
  kclvm/ast_pretty/src/test_data/codelayout.input
  kclvm/ast_pretty/src/test_data/codelayout.output
  kclvm/ast_pretty/src/test_data/lambda.input
  kclvm/ast_pretty/src/test_data/lambda.output
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/parser/module.rs
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/parser/tests.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__assign_stmt_recovery_10.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_recovery_3.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__select_recovery_10.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__select_recovery_11.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__select_recovery_3.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__select_recovery_4.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__select_recovery_5.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__select_recovery_6.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__select_recovery_7.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__select_recovery_8.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_0.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_1.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_10.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_12.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_2.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_3.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_4.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_5.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_6.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_7.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_8.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__subscript_recovery_9.snap
Labels: parser, ast_prettey

#560 refactor: Upgrade kclvm/cmd clap version to 4.x
  kclvm/Cargo.lock
  kclvm/cmd/Cargo.toml
  kclvm/cmd/src/fmt.rs
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/lint.rs
  kclvm/cmd/src/settings.rs
  kclvm/cmd/src/util.rs
  kclvm/cmd/src/vet.rs
Labels: refactor, CLI
