Repository kcl-lang/kcl, pull requests merged in 2023-01, with the labels that each got.

#358 Fix(kclvm-win): Added the missing kclvm-python in build.bat.
  scripts/build-windows/build.bat
Labels: bug, release, windows

#362 fix: config entry identifier key type infer.
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/tests.rs
  test/grammar/types/literal/lit_06_entry_id_key/main.k
  test/grammar/types/literal/lit_06_entry_id_key/stdout.golden
Labels: bug, resolver

#363 refactor: upgrade kclvm dockerfile ubuntu version
  scripts/docker/kclvm/Dockerfile
Labels: release

#356 chore: bump kcl website links in docs.
  README.md
  docs/dev_guide/1.about_this_guide.md
Labels: docs

#355 chore: remove un-used code in building scripts
  internal/scripts/update-kclvm.sh
  kclvm/runtime/Cargo.toml
Labels: release

#371 Delete debug_api.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/stdlib/debug_api.rs
  kclvm/runtime/src/stdlib/mod.rs
Labels: good first issue, runtime, refactor

#370 feat: image release with release badge.
  .github/workflows/release.yaml
  README-zh.md
  README.md
Labels: release

#359 Feat(kclvm-win): Before calling the python version of kclvm in kcl.go check if kclvm is installed.
  scripts/build-windows/kcl-doc.go
  scripts/build-windows/kcl-fmt.go
  scripts/build-windows/kcl-lint.go
  scripts/build-windows/kcl-plugin.go
  scripts/build-windows/kcl-vet.go
  scripts/build-windows/kcl.go
Labels: release, windows

#374 refactor: release github action.
  .github/workflows/release.yaml
  kclvm/runner/build.rs
Labels: release

#375 fix: kcl docker image release in action
  scripts/docker/kclvm/Dockerfile
Labels: release

#376 docs: update developing guide about windows and building scripts.
  docs/dev_guide/2.quick_start.md
  internal/scripts/build-kclvm.sh
  kclvm/README.md
Labels: docs

#378 fix: module type optional chain error message.
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/test_fail_data/module_optional_select.k
  kclvm/sema/src/resolver/tests.rs
Labels: resolver

#353 Feat(compiler_base_error): Added methods to support redirection of compiler_base_error::emitter.
  compiler_base/error/Cargo.toml
  compiler_base/error/src/diagnostic/diagnostic_handler.rs
  compiler_base/error/src/emitter.rs
  compiler_base/error/src/lib.rs
  compiler_base/error/src/tests.rs
Labels: compiler_base

#381 fix: package global variable reference in schema
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/module.rs
  test/grammar/import/import_package_module_2/kcl.mod
  test/grammar/import/import_package_module_2/main.k
  test/grammar/import/import_package_module_2/pkg/pkg1.k
  test/grammar/import/import_package_module_2/pkg/pkg2.k
  test/grammar/import/import_package_module_2/stdout.golden
Labels: bug, codegen

#354 Refactor(compiler_base_error): Refactor the diagnostic rendered by `CodeSnippet`.
  compiler_base/error/Cargo.toml
  compiler_base/error/src/diagnostic/components.rs
  compiler_base/error/src/diagnostic/test_datas/code_snippet
  compiler_base/error/src/diagnostic/tests.rs
  compiler_base/error/src/emitter.rs
  compiler_base/error/src/tests.rs
Labels: refactor, compiler_base

#383 refactor: using absolute path in exec program api.
  kclvm/runner/src/lib.rs
  test/grammar/import/import_relative_path_with_multi_input_files/base/main.k
  test/grammar/import/import_relative_path_with_multi_input_files/base/settings.yaml
  test/grammar/import/import_relative_path_with_multi_input_files/base/stdout.golden
  test/grammar/import/import_relative_path_with_multi_input_files/kcl.mod
  test/grammar/import/import_relative_path_with_multi_input_files/prod/pkg/pkg.k
  test/grammar/import/import_relative_path_with_multi_input_files/prod/prod.k
Labels: api, refactor

#384 fix: resolver ty mismatch in the assign statement with the schema type annotation
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/node.rs
  test/grammar/types/var_type_annotation/type_fail_10/main.k
  test/grammar/types/var_type_annotation/type_fail_10/stderr.golden.py
  test/grammar/types/var_type_annotation/type_fail_11/main.k
  test/grammar/types/var_type_annotation/type_fail_11/stderr.golden.py
  test/grammar/types/var_type_annotation/type_fail_12/main.k
  test/grammar/types/var_type_annotation/type_fail_12/stderr.golden.py
Labels: resolver

#385 Refactor(kclvm-win): rm python39 for kclvm-windows.
  scripts/build-windows/build.bat
  scripts/build-windows/build_kclvm_plugin_py.bat
  scripts/build-windows/build_kclvm_runtime.bat
  scripts/build-windows/download-file.go
  scripts/build-windows/gen_pth.go
  scripts/build-windows/get-pip.py
  scripts/build-windows/kcl-doc.go
  scripts/build-windows/kcl-fmt.go
  scripts/build-windows/kcl-lint.go
  scripts/build-windows/kcl-plugin.go
  scripts/build-windows/kcl-test.go
  scripts/build-windows/kcl-vet.go
  scripts/build-windows/kcl.go
  scripts/build-windows/kclvm.go
  scripts/build-windows/rename.go
  scripts/build-windows/requirements.release.txt
  scripts/build-windows/unzip.go
Labels: enhancement, windows

#391 Fix config if entry type unsoundness
  kclvm/runner/src/command.rs
  kclvm/runner/src/lib.rs
  kclvm/sema/src/lint/mod.rs
  kclvm/sema/src/pre_process/tests.rs
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/ty/context.rs
  test/grammar/types/var_type_annotation/type_fail_13/main.k
  test/grammar/types/var_type_annotation/type_fail_13/stderr.golden.py
  test/grammar/types/var_type_annotation/type_fail_14/main.k
  test/grammar/types/var_type_annotation/type_fail_14/stderr.golden.py
Labels: bug, type-system, resolver

#392 Feat(kclvm-win): remove the "kclvm.requirements.done.txt" on windows.
  internal/scripts/build-kclvm.sh
  internal/scripts/cli/kcl
  internal/scripts/cli/kcl-doc
  internal/scripts/cli/kcl-fmt
  internal/scripts/cli/kcl-lint
  internal/scripts/cli/kcl-plugin
  internal/scripts/cli/kcl-vet
  internal/scripts/kcllib-install.sh
  internal/scripts/test_grammar.sh
  scripts/build-windows/kcl-doc.go
  scripts/build-windows/kcl-fmt.go
  scripts/build-windows/kcl-lint.go
  scripts/build-windows/kcl-plugin.go
  scripts/build-windows/kcl-vet.go
  scripts/build-windows/kcl.go
  scripts/docker/kclvm/Dockerfile
Labels: windows
