Repository kcl-lang/kcl, pull requests merged in 2023-09, with the labels that each got.

#692 feat: add lambda expression and parameter error recovery
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/tests/error_recovery.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__lambda_recovery_0.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__lambda_recovery_1.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__lambda_recovery_2.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__lambda_recovery_3.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__lambda_recovery_4.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__lambda_recovery_5.snap
Labels: parser, error-handling

#691 fix: argument type check on too many arguments for empty parameter list
  kclvm/sema/src/builtin/string.rs
  kclvm/sema/src/resolver/arg.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/ty/constructor.rs
  kclvm/sema/src/ty/mod.rs
  kclvm/tools/src/LSP/src/completion.rs
  test/grammar/types/args/schema_types_err_too_many_args_0/main.k
  test/grammar/types/args/schema_types_err_too_many_args_0/stderr.golden.py
  test/grammar/types/args/schema_types_err_too_many_args_1/main.k
  test/grammar/types/args/schema_types_err_too_many_args_1/stderr.golden.py
  test/grammar/types/args/schema_types_err_too_many_args_2/main.k
  test/grammar/types/args/schema_types_err_too_many_args_2/stderr.golden.py
Labels: bug, semantic

#695 feat: add base64 and net member function types
  kclvm/sema/src/builtin/string.rs
  kclvm/sema/src/builtin/system_module.rs
  kclvm/sema/src/resolver/attr.rs
  kclvm/sema/src/resolver/test_data/system_package.k
  kclvm/sema/src/resolver/tests.rs
Labels: semantic

#697 refactor: sync error with spec.
  kclvm/error/src/error.rs
  kclvm/error/src/error_codes/E1001.md
  kclvm/error/src/error_codes/E1002.md
  kclvm/error/src/error_codes/E1003.md
  kclvm/error/src/error_codes/E1I37.md
  kclvm/error/src/error_codes/E2A31.md
  kclvm/error/src/error_codes/E2D34.md
  kclvm/error/src/error_codes/E2F04.md
  kclvm/error/src/error_codes/E2G22.md
  kclvm/error/src/error_codes/E2H13.md
  kclvm/error/src/error_codes/E2L28.md
Labels: error-handling

#698 fix: builtin function `bool` and `str` signatures.
  kclvm/sema/src/builtin/mod.rs
Labels: semantic

#699 fix: joined string format spec parse
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/tests/error_recovery.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__joined_string_recovery_7.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__joined_string_recovery_8.snap
Labels: bug, parser

#700 feat: lsp e2e test.
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/document_symbol.rs
  kclvm/tools/src/LSP/src/find_ref/tests.rs
  kclvm/tools/src/LSP/src/find_ref/word_map.rs
  kclvm/tools/src/LSP/src/formatting.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/lib.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/main_loop.rs
  kclvm/tools/src/LSP/src/quick_fix.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/test_data/diagnostics.k
  kclvm/tools/src/LSP/src/test_data/hover_test/hover.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: test, lsp

#703 enhance: doc parser support schema example
  kclvm/api/src/service/ty.rs
  kclvm/api/src/testdata/get-schema-type-mapping.json
  kclvm/api/src/testdata/get-schema-type-mapping.response.json
  kclvm/sema/src/resolver/doc.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/test_data/doc.k
  kclvm/sema/src/ty/mod.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: semantic, tool

#707 feat: enhance config attr type checking
  kclvm/sema/src/resolver/config.rs
  test/grammar/types/config/config_ty_0/main.k
  test/grammar/types/config/config_ty_0/stdout.golden
  test/grammar/types/config/config_ty_1/main.k
  test/grammar/types/config/config_ty_1/stdout.golden
  test/grammar/types/config/config_ty_2/main.k
  test/grammar/types/config/config_ty_2/stdout.golden
  test/grammar/types/config/config_ty_3/main.k
  test/grammar/types/config/config_ty_3/stdout.golden
Labels: resolver

#705 bugfix: pkg completion without dot
  kclvm/sema/src/resolver/import.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/dot/completion.k
  kclvm/tools/src/LSP/src/test_data/completion_test/without_dot/completion.k
  kclvm/tools/src/LSP/src/test_data/completion_test/without_dot/pkg/file1.k
  kclvm/tools/src/LSP/src/test_data/completion_test/without_dot/pkg/file2.k
  kclvm/tools/src/LSP/src/test_data/completion_test/without_dot/pkg/subpkg/file1.k
Labels: semantic, resolver

#713 feat: impl positional argument count check for call expressions.
  kclvm/runtime/src/value/api.rs
  kclvm/sema/src/builtin/mod.rs
  kclvm/sema/src/builtin/string.rs
  kclvm/sema/src/resolver/arg.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/schema.rs
  test/grammar/types/args/call_expr_err_too_few_args_0/main.k
  test/grammar/types/args/call_expr_err_too_few_args_0/stderr.golden.py
  test/grammar/types/args/call_expr_err_too_few_args_1/main.k
  test/grammar/types/args/call_expr_err_too_few_args_1/stderr.golden.py
Labels: semantic

#714 test: add integration test of lsp and Konfig
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/format/tests.rs
Labels: test, lsp

#717 fix: Added 'lookbehind' method in lexer
  kclvm/parser/src/lexer/mod.rs
  kclvm/parser/src/lexer/tests.rs
Labels: bug

#715 feat: add fuzz match for error 'attribute not found'
  kclvm/Cargo.lock
  kclvm/cmd/src/test_data/fuzz_match/main.k
  kclvm/cmd/src/test_data/fuzz_match/main_unmatched.k
  kclvm/cmd/src/tests.rs
  kclvm/sema/Cargo.toml
  kclvm/sema/src/resolver/attr.rs
Labels: enhancement

#724 feat: lint check unused import in each file instead of global modules
  kclvm/sema/src/lint/lints_def.rs
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/resolver/var.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/lint/test_data/unused_check_for_each_file/a.k
  kclvm/tools/src/lint/test_data/unused_check_for_each_file/b.k
  kclvm/tools/src/lint/tests.rs
Labels: resolver

#725 feat: remove unique check in unification stmt
  kclvm/sema/src/resolver/global.rs
Labels: resolver

#728 docs: add GOVERNANCE.md to kcl project
  GOVERNANCE.md
Labels: docs

#726 feat: add a option to control pre process merge AST for the resolver
  kclvm/sema/src/pre_process/mod.rs
  kclvm/sema/src/pre_process/test_data/skip_merge/config1.k
  kclvm/sema/src/pre_process/test_data/skip_merge/config2.k
  kclvm/sema/src/pre_process/test_data/skip_merge/def.k
  kclvm/sema/src/pre_process/tests.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
  kclvm/tools/src/lint/mod.rs
Labels: resolver

#727 fix: raise an error when the asname of import statment is defined multi-times
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/test_fail_data/redefine_import/main.k
  kclvm/sema/src/resolver/test_fail_data/redefine_import/sub/main.k
  kclvm/sema/src/resolver/test_fail_data/redefine_import/sub/sub/main.k
  kclvm/sema/src/resolver/tests.rs
Labels: bug

#719 feat: auto fix tools
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/lint.rs
  kclvm/error/src/diagnostic.rs
  kclvm/error/src/error.rs
  kclvm/error/src/lib.rs
  kclvm/parser/src/lib.rs
  kclvm/sema/src/lint/lints_def.rs
  kclvm/sema/src/resolver/attr.rs
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/para.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/resolver/ty.rs
  kclvm/sema/src/resolver/var.rs
  kclvm/tools/src/fix/LICENSE
  kclvm/tools/src/fix/mod.rs
  kclvm/tools/src/fix/replace.rs
  kclvm/tools/src/fix/test_data/fix_import.k
  kclvm/tools/src/fix/test_data/unused_import.k
  kclvm/tools/src/fix/tests.rs
  kclvm/tools/src/lib.rs
  kclvm/tools/src/lint/mod.rs
Labels: tool

#731 feat: add a suggestion for 'name not found'
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/test_fail_data/not_found_suggest/main.k
  kclvm/sema/src/resolver/test_fail_data/not_found_suggest/sub/main.k
  kclvm/sema/src/resolver/tests.rs
Labels: enhancement, error-handling
