Repository kcl-lang/kcl, pull requests merged in 2023-10, with the labels that each got.

#730 feat: add sub command version to lsp
  kclvm/Cargo.lock
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/main.rs
Labels: lsp

#732 feat: add lsp hover for builtin function
  kclvm/sema/src/builtin/mod.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/test_data/hover_test/hover.k
  kclvm/tools/src/LSP/src/tests.rs
Labels: semantic, lsp

#737 feat: add 'compile_only' flag for lint check
  kclvm/api/src/capi_test.rs
  kclvm/api/src/testdata/exec-program-with-compile-only.json
  kclvm/api/src/testdata/exec-program-with-compile-only.response.panic
  kclvm/api/src/testdata/test-lint-import.k
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/runner/src/test_datas/exec_prog_args/default.json
  kclvm/runner/src/test_datas/settings_file/settings.json
  kclvm/sema/src/resolver/scope.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: enhancement

#738 fix: rm temp file generated during compilation
  kclvm/runner/src/lib.rs
Labels: bug

#740 bugfix: fix the cli args for startup of lsp
  kclvm/tools/src/LSP/src/lib.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/main_loop.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#755 bugfix: goto def (and hover) for complex select expr
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/test_data/hover_test/fib.k
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#759 bugfix: str type var builtin function hover
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/test_data/hover_test/hover.k
Labels: bug, lsp

#757 fix: add type annotation check during type checking in assignment
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/test_data/assign_in_lambda.k
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/resolver/ty.rs
  kclvm/sema/src/ty/unify.rs
  kclvm/tools/src/LSP/src/test_data/goto_def_test/goto_def.k
  kclvm/tools/src/LSP/src/test_data/hover_test/assign_in_lambda.k
  kclvm/tools/src/LSP/src/tests.rs
Labels: bug

#721 Feat: lsp support find refs
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/find_ref/find_refs.rs
  kclvm/tools/src/LSP/src/find_ref/go_to_def.rs
  kclvm/tools/src/LSP/src/find_ref/mod.rs
  kclvm/tools/src/LSP/src/find_ref/test_data/inherit.k
  kclvm/tools/src/LSP/src/find_ref/test_data/inherit_pkg.k
  kclvm/tools/src/LSP/src/find_ref/test_data/test_word_workspace/inherit.k
  kclvm/tools/src/LSP/src/find_ref/test_data/test_word_workspace/inherit_pkg.k
  kclvm/tools/src/LSP/src/find_ref/test_data/test_word_workspace_map/inherit.k
  kclvm/tools/src/LSP/src/find_ref/test_data/test_word_workspace_map/inherit_pkg.k
  kclvm/tools/src/LSP/src/find_ref/tests.rs
  kclvm/tools/src/LSP/src/find_ref/word_map.rs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/from_lsp.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/lib.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/main_loop.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/test_data/find_refs_test/kcl.mod
  kclvm/tools/src/LSP/src/test_data/find_refs_test/main.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#764 ci: add daily release scripts
  .github/workflows/daily-release.yaml
  .github/workflows/release.yaml
  .github/workflows/ubuntu_test.yaml
Labels: ci

#761 chore: code clean-unused imports and comments
  kclvm/sema/src/resolver/global.rs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/notification.rs
Labels: chore, lsp

#765 Fix goto attr def from attr def itself, add test cases on goto-def and find-refs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: bug, tool, lsp

#772 fix: fix position error when desuger config expr
  kclvm/sema/src/pre_process/config.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/test_data/goto_def_test/goto_def.k
Labels: bug, semantic, lsp

#771 fix: add full type string for function type
  kclvm/sema/src/resolver/test_fail_data/lambda_ty_error.k
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/ty/mod.rs
Labels: bug, error-handling

#779 feat: add keyword argument name in error message
  kclvm/cmd/src/test_data/failed/keyword_argument_error.k
  kclvm/cmd/src/tests.rs
  kclvm/runtime/src/value/val_fmt.rs
Labels: enhancement, error-handling

#773 feat: rename symbol
  kclvm/sema/src/info/mod.rs
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/test_data/rename_test/main.k
  kclvm/tools/src/LSP/src/test_data/rename_test/pkg/vars.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/to_lsp.rs
Labels: tool, feat, lsp

#787 fix: assign stmt in schema codegen and runtime value merge.
  compiler_base/error/src/diagnostic/diagnostic_handler.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/runtime/src/value/val_schema.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/tools/src/LSP/src/capabilities.rs
  test/grammar/schema/assign_stmt/assign_stmt_0/main.k
  test/grammar/schema/assign_stmt/assign_stmt_0/stdout.golden
  test/grammar/schema/assign_stmt/assign_stmt_1/main.k
  test/grammar/schema/assign_stmt/assign_stmt_1/stdout.golden
  test/grammar/schema/assign_stmt/assign_stmt_2/main.k
  test/grammar/schema/assign_stmt/assign_stmt_2/stdout.golden
  test/grammar/schema/assign_stmt/assign_stmt_3/main.k
  test/grammar/schema/assign_stmt/assign_stmt_3/stdout.golden
  test/grammar/schema/assign_stmt/assign_stmt_4/main.k
  test/grammar/schema/assign_stmt/assign_stmt_4/stdout.golden
  test/grammar/schema/assign_stmt/assign_stmt_5/main.k
  test/grammar/schema/assign_stmt/assign_stmt_5/stdout.golden
  test/grammar/schema/assign_stmt/assign_stmt_6/main.k
  test/grammar/schema/assign_stmt/assign_stmt_6/stdout.golden
  test/grammar/schema/init/init_nested_schema_1/stdout.golden
  test/grammar/schema/optional_attr/inherit_2/main.k
  test/grammar/schema/optional_attr/inherit_2/stdout.golden
  test/grammar/schema/optional_attr/inherit_3/main.k
  test/grammar/schema/optional_attr/inherit_3/stdout.golden
Labels: bug, runtime, resolver

#786 test: add more test cases on format tool behavior
  kclvm/ast_pretty/src/lib.rs
  kclvm/tools/src/format/test_data/format_data/different_stmts_line_breaks.golden
  kclvm/tools/src/format/test_data/format_data/different_stmts_line_breaks.input
  kclvm/tools/src/format/test_data/format_data/list_dict_schema_expr.golden
  kclvm/tools/src/format/test_data/format_data/list_dict_schema_expr.input
  kclvm/tools/src/format/test_data/format_data/union_types.golden
  kclvm/tools/src/format/test_data/format_data/union_types.input
  kclvm/tools/src/format/tests.rs
Labels: tool, test

#791 fix: runtime union type parse and checking
  kclvm/runtime/src/value/val_type.rs
Labels: bug, runtime

#790 fix: format behavior of union types
  kclvm/ast/src/ast.rs
  kclvm/ast_pretty/src/test_data/type_alias.output
  kclvm/parser/src/parser/tests.rs
  kclvm/parser/testdata/type-01.k.json
  kclvm/runtime/src/types/typ_type_str.rs
  kclvm/sema/src/ty/into.rs
  kclvm/sema/src/ty/mod.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/format/test_data/format_data/type_alias.golden
  kclvm/tools/src/format/test_data/format_data/union_types.golden
  kclvm/tools/src/format/test_data/format_data/union_types.input
  kclvm/tools/src/format/tests.rs
Labels: tool

#792 fix format behavior on line break between import stmt and other stmts
  kclvm/ast_pretty/src/node.rs
  kclvm/ast_pretty/src/test_data/codelayout.output
  kclvm/tools/src/format/test_data/format_data/breakline.golden
  kclvm/tools/src/format/test_data/format_data/codelayout.golden
  kclvm/tools/src/format/test_data/format_data/different_stmts_line_breaks.golden
  kclvm/tools/src/format/test_data/format_data/different_stmts_line_breaks.input
  kclvm/tools/src/format/test_data/format_data/import.golden
  kclvm/tools/src/format/test_data/format_data/import_only.golden
  kclvm/tools/src/format/test_data/format_data/import_only.input
  kclvm/tools/src/format/test_data/format_data/layout_import_stmt.golden
  kclvm/tools/src/format/test_data/format_data/layout_import_stmt.input
  kclvm/tools/src/format/test_data/format_data/schema.golden
  kclvm/tools/src/format/tests.rs
Labels: tool

#762 feat : namer for new architecture of semantic model
  kclvm/Cargo.lock
  kclvm/ast/Cargo.toml
  kclvm/ast/src/ast.rs
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/parser/mod.rs
  kclvm/parser/src/parser/stmt.rs
  kclvm/sema/Cargo.toml
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/mod.rs
  kclvm/sema/src/core/package.rs
  kclvm/sema/src/core/symbol.rs
  kclvm/sema/src/lib.rs
  kclvm/sema/src/namer/mod.rs
  kclvm/sema/src/namer/node.rs
  kclvm/sema/src/namer/test_data/import_test/a.k
  kclvm/sema/src/namer/test_data/import_test/b.k
  kclvm/sema/src/namer/test_data/import_test/c.k
  kclvm/sema/src/namer/test_data/import_test/d.k
  kclvm/sema/src/namer/test_data/import_test/e.k
  kclvm/sema/src/namer/test_data/import_test/f.k
  kclvm/sema/src/namer/test_data/kcl.mod
  kclvm/sema/src/namer/test_data/pkg/pkg.k
  kclvm/sema/src/namer/test_data/schema_symbols.k
Labels: semantic, arch

#797 feat: schema lazy eval for config attr
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/val_dict.rs
  test/grammar/schema/config_op/override/override_3/main.k
  test/grammar/schema/config_op/override/override_3/stdout.golden
  test/grammar/schema/config_op/override/override_4/main.k
  test/grammar/schema/config_op/override/override_4/stdout.golden
Labels: runtime, feat, codegen

#800 fix: fix some failed test cases
  kclvm/driver/src/test_data/kpm_metadata/kcl.mod
  kclvm/driver/src/test_data/kpm_metadata/kcl.mod.lock
  kclvm/query/src/test_data/kcl.mod
  kclvm/tools/src/LSP/src/test_data/find_refs_test/kcl.mod
Labels: bug

#802 feat: impl path selector in the run API.
  kclvm/api/src/capi_test.rs
  kclvm/api/src/testdata/exec-program-with-path-selector.json
  kclvm/api/src/testdata/exec-program-with-path-selector.response.json
  kclvm/runner/src/runner.rs
  kclvm/runner/src/test_datas/exec_prog_args/default.json
  kclvm/runner/src/test_datas/settings_file/settings.json
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: api

#798 fix: Defend against non-KCL files
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#799 enhance: enhance lsp completion for function.
  kclvm/tools/src/LSP/src/completion.rs
Labels: lsp

#801 feat: completion for import builtin pkgs
  kclvm/config/src/vfs.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/import/import.k
Labels: lsp

#803 fix: fix the lambda argument type, when it is schema type, into schema type instance
  kclvm/sema/src/resolver/node.rs
  test/grammar/lambda/arg_type/main.k
  test/grammar/lambda/arg_type/stdout.golden
  test/grammar/lambda/arg_type/sub.k
Labels: bug

#805 feat: enhance lsp completion detail
  kclvm/sema/src/ty/mod.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#806 fix: fix type error in assignment with type annotation
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/test_data/annotation_check_assignment.k
  kclvm/sema/src/resolver/tests.rs
Labels: bug

#807 chore: bump kcl version to v0.7.0-alpha.1
  VERSION
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/config/Cargo.toml
  kclvm/driver/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/lexer/Cargo.toml
  kclvm/macros/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/runtime/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/utils/Cargo.toml
  kclvm/version/Cargo.toml
Labels: chore

#809 feat: completion for schema attr value.
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/assign/completion.k
  kclvm/tools/src/LSP/src/test_data/completion_test/assign/pkg/file1.k
  kclvm/tools/src/LSP/src/test_data/completion_test/assign/pkg/file2.k
  kclvm/tools/src/LSP/src/test_data/completion_test/assign/pkg/subpkg/file1.k
Labels: lsp

#810 feat: lsp completion for schema param list
  kclvm/sema/src/ty/mod.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/schema/schema.k
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#808 feat: add advenced resolver for new semantic modle
  kclvm/Cargo.lock
  kclvm/ast/src/ast.rs
  kclvm/ast/src/pos.rs
  kclvm/sema/Cargo.toml
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/advanced_resolver/test_data/import_test/a.k
  kclvm/sema/src/advanced_resolver/test_data/import_test/b.k
  kclvm/sema/src/advanced_resolver/test_data/import_test/c.k
  kclvm/sema/src/advanced_resolver/test_data/import_test/d.k
  kclvm/sema/src/advanced_resolver/test_data/import_test/e.k
  kclvm/sema/src/advanced_resolver/test_data/import_test/f.k
  kclvm/sema/src/advanced_resolver/test_data/kcl.mod
  kclvm/sema/src/advanced_resolver/test_data/pkg/pkg.k
  kclvm/sema/src/advanced_resolver/test_data/schema_symbols.k
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/mod.rs
  kclvm/sema/src/core/package.rs
  kclvm/sema/src/core/scope.rs
  kclvm/sema/src/core/semantic_information.rs
  kclvm/sema/src/core/symbol.rs
  kclvm/sema/src/lib.rs
  kclvm/sema/src/namer/mod.rs
  kclvm/sema/src/namer/node.rs
  kclvm/sema/src/resolver/arg.rs
  kclvm/sema/src/resolver/attr.rs
  kclvm/sema/src/resolver/calculation.rs
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/loop.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/ty.rs
  kclvm/sema/src/resolver/var.rs
  kclvm/sema/src/ty/constructor.rs
  kclvm/sema/src/ty/context.rs
  kclvm/sema/src/ty/into.rs
  kclvm/sema/src/ty/mod.rs
  kclvm/sema/src/ty/parser.rs
  kclvm/sema/src/ty/tests.rs
  kclvm/sema/src/ty/unify.rs
  kclvm/sema/src/ty/walker.rs
Labels: refactor, arch

#811 feat: lsp completion of trigger newline after brace
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/assign/completion.k
  kclvm/tools/src/LSP/src/test_data/completion_test/newline/newline.k
Labels: lsp

#815 Fix: fix type checkout missing when assigning a dict to a schema
  kclvm/sema/src/resolver/test_data/attr_ty_check.k
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/resolver/ty.rs
Labels: bug

#817 fix: mutual reference for config multiple keys
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/sema/src/resolver/config.rs
  kclvm/tools/src/LSP/src/notification.rs
  test/grammar/datatype/dict/mutual_ref_14/main.k
  test/grammar/datatype/dict/mutual_ref_14/stdout.golden
Labels: bug, codegen, resolver

#819 fix: rm the error 'conflict kcl.mod file path'
  kclvm/cmd/src/tests.rs
  kclvm/config/src/modfile.rs
  kclvm/parser/src/entry.rs
Labels: bug

#822 feat: add '--recursive' flag to compile the whole dir
  kclvm/api/src/capi_test.rs
  kclvm/api/src/testdata/compile_recursive/kcl1/main.k
  kclvm/api/src/testdata/compile_recursive/kcl2/main.k
  kclvm/api/src/testdata/compile_recursive/main.k
  kclvm/api/src/testdata/exec-program-with-recursive.json
  kclvm/api/src/testdata/exec-program-with-recursive.response.json
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/settings.rs
  kclvm/config/src/settings.rs
  kclvm/parser/src/entry.rs
  kclvm/parser/src/lib.rs
  kclvm/query/src/test_data/import_paths.k
  kclvm/runner/src/runner.rs
  kclvm/runner/src/test_datas/compile_recursive/kcl1/main.k
  kclvm/runner/src/test_datas/compile_recursive/kcl2/main.k
  kclvm/runner/src/test_datas/compile_recursive/main.k
  kclvm/runner/src/test_datas/exec_prog_args/default.json
  kclvm/runner/src/test_datas/settings_file/settings.json
  kclvm/runner/src/tests.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
  kclvm/tools/src/LSP/src/util.rs
Labels: enhancement
