Repository kcl-lang/kcl, pull requests merged in 2023-03, with the labels that each got.

#429 Fix(kclvm-win): install plugins for win.
  samples/hello_plugin.k
  scripts/build-windows/build.bat
  scripts/build-windows/build_kclvm_plugin_py.bat
  scripts/build-windows/copy-dir.go
Labels: bug, windows

#428 refactor: schema optional check api
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/error/src/error.rs
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/tools/kclvm-runtime-gen-api/main.go
  test/grammar/schema/optional_attr/fail_3/main.k
  test/grammar/schema/optional_attr/fail_3/stderr.golden.py
Labels: runtime, codegen

#430 refactor: kcl cli work directory setting and add more CLI tests
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/lint.rs
  kclvm/cmd/src/run.rs
  kclvm/cmd/src/settings.rs
  kclvm/cmd/src/test_data/settings/kcl.yaml
  kclvm/cmd/src/tests.rs
  kclvm/config/src/settings.rs
  kclvm/makefile
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
Labels: CLI

#433 feat: support linker in lib folder
  kclvm/plugin/kclvm_runtime.py
  kclvm/runner/src/command.rs
  kclvm/tools/src/LSP/Cargo.toml
Labels: linker

#436 refactor: unreasonable revealed parser error information to avoid parser throwing internal errors for parser error recovery.
  kclvm/error/src/emitter.rs
  kclvm/lexer/src/lib.rs
  kclvm/parser/src/lexer/indent.rs
  kclvm/parser/src/lexer/mod.rs
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/parser/mod.rs
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/parser/ty.rs
  kclvm/parser/src/session/mod.rs
  kclvm/parser/src/tests.rs
  kclvm/span/src/symbol.rs
Labels: parser, refactor

#431 Feat(compiler-base): add task executor for compiler_base_test.
  compiler_base/Cargo.toml
  compiler_base/parallel/Cargo.toml
  compiler_base/parallel/README.md
  compiler_base/parallel/src/executor/LICENSE
  compiler_base/parallel/src/executor/README.md
  compiler_base/parallel/src/executor/mod.rs
  compiler_base/parallel/src/executor/tests.rs
  compiler_base/parallel/src/executor/timeout.rs
  compiler_base/parallel/src/lib.rs
  compiler_base/parallel/src/task/event.rs
  compiler_base/parallel/src/task/mod.rs
Labels: feat, compiler_base

#440 refactor: ast node locations in the parser for the resolver.
  kclvm/ast/src/ast.rs
  kclvm/ast/src/lib.rs
  kclvm/ast/src/tests.rs
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/parser/tests.rs
  kclvm/parser/src/tests.rs
  kclvm/parser/testdata/a1.k
  kclvm/parser/testdata/a1.k.json
  kclvm/parser/testdata/a2.k
  kclvm/parser/testdata/a2.k.json
  kclvm/parser/testdata/a3.k
  kclvm/parser/testdata/a3.k.json
  kclvm/parser/testdata/assert-02.k.json
  kclvm/parser/testdata/assert-03.k.json
  kclvm/parser/testdata/assert-if-0.k.json
  kclvm/parser/testdata/assert-if-1.k.json
  kclvm/parser/testdata/assert-if-2.k.json
  kclvm/parser/testdata/assign-01.k.json
  kclvm/parser/testdata/config_expr-01.k.json
  kclvm/parser/testdata/config_expr-02.k.json
  kclvm/parser/testdata/config_expr-03.k.json
  kclvm/parser/testdata/config_expr-04.k.json
  kclvm/parser/testdata/hello_win.k.json
  kclvm/parser/testdata/if-01.k.json
  kclvm/parser/testdata/if-02.k.json
  kclvm/parser/testdata/if-03.k.json
Labels: parser

#442 refactor: use compiler base session in resolver and remove un-used code in the kclvm error crate.
  kclvm/Cargo.lock
  kclvm/ast_pretty/Cargo.toml
  kclvm/ast_pretty/src/node.rs
  kclvm/capi/src/service/service.rs
  kclvm/cmd/src/lint.rs
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/error/Cargo.toml
  kclvm/error/src/bug.rs
  kclvm/error/src/diagnostic.rs
  kclvm/error/src/emitter.rs
  kclvm/error/src/error.rs
  kclvm/error/src/lib.rs
  kclvm/error/src/tests.rs
  kclvm/error/src/warning_codes/W1001.md
  kclvm/parser/Cargo.toml
  kclvm/parser/src/lexer/mod.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/parser/expr.rs
  kclvm/query/Cargo.toml
  kclvm/query/src/override.rs
  kclvm/runner/Cargo.toml
  kclvm/runner/benches/bench_runner.rs
  kclvm/runner/src/assembler.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/tests.rs
  kclvm/sema/Cargo.toml
  kclvm/sema/src/lib.rs
  kclvm/sema/src/pre_process/identifier.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/tools/src/lint/mod.rs
Labels: error-handling, refactor, resolver

#439 Refator(LSP): refactor lsp frame.(#297)
  kclvm/Cargo.lock
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/analysis.rs
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/config.rs
  kclvm/tools/src/LSP/src/db.rs
  kclvm/tools/src/LSP/src/dispatcher.rs
  kclvm/tools/src/LSP/src/find_ref/find_refs.rs
  kclvm/tools/src/LSP/src/find_ref/go_to_def.rs
  kclvm/tools/src/LSP/src/find_ref/mod.rs
  kclvm/tools/src/LSP/src/find_ref/test_data/inherit.k
  kclvm/tools/src/LSP/src/find_ref/test_data/inherit_pkg.k
  kclvm/tools/src/LSP/src/find_ref/test_data/test_word_workspace/inherit.k
  kclvm/tools/src/LSP/src/find_ref/test_data/test_word_workspace/inherit_pkg.k
  kclvm/tools/src/LSP/src/find_ref/test_data/test_word_workspace_map/inherit.k
  kclvm/tools/src/LSP/src/find_ref/test_data/test_word_workspace_map/inherit_pkg.k
  kclvm/tools/src/LSP/src/find_ref/tests.rs
  kclvm/tools/src/LSP/src/find_ref/word_map.rs
  kclvm/tools/src/LSP/src/from_lsp.rs
  kclvm/tools/src/LSP/src/lib.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/to_lsp.rs
  kclvm/tools/src/LSP/src/util.rs
  kclvm/tools/src/lib.rs
  kclvm/tools/src/util/lsp.rs
  kclvm/tools/src/util/mod.rs
Labels: lsp

#447 feat: mismatch delimiter error recovery in parser
  kclvm/Cargo.lock
  kclvm/cmd/src/run.rs
  kclvm/error/src/lib.rs
  kclvm/parser/Cargo.toml
  kclvm/parser/src/lexer/mod.rs
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/parser/mod.rs
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/parser/tests.rs
  kclvm/parser/src/session/mod.rs
  kclvm/parser/src/tests.rs
  kclvm/parser/src/tests/error_recovery.rs
  kclvm/parser/src/tests/snapshots/Makefile
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_0.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_1.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_2.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_3.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_4.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_5.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__list_recovery_0.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__list_recovery_1.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__list_recovery_2.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__list_recovery_3.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__list_recovery_4.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__list_recovery_5.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__paren_recovery_0.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__paren_recovery_1.snap
  kclvm/parser/src/tests/snapshots/mv_new_snapshot.py
Labels: parser, error-handling

#448 Style: fix some clippy warnings
  kclvm/ast/src/ast.rs
  kclvm/ast/src/token.rs
  kclvm/ast/src/walker.rs
  kclvm/config/src/vfs.rs
  kclvm/runner/build.rs
  kclvm/runtime/internal_macros/src/lib.rs
  kclvm/runtime/src/context/mod.rs
  kclvm/span/src/symbol.rs
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/analysis.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: style, lsp

#450 Feat(compiler_base_error): Add methods to the `DiagnosticHandler` that emits `Diagnostic` as string.
  compiler_base/error/Cargo.toml
  compiler_base/error/src/diagnostic/diagnostic_handler.rs
  compiler_base/error/src/emitter.rs
  compiler_base/error/src/tests.rs
Labels: feat, compiler_base

#451 Fix(compiler-base-error): fix method arg type "&mut self" -> "&self".
  compiler_base/error/Cargo.toml
  compiler_base/error/src/diagnostic/diagnostic_handler.rs
Labels: fix, compiler_base

#453 feat: lexer error recovery including string, number literals, and indents.
  kclvm/Cargo.lock
  kclvm/error/src/lib.rs
  kclvm/lexer/src/kcl_cursor.rs
  kclvm/lexer/src/lib.rs
  kclvm/parser/src/lexer/indent.rs
  kclvm/parser/src/lexer/mod.rs
  kclvm/parser/src/lexer/string.rs
  kclvm/parser/src/lexer/tests.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/parser/tests.rs
  kclvm/parser/src/tests.rs
  kclvm/parser/src/tests/error_recovery.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__line_continue_recovery_0.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__line_continue_recovery_1.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__line_continue_recovery_2.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__line_continue_recovery_3.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__number_literal_recovery_0.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__number_literal_recovery_1.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__number_literal_recovery_10.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__number_literal_recovery_2.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__number_literal_recovery_3.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__number_literal_recovery_4.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__number_literal_recovery_5.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__number_literal_recovery_6.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__number_literal_recovery_7.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__number_literal_recovery_8.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__number_literal_recovery_9.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__string_literal_recovery_0.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__string_literal_recovery_1.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__string_literal_recovery_2.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__string_literal_recovery_3.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__string_literal_recovery_4.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__string_literal_recovery_5.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__string_literal_recovery_6.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__string_literal_recovery_7.snap.new
  kclvm/sema/Cargo.toml
  kclvm/sema/src/resolver/scope.rs
  kclvm/src/lib.rs
Labels: lexer, parser

#449 Feat(LSP): compile uint.
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/settings.rs
  kclvm/config/src/settings.rs
  kclvm/driver/Cargo.toml
  kclvm/driver/src/lib.rs
  kclvm/parser/src/lib.rs
  kclvm/runner/Cargo.toml
  kclvm/runner/src/lib.rs
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/state.rs
Labels: lsp

#456 Feat(LSP): Goto Definition.
  kclvm/Cargo.lock
  kclvm/ast/Cargo.toml
  kclvm/ast/src/ast.rs
  kclvm/ast/src/lib.rs
  kclvm/ast/src/pos.rs
  kclvm/config/src/modfile.rs
  kclvm/driver/Cargo.toml
  kclvm/sema/src/lint/mod.rs
  kclvm/sema/src/pre_process/identifier.rs
  kclvm/sema/src/resolver/arg.rs
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/global.rs
  kclvm/sema/src/resolver/import.rs
  kclvm/sema/src/resolver/loop.rs
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/para.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/ty.rs
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/dispatcher.rs
  kclvm/tools/src/LSP/src/from_lsp.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/lib.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/test_data/goto_def_test/goto_def.k
  kclvm/tools/src/LSP/src/test_data/goto_def_test/kcl.yaml
  kclvm/tools/src/LSP/src/test_data/goto_def_test/pkg/schema_def.k
  kclvm/tools/src/LSP/src/test_data/goto_def_test/pkg/schema_def1.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/to_lsp.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: langserver, lsp

#463 Feat(LSP): Support vfs.
  kclvm/Cargo.lock
  kclvm/driver/src/lib.rs
  kclvm/parser/src/lib.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/db.rs
  kclvm/tools/src/LSP/src/from_lsp.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#465 fix : print windows cmd error
  .github/workflows/windows_test.yaml
  scripts/build-windows/kcl-doc.go
  scripts/build-windows/kcl-fmt.go
  scripts/build-windows/kcl-lint.go
  scripts/build-windows/kcl-plugin.go
  scripts/build-windows/kcl-vet.go
  scripts/build-windows/kcl.go
  scripts/build-windows/kclvm
Labels: windows

#464 feat: add lock in the global session interner for parallel parser.
  kclvm/Cargo.lock
  kclvm/runner/src/tests.rs
  kclvm/span/Cargo.toml
  kclvm/span/src/session_globals.rs
Labels: session

#466 Feat: add import vendor packages.
  kclvm/Cargo.lock
  kclvm/ast/src/ast.rs
  kclvm/config/Cargo.toml
  kclvm/config/src/modfile.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/tests.rs
  kclvm/parser/testdata/import_vendor/assign.k
  kclvm/parser/testdata/import_vendor/config_expr.k
  kclvm/parser/testdata/import_vendor/nested_vendor.k
  kclvm/parser/testdata/import_vendor/same_name.k
  kclvm/parser/testdata/import_vendor/subpkg.k
  kclvm/parser/testdata/same_vendor/kcl.mod
  kclvm/parser/testdata/same_vendor/same_vendor.k
  kclvm/parser/testdata/test_vendor/assign/assign.k
  kclvm/parser/testdata/test_vendor/assign/kcl.mod
  kclvm/parser/testdata/test_vendor/config_expr/config_expr_02.k
  kclvm/parser/testdata/test_vendor/config_expr/kcl.mod
  kclvm/parser/testdata/test_vendor/nested_vendor/kcl.mod
  kclvm/parser/testdata/test_vendor/nested_vendor/nested_vendor.k
  kclvm/parser/testdata/test_vendor/nested_vendor/sub/sub.k
  kclvm/parser/testdata/test_vendor/nested_vendor/sub/sub1.k
  kclvm/parser/testdata/test_vendor/nested_vendor/sub/sub2/sub2.k
  kclvm/parser/testdata/test_vendor/same_vendor/kcl.mod
  kclvm/parser/testdata/test_vendor/same_vendor/same_vendor.k
  kclvm/parser/testdata/test_vendor/vendor_subpkg/kcl.mod
  kclvm/parser/testdata/test_vendor/vendor_subpkg/sub/sub.k
  kclvm/parser/testdata/test_vendor/vendor_subpkg/sub/sub1.k
  kclvm/parser/testdata/test_vendor/vendor_subpkg/sub/sub2/sub2.k
  kclvm/parser/testdata/test_vendor/vendor_subpkg/vendor_subpkg.k
  kclvm/parser/testdata_without_kclmod/import_vendor.k
  kclvm/parser/testdata_without_kclmod/same_name/assign.k
  kclvm/runner/src/runner.rs
  kclvm/runtime/src/context/mod.rs
  kclvm/sema/src/resolver/tests.rs
Labels: enhancement, feat

#469 refactor: add the lld_rs crate deps and clean code.
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/runner/build.rs
  kclvm/runner/src/linker.cpp
  kclvm/runner/src/linker.rs
Labels: refactor, linker

#471 feat: impl schema query API.
  internal/spec/gpyrpc/gpyrpc.proto
  kclvm/Cargo.lock
  kclvm/capi/Cargo.toml
  kclvm/capi/src/api_test.rs
  kclvm/capi/src/model/gpyrpc.rs
  kclvm/capi/src/service/api.rs
  kclvm/capi/src/service/mod.rs
  kclvm/capi/src/service/service.rs
  kclvm/capi/src/service/ty.rs
  kclvm/query/Cargo.toml
  kclvm/query/src/lib.rs
  kclvm/query/src/override.rs
  kclvm/query/src/query.rs
  kclvm/query/src/tests.rs
  kclvm/runner/Cargo.toml
  kclvm/tools/Cargo.toml
Labels: api

#470 refactor: using dynamic linking to generate kclvm_cli
  internal/scripts/update-kclvm.sh
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/cmd/src/lib.rs
  kclvm/src/lib.rs
  kclvm/src/main.rs
  kclvm_cli/Cargo.toml
  kclvm_cli/build.rs
  kclvm_cli/src/main.rs
  scripts/build-windows/build.bat
  scripts/build-windows/build_kclvm_cli.bat
  scripts/build-windows/build_kclvm_dll.bat
Labels: release

#472 Feat(compiler-base): Add default reporter function `report_event_shott_message` and `report_event_details` based on `fern`.
  compiler_base/parallel/Cargo.toml
  compiler_base/parallel/src/executor/test_reporter/output
  compiler_base/parallel/src/executor/tests.rs
  compiler_base/parallel/src/executor/timeout.rs
  compiler_base/parallel/src/task/event.rs
  compiler_base/parallel/src/task/mod.rs
  compiler_base/parallel/src/task/reporter.rs
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event/finished_event.json
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event/output_detail
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event/output_short
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event_bug/finished_event_bug.json
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event_bug/output_detail
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event_bug/output_short
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event_failed/finished_event_failed.json
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event_failed/output_detail
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event_failed/output_short
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event_waiting/finished_event_waiting.json
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event_waiting/output_detail
  compiler_base/parallel/src/task/test_datas/test_event_reporter/finished_event_waiting/output_short
  compiler_base/parallel/src/task/test_datas/test_event_reporter/output
  compiler_base/parallel/src/task/test_datas/test_event_reporter/start_event/output_detail
  compiler_base/parallel/src/task/test_datas/test_event_reporter/start_event/output_short
  compiler_base/parallel/src/task/test_datas/test_event_reporter/start_event/start_event.json
  compiler_base/parallel/src/task/test_datas/test_event_reporter/timeout_event/output_detail
  compiler_base/parallel/src/task/test_datas/test_event_reporter/timeout_event/output_short
  compiler_base/parallel/src/task/test_datas/test_event_reporter/timeout_event/timeout_event.json
  compiler_base/parallel/src/task/test_datas/test_event_reporter/wait_event/output_detail
  compiler_base/parallel/src/task/test_datas/test_event_reporter/wait_event/output_short
  compiler_base/parallel/src/task/test_datas/test_event_reporter/wait_event/wait_event.json
Labels: compiler_base

#473 feat: add more kclvm capis and tests
  internal/spec/gpyrpc/gpyrpc.proto
  kclvm/Cargo.lock
  kclvm/capi/Cargo.toml
  kclvm/capi/src/api_test.rs
  kclvm/capi/src/model/gpyrpc.rs
  kclvm/capi/src/service/api.rs
  kclvm/capi/src/service/into.rs
  kclvm/capi/src/service/mod.rs
  kclvm/capi/src/service/service.rs
  kclvm/capi/src/service/ty.rs
  kclvm/capi/src/service/util.rs
  kclvm/capi/src/testdata/format-code.json
  kclvm/capi/src/testdata/format-code.response.json
  kclvm/capi/src/testdata/format-path.json
  kclvm/capi/src/testdata/format-path.response.json
  kclvm/capi/src/testdata/get-schema-type-mapping.json
  kclvm/capi/src/testdata/get-schema-type-mapping.response.json
  kclvm/capi/src/testdata/lint-path.json
  kclvm/capi/src/testdata/lint-path.response.json
  kclvm/capi/src/testdata/load-settings-files.json
  kclvm/capi/src/testdata/load-settings-files.response.json
  kclvm/capi/src/testdata/settings/kcl.yaml
  kclvm/capi/src/testdata/test-lint.k
  kclvm/capi/src/testdata/validate-code.json
  kclvm/capi/src/testdata/validate-code.response.json
  kclvm/parser/Cargo.toml
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/tools/src/format/mod.rs
  kclvm/tools/src/vet/validator.rs
Labels: api

#474 Bugfix(Parser): Schema Stmt type_str position error
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/parser/tests.rs
Labels: parser
