Repository kcl-lang/kcl, pull requests merged in 2023-04, with the labels that each got.

#477 feat: add string removeprefix and removesuffix builtin member functions.
  kclvm/Cargo.lock
  kclvm/capi/Cargo.toml
  kclvm/capi/src/api_test.rs
  kclvm/capi/src/service/api.rs
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/val_str.rs
  kclvm/sema/src/builtin/string.rs
  kclvm/tests/test_units/runtime/str/test_str.py
Labels: semantic, runtime

#478 feat: add custom llvm build scripts without term info and zlib to reduce kclvm release size.
  scripts/build-llvm/build.ps1
  scripts/build-llvm/build.sh
Labels: release

#482 Bugfix(LSP): LSP generates both syntactic and semantic errors
  kclvm/tools/src/LSP/src/test_data/diagnostics.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: bug

#480 Bugfix(Parser): If expr position error
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/parser/tests.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__if_recovery_0.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__if_recovery_1.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__if_recovery_2.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__if_recovery_3.snap
Labels: bug, parser

#483 Feat(LSP): Load pkg files in LSP
  kclvm/Cargo.lock
  kclvm/driver/Cargo.toml
  kclvm/driver/src/lib.rs
  kclvm/tools/src/LSP/src/test_data/diagnostics.k
  kclvm/tools/src/LSP/src/test_data/load_pkg_test.k
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#486 feat: impl complete kclvm cli
  kclvm/Cargo.lock
  kclvm/api/src/service/service_impl.rs
  kclvm/ast/src/ast.rs
  kclvm/cmd/Cargo.toml
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/lint.rs
  kclvm/cmd/src/run.rs
  kclvm/cmd/src/settings.rs
  kclvm/cmd/src/tests.rs
  kclvm/config/src/settings.rs
  kclvm/driver/Cargo.toml
  kclvm/driver/src/arguments.rs
  kclvm/driver/src/lib.rs
  kclvm/driver/src/tests.rs
  kclvm/query/src/override.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/runner/src/tests.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/src/lib.rs
Labels: cmd

#490 feat: impl vet and fmt kclvm cli sub commands.
  kclvm/cmd/src/fmt.rs
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/lint.rs
  kclvm/cmd/src/run.rs
  kclvm/cmd/src/settings.rs
  kclvm/cmd/src/test_data/fmt/test.k
  kclvm/cmd/src/test_data/vet/data.json
  kclvm/cmd/src/test_data/vet/test.k
  kclvm/cmd/src/tests.rs
  kclvm/cmd/src/util.rs
  kclvm/cmd/src/vet.rs
Labels: cmd

#489 refactor: kclvm parser, runner and global session panic catch because the parser error recovery
  kclvm/api/src/service/mod.rs
  kclvm/ast/src/ast.rs
  kclvm/cmd/src/lib.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/tests.rs
  kclvm/runner/src/assembler.rs
  kclvm/runner/src/command.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/tests.rs
  kclvm/span/src/session_globals.rs
  kclvm/tools/src/vet/tests.rs
Labels: parser, refactor, runner

#493 bugfix: Fix CI failure cause by inconsistent order of walk files
  kclvm/driver/src/lib.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: bug, ci

#488 Feat(LSP): Hover. Display a short text(schema doc) describing element(schema) at position
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/lib.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/test_data/goto_def_test/pkg/schema_def.k
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#498 fix : set exitcode in kclvm_cli
  .github/workflows/windows_test.yaml
  kclvm/src/lib.rs
  kclvm_cli/src/main.rs
Labels: CLI

#492 feat: add sub commands '-E, --external' for 'kclvm_cli run' to specify the external package path.
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/settings.rs
  kclvm/cmd/src/util.rs
  kclvm/config/src/settings.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/tests.rs
  kclvm/parser/testdata_without_kclmod/import_by_external_assign.k
  kclvm/parser/testdata_without_kclmod/import_by_external_config_expr.k
  kclvm/parser/testdata_without_kclmod/import_by_external_nested_vendor.k
  kclvm/parser/testdata_without_kclmod/import_by_external_vendor_subpkg.k
  kclvm/runner/src/runner.rs
Labels: enhancement

#494 Feat(LSP): Document symbol(Outline)
  kclvm/sema/src/resolver/node.rs
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/document_symbol.rs
  kclvm/tools/src/LSP/src/lib.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/test_data/document_symbol.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#499 chore: bump github cla action version to contributor-assistant/github-action@v2.3.0.
  .github/workflows/cla.yml
Labels: ci

#502 refactor: unify number multiplier type str using the member function.
  kclvm/cmd/src/settings.rs
  kclvm/cmd/src/util.rs
  kclvm/config/src/vfs.rs
  kclvm/query/src/query.rs
  kclvm/sema/src/ty/mod.rs
Labels: semantic

#503 Bugfix: convert panic to compile error cause by cannot find import path
  kclvm/ast/src/ast.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/tests.rs
  kclvm/tools/src/LSP/src/test_data/diagnostics.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/lint/test_data/import_test/a.k
  kclvm/tools/src/lint/test_data/import_test/b.k
  kclvm/tools/src/lint/test_data/lint.k
  kclvm/tools/src/lint/tests.rs
Labels: parser, error-handling

#504 fix lint ut on windows for lint tools
  kclvm/tools/src/lint/tests.rs
Labels: test, lsp

#505 fix: rpc api
  internal/spec/gpyrpc/gpyrpc.proto
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/api/src/service/capi.rs
  kclvm/api/src/service/jsonrpc.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/service/util.rs
  kclvm/ast/src/ast.rs
  kclvm/runner/src/lib.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/tools/src/format/mod.rs
Labels: api

#507 fix: fix a bug in the path format of argument '-E/--external'.
  kclvm/cmd/src/tests.rs
  kclvm/cmd/src/util.rs
Labels: bug

#508 refactor: refine parse and resolve function error returned and add test cases
  kclvm/api/src/service/service_impl.rs
  kclvm/cmd/src/run.rs
  kclvm/driver/src/lib.rs
  kclvm/driver/src/tests.rs
  kclvm/error/src/lib.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/tests.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/tests.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/tools/src/vet/tests.rs
Labels: api, error-handling

#511 refactor: empty result plan.
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  test/grammar/misc/empty_plan/main.k
  test/grammar/misc/empty_plan/stdout.golden
Labels: runner

#514 fix: find exec and canonicalize to resolve symbolic link
  kclvm/runner/src/command.rs
Labels: linker

#517 feat: add droper/marker for schema stmt for error recovery.
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/tests/error_recovery.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_27.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_28.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_29.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_30.snap
Labels: parser

#529 feat: support complex object deserialize for kcl cli settings.
  kclvm/Cargo.lock
  kclvm/api/src/testdata/load-settings-files.response.json
  kclvm/config/Cargo.toml
  kclvm/config/src/settings.rs
  kclvm/config/src/testdata/settings.yaml
  kclvm/driver/src/arguments.rs
  kclvm/driver/src/tests.rs
  kclvm/runner/src/test_datas/settings_file/settings.json
  test/grammar/cli_config/cli_config_3/kcl.yaml
  test/grammar/cli_config/cli_config_3/main.k
  test/grammar/cli_config/cli_config_3/settings.yaml
  test/grammar/cli_config/cli_config_3/stdout.golden
Labels: CLI

#510 feat: set "$HOME/kcl/.kpm" to the default KCLVM_PKG_PATH.
  kclvm/config/src/lib.rs
  kclvm/config/src/modfile.rs
  kclvm/config/src/tests.rs
  kclvm/parser/src/tests.rs
Labels: enhancement, feat

#531 refactor: remove dead code in the assembler.
  kclvm/runner/src/assembler.rs
  kclvm/runner/src/tests.rs
Labels: refactor, linker
