Repository kcl-lang/kcl, pull requests merged in 2024-03, with the labels that each got.

#1096 feat: enhance anoymous schema type checking in the expr context stack
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/test_fail_data/unmatched_nest_schema_attr_0.k
  kclvm/sema/src/resolver/test_fail_data/unmatched_nest_schema_attr_1.k
  kclvm/sema/src/resolver/test_fail_data/unmatched_nest_schema_attr_2.k
  kclvm/sema/src/resolver/test_fail_data/unmatched_nest_schema_attr_3.k
  kclvm/sema/src/resolver/test_fail_data/unmatched_schema_attr_0.k
  kclvm/sema/src/resolver/test_fail_data/unmatched_schema_attr_1.k
  kclvm/sema/src/resolver/test_fail_data/unmatched_schema_attr_2.k
  kclvm/sema/src/resolver/test_fail_data/unmatched_schema_attr_3.k
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/resolver/var.rs
  kclvm/tools/src/LSP/src/completion.rs
Labels: enhancement, resolver

#1102 feat: add better error message for else if token parse recovery
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/tests/error_recovery.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__if_stmt_recovery_8.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__if_stmt_recovery_9.snap
  test/grammar/syntax/else_if_token/main.k
  test/grammar/syntax/else_if_token/stderr.golden.py
Labels: parser, error-handling

#1103 feat: add datafile parameter for the `validate_code` api
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/testdata/test-validate.json
  kclvm/api/src/testdata/validate-code-file.json
  kclvm/api/src/testdata/validate-code-file.response.json
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: api, feat

#1105 feat: enhance schema attribute not found error message
  kclvm/sema/src/resolver/scope.rs
  kclvm/sema/src/resolver/var.rs
  test/grammar/schema/index_signature/key_alias_1/main.k
  test/grammar/schema/irrelevant_order/inherit_1/main.k
  test/grammar/schema/irrelevant_order/inherit_1/stdout.golden
  test/grammar/schema/irrelevant_order/inherit_6/main.k
  test/grammar/schema/var_not_define_fail/var_not_define_fail_0/main.k
  test/grammar/schema/var_not_define_fail/var_not_define_fail_0/stderr.golden.py
  test/grammar/schema/var_not_define_fail/var_not_define_fail_1/main.k
  test/grammar/schema/var_not_define_fail/var_not_define_fail_1/stderr.golden.py
Labels: error-handling, resolver

#1107 chore: bump rust toolchain to 1.76 and bump dep package versions to fix security issues
  .github/workflows/build-test-linux-arm64.yml
  .github/workflows/build-test-macos-arm64.yml
  .github/workflows/daily-release.yaml
  .github/workflows/macos_test.yaml
  .github/workflows/test_compiler_base.yaml
  .github/workflows/ubuntu_test.yaml
  docs/dev_guide/1.about_this_guide.md
  docs/dev_guide/2.quick_start.md
  kclvm/Cargo.lock
  kclvm/api/Cargo.toml
  kclvm/config/Cargo.toml
  kclvm/runtime/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
Labels: chore

#1109 fix: fix completion when schema end pos is eof
  kclvm/parser/src/parser/stmt.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_25.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_27.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_28.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__schema_stmt_recovery_29.snap
  kclvm/tools/src/LSP/src/test_data/completion_test/check/check.k
Labels: parser, lsp

#1111 enhancement: expr context type store in loop expr
  kclvm/sema/src/resolver/node.rs
  test/grammar/types/loop/loop_0/main.k
  test/grammar/types/loop/loop_0/stdout.golden
  test/grammar/types/loop/loop_1/main.k
  test/grammar/types/loop/loop_1/stdout.golden
Labels: enhancement, resolver

#1110 fix: fix advanced resolver current schema symbol
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/schema/schema.k
Labels: resolver

#1114 feat: runtime lazy eval scope infra
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/emit.rs
  kclvm/compiler/src/codegen/llvm/module.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/compiler/src/codegen/llvm/schema.rs
  kclvm/compiler/src/codegen/mod.rs
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/context/mod.rs
  kclvm/runtime/src/eval/mod.rs
  kclvm/runtime/src/lib.rs
  kclvm/runtime/src/value/api.rs
Labels: runtime, codegen

#1117 Provided multiple quick fix options for variable modification
  kclvm/error/src/diagnostic.rs
  kclvm/error/src/error.rs
  kclvm/error/src/lib.rs
  kclvm/sema/src/lint/lints_def.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/tools/src/LSP/src/quick_fix.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/to_lsp.rs
  kclvm/tools/src/fix/mod.rs
Labels: resolver, lsp

#1116 feat: high order lambda closure captures
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  test/grammar/lambda/closure_10/main.k
  test/grammar/lambda/closure_10/stdout.golden
  test/grammar/lambda/closure_6/main.k
  test/grammar/lambda/closure_6/stdout.golden
  test/grammar/lambda/closure_7/main.k
  test/grammar/lambda/closure_7/stdout.golden
  test/grammar/lambda/closure_8/main.k
  test/grammar/lambda/closure_8/stdout.golden
  test/grammar/lambda/closure_9/main.k
  test/grammar/lambda/closure_9/stdout.golden
Labels: codegen

#1115 feat: incremental resolver in lsp
  kclvm/sema/src/resolver/scope.rs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/quick_fix.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: resolver, lsp

#1121 chore: bump kcl version to 0.8.1
  VERSION
  cli/Cargo.toml
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/config/Cargo.toml
  kclvm/driver/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/lexer/Cargo.toml
  kclvm/loader/Cargo.toml
  kclvm/macros/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/runtime/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/utils/Cargo.toml
  kclvm/version/Cargo.toml
Labels: chore

#1122 feat: add semantic with cache API
  kclvm/Cargo.lock
  kclvm/loader/Cargo.toml
  kclvm/loader/src/lib.rs
  kclvm/parser/Cargo.toml
  kclvm/sema/src/resolver/scope.rs
Labels: feat, chore

#1124 feat: remove python-like static type tricks
  kclvm/loader/src/snapshots/kclvm_loader__tests__import_stmt_0.snap
  kclvm/sema/src/resolver/calculation.rs
  kclvm/sema/src/ty/constructor.rs
  kclvm/sema/src/ty/context.rs
  test/grammar/types/binary_expr/binary_expr_0/main.k
  test/grammar/types/binary_expr/binary_expr_0/stdout.golden
  test/grammar/types/binary_expr/binary_expr_1/main.k
  test/grammar/types/binary_expr/binary_expr_1/stdout.golden
  test/grammar/types/binary_expr/binary_expr_2/main.k
  test/grammar/types/binary_expr/binary_expr_2/stdout.golden
  test/grammar/types/binary_expr/binary_expr_fail_0/main.k
  test/grammar/types/binary_expr/binary_expr_fail_0/stderr.golden.py
  test/grammar/types/binary_expr/binary_expr_fail_1/main.k
  test/grammar/types/binary_expr/binary_expr_fail_1/stderr.golden.py
  test/grammar/types/binary_expr/binary_expr_fail_2/main.k
  test/grammar/types/binary_expr/binary_expr_fail_2/stderr.golden.py
  test/grammar/types/binary_expr/binary_expr_fail_3/main.k
  test/grammar/types/binary_expr/binary_expr_fail_3/stderr.golden.py
Labels: type-system

#1126 refactor: codegen value store and load & add debug info for the entire module
  .gitignore
  kclvm/compiler/src/codegen/llvm/backtrack.rs
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/emit.rs
  kclvm/compiler/src/codegen/llvm/metadata.rs
  kclvm/compiler/src/codegen/llvm/mod.rs
  kclvm/compiler/src/codegen/llvm/module.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/compiler/src/codegen/llvm/schema.rs
  kclvm/compiler/src/codegen/llvm/utils.rs
  kclvm/version/src/lib.rs
  test/grammar/lambda/in_schema_6/main.k
  test/grammar/lambda/in_schema_6/stdout.golden
  test/grammar/lambda/in_schema_7/main.k
  test/grammar/lambda/in_schema_7/stdout.golden
  test/grammar/lambda/in_schema_8/main.k
  test/grammar/lambda/in_schema_8/stdout.golden
Labels: refactor, codegen

#1118 feat: support for automatic update KCL dependencies on kcl.mod file save
  kclvm/Cargo.lock
  kclvm/driver/Cargo.toml
  kclvm/driver/src/kpm.rs
Labels: lsp

#1129 fix resolve cache err in concurreny error in lsp and enhance log message
  kclvm/tools/src/LSP/src/request.rs
Labels: bug, lsp

#1130 enhance: lambda in for high level closures
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  test/grammar/lambda/in_for_3/main.k
  test/grammar/lambda/in_for_3/stdout.golden
Labels: feat, codegen

#1135 feat: add list options API
  kclvm/Cargo.lock
  kclvm/api/src/service/capi.rs
  kclvm/api/src/service/jsonrpc.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/testdata/option/main.k
  kclvm/loader/Cargo.toml
  kclvm/loader/src/lib.rs
  kclvm/loader/src/option.rs
  kclvm/loader/src/snapshots/kclvm_loader__tests__builtin_call_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__builtin_call_1.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__builtin_call_2.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__list_options_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__list_options_1.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__list_options_2.snap
  kclvm/loader/src/tests.rs
  kclvm/loader/src/util.rs
  kclvm/runner/src/runner.rs
  kclvm/runtime/src/_kcl_run.rs
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/context/mod.rs
  kclvm/runtime/src/stdlib/builtin_api.rs
  kclvm/sema/src/builtin/mod.rs
  kclvm/sema/src/builtin/option.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: semantic, api

#1136 refactor: lsp cached scope usage
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/document_symbol.rs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/formatting.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/quick_fix.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/semantic_token.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#1138 fix: list options required param
  kclvm/api/src/capi_test.rs
  kclvm/api/src/testdata/list-options.json
  kclvm/api/src/testdata/list-options.response.json
  kclvm/loader/src/option.rs
  kclvm/loader/src/snapshots/kclvm_loader__tests__list_options_1.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__list_options_2.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__list_options_3.snap
  kclvm/loader/src/tests.rs
  kclvm/loader/src/util.rs
Labels: api

#1145 fix: capi protobuf cstring convension
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/capi.rs
  kclvm/api/src/testdata/parse-file.json
  kclvm/api/src/testdata/parse-file.response.json
Labels: bug

#1150 chore: bump kcl version to v0.8.3
  VERSION
  cli/Cargo.toml
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/config/Cargo.toml
  kclvm/driver/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/lexer/Cargo.toml
  kclvm/loader/Cargo.toml
  kclvm/macros/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/runtime/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/utils/Cargo.toml
  kclvm/version/Cargo.toml
  scripts/build.sh
Labels: chore

#1152 fix: fix lsp db lock
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#1157 feat: add file.exsits and file.abs functions
  kclvm/api/src/service/service_impl.rs
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_1.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_2.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__builtin_call_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__builtin_call_1.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__builtin_call_2.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__import_stmt_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__import_stmt_1.snap
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/file/mod.rs
  kclvm/runtime/src/value/val_args.rs
  kclvm/sema/src/builtin/system_module.rs
  test/grammar/builtins/file/exists/a.k
  test/grammar/builtins/file/exists/main.k
  test/grammar/builtins/file/exists/stdout.golden
Labels: enhancement, module

#1158 feat: add initial version of evaluator
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/evaluator/Cargo.toml
  kclvm/evaluator/src/error.rs
  kclvm/evaluator/src/lib.rs
  kclvm/evaluator/src/node.rs
  kclvm/evaluator/src/snapshots/kclvm_evaluator__tests__assign_stmt_0.snap
  kclvm/evaluator/src/snapshots/kclvm_evaluator__tests__assign_stmt_1.snap
  kclvm/evaluator/src/snapshots/kclvm_evaluator__tests__assign_stmt_2.snap
  kclvm/evaluator/src/snapshots/kclvm_evaluator__tests__assign_stmt_3.snap
  kclvm/evaluator/src/tests.rs
  kclvm/runner/Cargo.toml
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/mod.rs
  kclvm/runtime/src/value/val_attr.rs
  kclvm/runtime/src/value/val_dict.rs
Labels: feat, evaluator

#1119 design doc for kcl watcher
  docs/design/ide_kpm_watcher.md
Labels: design

#1173 fix formatting of unsaved changes in LSP
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: lsp

#1174 fix: lsp db clone.
  kclvm/tools/src/LSP/src/analysis.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
Labels: perf, lsp

#1175 fix: config merge and unpack in loop for
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/evaluator/src/node.rs
  kclvm/runner/src/runner.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/test_fail_data/comp_clause_error_3.k
  kclvm/sema/src/resolver/test_fail_data/comp_clause_error_4.k
  kclvm/sema/src/resolver/tests.rs
  test/grammar/datatype/dict/merge_in_comprehension_0/main.k
  test/grammar/datatype/dict/merge_in_comprehension_0/stdout.golden
  test/grammar/datatype/dict/merge_in_comprehension_1/main.k
  test/grammar/datatype/dict/merge_in_comprehension_1/stdout.golden
Labels: bug, codegen, resolver, evaluator

#1180 fix: fixed infinite retry.
  kclvm/Cargo.lock
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/tools/src/LSP/src/error.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: lsp

#1182 feat: impl more evaluator features and pass more test cases
  kclvm/evaluator/src/calculation.rs
  kclvm/evaluator/src/context.rs
  kclvm/evaluator/src/error.rs
  kclvm/evaluator/src/func.rs
  kclvm/evaluator/src/lib.rs
  kclvm/evaluator/src/module.rs
  kclvm/evaluator/src/node.rs
  kclvm/evaluator/src/proxy.rs
  kclvm/evaluator/src/rule.rs
  kclvm/evaluator/src/schema.rs
  kclvm/evaluator/src/scope.rs
  kclvm/evaluator/src/snapshots/kclvm_evaluator__tests__loop_1.snap
  kclvm/evaluator/src/value.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/runtime/src/value/val.rs
  kclvm/runtime/src/value/val_dict.rs
  test/grammar/quant/all/multi_cons_valid_0/main.k
Labels: evaluator
