Repository kcl-lang/kcl, pull requests merged in 2024-01, with the labels that each got.

#968 feat: lsp semantic tokens provider
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/semantic_information.rs
  kclvm/tools/src/LSP/src/capabilities.rs
  kclvm/tools/src/LSP/src/lib.rs
  kclvm/tools/src/LSP/src/main.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/semantic_token.rs
  kclvm/tools/src/LSP/src/test_data/sema_token.k
Labels: feat, lsp

#969 chore: run cargo clippy to fix warnings
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/document_symbol.rs
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/rename.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/semantic_token.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: chore, lsp

#971 feat: add kind to local scope
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/scope.rs
  kclvm/tools/src/LSP/src/completion.rs
Labels: semantic, resolver, lsp

#973 fix: set the kpm related test cases to execute sequentially
  kclvm/driver/src/tests.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/tests.rs
Labels: build, build system

#980 chore: bump kcl version to 0.7.3
  VERSION
  cli/Cargo.toml
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/config/Cargo.toml
  kclvm/driver/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/lexer/Cargo.toml
  kclvm/macros/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/runtime/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/utils/Cargo.toml
  kclvm/version/Cargo.toml
Labels: chore

#983 fix: build errors on linux arm64
  kclvm/runtime/src/api/utils.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/stdlib/plugin.rs
  kclvm/runtime/src/value/api.rs
Labels: runtime

#984 fix: override str key test cases
  kclvm/ast_pretty/src/node.rs
  kclvm/query/src/test_data/import_paths.k
  kclvm/query/src/tests.rs
Labels: bug, tool

#986 feat: build kcl linux arm64 with arm64 ubuntu docker image
  kclvm/api/src/service/capi.rs
  kclvm/runner/src/runner.rs
  kclvm/runtime/src/_kcl_run.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/stdlib/builtin_api.rs
  kclvm/runtime/src/stdlib/plugin.rs
  kclvm/runtime/src/value/api.rs
  kclvm/src/lib.rs
  scripts/docker/kcl-builder-arm64/Dockerfile
Labels: runtime

#987 chore: bump kcl version to 0.7.4
  VERSION
  cli/Cargo.toml
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/config/Cargo.toml
  kclvm/driver/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/lexer/Cargo.toml
  kclvm/macros/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/runtime/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/utils/Cargo.toml
  kclvm/version/Cargo.toml
Labels: chore

#989 feat: semantic API for multiple language SDKs
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/api/src/service/capi.rs
  kclvm/api/src/service/into.rs
  kclvm/api/src/service/jsonrpc.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/ast/src/ast.rs
  kclvm/loader/Cargo.toml
  kclvm/loader/src/lib.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/session/mod.rs
  kclvm/runner/src/lib.rs
  kclvm/sema/Cargo.toml
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/scope.rs
  kclvm/sema/src/core/semantic_information.rs
  kclvm/sema/src/core/symbol.rs
  kclvm/sema/src/namer/mod.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
  kclvm/tools/src/LSP/src/rename.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: semantic, api

#994 docs: add more integration in readme documents
  README-zh.md
  README.md
Labels: docs

#996 feat: scope api for multiple lang sdks
  kclvm/Cargo.lock
  kclvm/api/src/service/into.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/ast/Cargo.toml
  kclvm/ast/src/ast.rs
  kclvm/loader/src/lib.rs
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/scope.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: semantic, api

#1004 feat: add symbol to node and type symbol APIs
  kclvm/api/src/service/into.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/loader/src/lib.rs
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/core/symbol.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: semantic, api

#1007 fix: schema index signature type unsoundness
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/val_dict.rs
  kclvm/runtime/src/value/val_schema.rs
  kclvm/runtime/src/value/val_union.rs
  kclvm/sema/src/resolver/schema.rs
  kclvm/sema/src/resolver/test_fail_data/unmatched_index_sign_default_value.k
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/resolver/ty.rs
  test/grammar/schema/assign_stmt/fail_0/main.k
  test/grammar/schema/assign_stmt/fail_0/stderr.golden.py
  test/grammar/schema/index_signature/fail_10/main.k
  test/grammar/schema/index_signature/fail_10/stderr.golden.py
  test/grammar/schema/index_signature/fail_11/main.k
  test/grammar/schema/index_signature/fail_11/stderr.golden.py
  test/grammar/schema/index_signature/fail_7/main.k
  test/grammar/schema/index_signature/fail_7/stderr.golden.py
  test/grammar/schema/index_signature/fail_8/main.k
  test/grammar/schema/index_signature/fail_8/stderr.golden.py
  test/grammar/schema/index_signature/fail_9/main.k
  test/grammar/schema/index_signature/fail_9/stderr.golden.py
  test/grammar/schema/index_signature/key_alias_1/main.k
  test/grammar/schema/index_signature/normal_10/main.k
  test/grammar/schema/index_signature/normal_10/stdout.golden
  test/grammar/schema/index_signature/normal_6/main.k
  test/grammar/schema/index_signature/normal_6/stdout.golden
  test/grammar/schema/index_signature/normal_7/main.k
  test/grammar/schema/index_signature/normal_7/stdout.golden
  test/grammar/schema/index_signature/normal_8/main.k
  test/grammar/schema/index_signature/normal_8/stdout.golden
  test/grammar/schema/index_signature/normal_9/main.k
  test/grammar/schema/index_signature/normal_9/stdout.golden
Labels: bug, runtime, resolver

#1008 chore: bump kcl version to 0.7.5
  VERSION
  cli/Cargo.toml
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/config/Cargo.toml
  kclvm/driver/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/lexer/Cargo.toml
  kclvm/loader/Cargo.toml
  kclvm/macros/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/runtime/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/utils/Cargo.toml
  kclvm/version/Cargo.toml
Labels: chore

#1011 chore: bump version to v0.7.6
  VERSION
  cli/Cargo.toml
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/config/Cargo.toml
  kclvm/driver/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/lexer/Cargo.toml
  kclvm/loader/Cargo.toml
  kclvm/macros/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/runtime/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/utils/Cargo.toml
  kclvm/version/Cargo.toml
Labels: chore

#1009 fix: schema optional attribute validating recursively
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/mod.rs
  kclvm/runtime/src/value/val_schema.rs
  kclvm/runtime/src/value/walker.rs
  test/grammar/schema/optional_attr/fail_15/main.k
  test/grammar/schema/optional_attr/fail_15/stderr.golden.py
  test/grammar/schema/optional_attr/fail_16/main.k
  test/grammar/schema/optional_attr/fail_16/stderr.golden.py
  test/grammar/schema/optional_attr/fail_17/main.k
  test/grammar/schema/optional_attr/fail_17/stderr.golden.py
  test/grammar/schema/optional_attr/fail_18/main.k
  test/grammar/schema/optional_attr/fail_18/stderr.golden.py
  test/grammar/schema/optional_attr/fail_19/main.k
  test/grammar/schema/optional_attr/fail_19/stderr.golden.py
  test/grammar/schema/optional_attr/fail_20/main.k
  test/grammar/schema/optional_attr/fail_20/stderr.golden.py
Labels: bug, runtime

#1010 fix: schema resolver type value load attribute error messages
  kclvm/cmd/src/test_data/fuzz_match/main.k
  kclvm/cmd/src/test_data/fuzz_match/main_unmatched.k
  kclvm/cmd/src/tests.rs
  kclvm/sema/src/resolver/attr.rs
Labels: bug, resolver

#1013 refactor: cargo clippy for api, compiler, config and sema crates
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/into.rs
  kclvm/ast/src/ast.rs
  kclvm/ast/src/lib.rs
  kclvm/ast_pretty/src/tests.rs
  kclvm/compiler/src/codegen/error.rs
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/compiler/src/codegen/llvm/schema.rs
  kclvm/compiler/src/codegen/llvm/utils.rs
  kclvm/compiler/src/lib.rs
  kclvm/compiler/src/macros.rs
  kclvm/compiler/src/value/lambda.rs
  kclvm/compiler/src/value/mod.rs
  kclvm/compiler/src/value/schema.rs
  kclvm/config/src/cache.rs
  kclvm/config/src/lib.rs
  kclvm/config/src/modfile.rs
  kclvm/config/src/settings.rs
  kclvm/driver/src/kpm_metadata.rs
  kclvm/driver/src/lib.rs
  kclvm/driver/src/tests.rs
  kclvm/parser/src/lib.rs
  kclvm/sema/src/builtin/system_module.rs
  kclvm/version/src/lib.rs
Labels: refactor

#1016 refactor: simplify the linker code
  kclvm/runner/src/linker.rs
Labels: refactor, linker

#1017 feat: impl build_program and exec_artifact APIs
  kclvm/api/src/service/capi.rs
  kclvm/api/src/service/jsonrpc.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/service/util.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/linker.rs
  kclvm/runner/src/runner.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: api, runner
