Repository kcl-lang/kcl, pull requests merged in 2024-04, with the labels that each got.

#1184 fix: advance resolver walk dict comp
  kclvm/sema/src/advanced_resolver/node.rs
Labels: bug, resolver, lsp

#1183 feat: verify request and compile version.
  kclvm/tools/src/LSP/src/db.rs
  kclvm/tools/src/LSP/src/error.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
Labels: lsp

#1187 fix: fix lsp document version verify.
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
Labels: bug, lsp

#1194 docs: add coding covention, arch and source code in the developing guide docs
  docs/dev_guide/2.quick_start.md
  docs/dev_guide/3.coding_conventions.md
  docs/dev_guide/4.architecture.md
  docs/dev_guide/5.source_code.md
Labels: docs

#1188 feat:Lsp compile unit cache watcher for config file(kcl.yaml and kcl.mod).
  kclvm/tools/src/LSP/src/find_refs.rs
  kclvm/tools/src/LSP/src/notification.rs
  kclvm/tools/src/LSP/src/quick_fix.rs
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/state.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: enhancement, langserver

#1195 feat: impl builtin template system package
  kclvm/Cargo.lock
  kclvm/api/src/service/service_impl.rs
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_1.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_2.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__builtin_call_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__builtin_call_1.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__builtin_call_2.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__import_stmt_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__import_stmt_1.snap
  kclvm/runtime/Cargo.toml
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/lib.rs
  kclvm/runtime/src/template/mod.rs
  kclvm/sema/src/builtin/system_module.rs
  kclvm/tools/src/LSP/src/completion.rs
  test/grammar/builtins/template/execute_0/main.k
  test/grammar/builtins/template/execute_0/stdout.golden
  test/grammar/builtins/template/execute_1/main.k
  test/grammar/builtins/template/execute_1/stdout.golden
  test/grammar/builtins/template/html_escape_0/main.k
  test/grammar/builtins/template/html_escape_0/stdout.golden
Labels: enhancement, stdlib

#1198 feat: add optional llvm feature
  .github/workflows/windows_test.yaml
  build.ps1
  kclvm/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/compiler/src/codegen/error.rs
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/compiler/src/codegen/llvm/emit.rs
  kclvm/compiler/src/codegen/llvm/mod.rs
  kclvm/compiler/src/codegen/mod.rs
  kclvm/makefile
  kclvm/runner/src/assembler.rs
  kclvm/runner/src/tests.rs
  scripts/build-windows/build.ps1
  scripts/build.sh
Labels: release

#1202 feat: add loader API with state
  .gitignore
  kclvm/api/src/service/service_impl.rs
Labels: api

#1204 chore: bump compiler_base version
  compiler_base/3rdparty/rustc_data_structures/Cargo.toml
  compiler_base/3rdparty/rustc_errors/Cargo.toml
  compiler_base/3rdparty/rustc_errors/src/lib.rs
  compiler_base/3rdparty/rustc_span/Cargo.toml
  compiler_base/Cargo.toml
  compiler_base/error/Cargo.toml
  compiler_base/macros/Cargo.toml
  compiler_base/parallel/Cargo.toml
  compiler_base/session/Cargo.toml
  compiler_base/span/Cargo.toml
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/parser/src/parser/expr.rs
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
Labels: chore

#1203 fix: fix compile unit cache.
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: test, lsp

#1206 fix: runtime number singleton value cache
  kclvm/runtime/src/value/api.rs
Labels: bug, runtime

#1207 chore: deprecated timestamp related code
  kclvm/config/src/cache.rs
  kclvm/runner/src/lib.rs
  kclvm/third-party/prost-wkt/wkt-types/src/pbtime.rs
Labels: chore

#1211 feat: impl evaluator eval context snapshot to prevent self recursively calling panic
  kclvm/evaluator/src/func.rs
  kclvm/evaluator/src/node.rs
  kclvm/evaluator/src/rule.rs
  kclvm/evaluator/src/schema.rs
  kclvm/evaluator/src/ty.rs
  test/grammar/schema/irrelevant_order/relaxed_1/main.k
  test/grammar/schema/irrelevant_order/simple_1/main.k
Labels: feat, evaluator

#1210 feat: impl schema instances in all package path
  kclvm/evaluator/src/schema.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/value/api.rs
  kclvm/sema/src/resolver/attr.rs
  test/grammar/schema/instances/complex/complex_5/main.k
  test/grammar/schema/instances/complex/complex_5/pkg/pkg.k
  test/grammar/schema/instances/complex/complex_5/stdout.golden
Labels: runtime, feat

#1213 feat: top level variable back reference for the evaluator
  kclvm/evaluator/src/context.rs
  kclvm/evaluator/src/func.rs
  kclvm/evaluator/src/lazy.rs
  kclvm/evaluator/src/lib.rs
  kclvm/evaluator/src/module.rs
  kclvm/evaluator/src/node.rs
  kclvm/evaluator/src/proxy.rs
  kclvm/evaluator/src/schema.rs
  kclvm/evaluator/src/scope.rs
  kclvm/evaluator/src/snapshots/kclvm_evaluator__tests__lazy_scope_0.snap
  kclvm/evaluator/src/snapshots/kclvm_evaluator__tests__lazy_scope_1.snap
  kclvm/evaluator/src/snapshots/kclvm_evaluator__tests__lazy_scope_2.snap
  kclvm/evaluator/src/snapshots/kclvm_evaluator__tests__schema_1.snap
  kclvm/evaluator/src/tests.rs
  kclvm/evaluator/src/ty.rs
  kclvm/runner/benches/bench_runner.rs
  kclvm/runner/src/assembler.rs
  kclvm/runner/src/exec_data/lambda_return_undefined.k
  kclvm/runner/src/exec_data/rule.k
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/runner/src/tests.rs
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/manifests/mod.rs
  kclvm/runtime/src/value/val_func.rs
Labels: feat, runner, evaluator

#1214 feat: add api list_variables to select variable
  kclvm/Cargo.lock
  kclvm/api/src/capi_test.rs
  kclvm/api/src/service/capi.rs
  kclvm/api/src/service/jsonrpc.rs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/testdata/list-variables.json
  kclvm/api/src/testdata/list-variables.response.json
  kclvm/api/src/testdata/variables/main.k
  kclvm/loader/Cargo.toml
  kclvm/loader/src/test_data/test_list_variables/supported.k
  kclvm/loader/src/test_data/test_list_variables/unsupported.k
  kclvm/query/src/selector.rs
  kclvm/query/src/test_data/test_list_variables/supported.k
  kclvm/query/src/test_data/test_list_variables/unsupported.k
  kclvm/query/src/tests.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: enhancement, api

#1218 chore: bump serde_json version
  kclvm/Cargo.lock
  kclvm/runtime/Cargo.toml
Labels: enhancement

#1219 refactor: doc string parse to prevent the regex calling and remove the prec2 deps
  kclvm/Cargo.lock
  kclvm/sema/Cargo.toml
  kclvm/sema/src/resolver/doc.rs
Labels: semantic

#1225 chore: bump cb version
  compiler_base/3rdparty/rustc_data_structures/Cargo.toml
  compiler_base/3rdparty/rustc_span/Cargo.toml
  compiler_base/error/Cargo.toml
  compiler_base/session/Cargo.toml
  compiler_base/span/Cargo.toml
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
Labels: chore

#1228 fix: schema string attribute contains dot
  kclvm/ast/src/ast.rs
  kclvm/ast_pretty/src/node.rs
  kclvm/ast_pretty/src/test_data/codelayout.output
  kclvm/sema/src/pre_process/identifier.rs
  kclvm/sema/src/resolver/node.rs
  test/grammar/schema/string_attr/simple_0/main.k
  test/grammar/schema/string_attr/simple_0/stdout.golden
  test/grammar/schema/string_attr/simple_1/main.k
  test/grammar/schema/string_attr/simple_1/stdout.golden
Labels: bug

#1236 fix: lambda in schema function calling for the evaluator
  .github/workflows/build-test-macos-arm64.yml
  kclvm/evaluator/src/func.rs
  kclvm/evaluator/src/lib.rs
  kclvm/evaluator/src/node.rs
  test/grammar/lambda/in_schema_10/main.k
  test/grammar/lambda/in_schema_10/stdout.golden
  test/grammar/lambda/in_schema_9/main.k
  test/grammar/lambda/in_schema_9/stdout.golden
Labels: bug, evaluator

#1238 feat: override_file will insert a new variable if the variable is not exist
  kclvm/query/src/override.rs
  kclvm/query/src/test_data/test_override_file/expect.k
  kclvm/query/src/test_data/test_override_file/main.bk.k
  kclvm/query/src/test_data/test_override_file/main.k
  kclvm/query/src/tests.rs
Labels: enhancement

#1245 fix: fix compile fail on windows for rustc_data_structure and bump version
  compiler_base/3rdparty/rustc_data_structures/Cargo.toml
  compiler_base/3rdparty/rustc_data_structures/src/lib.rs
  compiler_base/3rdparty/rustc_data_structures/src/temp_dir.rs
  compiler_base/3rdparty/rustc_span/Cargo.toml
  compiler_base/error/Cargo.toml
  compiler_base/session/Cargo.toml
  compiler_base/span/Cargo.toml
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
Labels: bug

#1248 fix: evaluator lambda closure and bump version to 0.8.6
  VERSION
  cli/Cargo.toml
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/config/Cargo.toml
  kclvm/driver/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/evaluator/Cargo.toml
  kclvm/evaluator/src/context.rs
  kclvm/evaluator/src/func.rs
  kclvm/evaluator/src/lib.rs
  kclvm/evaluator/src/node.rs
  kclvm/evaluator/src/scope.rs
  kclvm/lexer/Cargo.toml
  kclvm/loader/Cargo.toml
  kclvm/macros/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/runtime/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/utils/Cargo.toml
  kclvm/version/Cargo.toml
  test/grammar/lambda/top_level_10/main.k
  test/grammar/lambda/top_level_10/stdout.golden
  test/grammar/lambda/top_level_11/main.k
  test/grammar/lambda/top_level_11/stdout.golden
  test/grammar/lambda/top_level_7/main.k
  test/grammar/lambda/top_level_7/stdout.golden
  test/grammar/lambda/top_level_8/main.k
  test/grammar/lambda/top_level_8/stdout.golden
  test/grammar/lambda/top_level_9/main.k
  test/grammar/lambda/top_level_9/stdout.golden
Labels: evaluator

#1247 Fix: fix incremental compilation unwrap panic in AdvancerResolver
  kclvm/parser/src/lib.rs
  kclvm/sema/src/resolver/scope.rs
Labels: parser, debug, resolver

#1249 feat: add more feature flags about llvm and wasm
  build-wasm32-wasi.md
  docs/dev_guide/2.quick_start.md
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/api/src/service/mod.rs
  kclvm/cmd/src/lib.rs
  kclvm/error/Cargo.toml
  kclvm/makefile
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/src/lib.rs
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/utils/Cargo.toml
Labels: wasm, release

#1255 feat: supports override identifier for OverrideFile api
  kclvm/query/src/override.rs
  kclvm/query/src/test_data/test_override_file/expect.k
  kclvm/query/src/tests.rs
Labels: enhancement

#1256 fix: trim() the spec for overrideFile()
  kclvm/query/src/override.rs
  kclvm/query/src/test_data/test_override_file/expect.k
  kclvm/query/src/tests.rs
Labels: api

#1259 test: add json string plan opts tests
  .github/workflows/daily-release.yaml
  kclvm/runtime/src/value/val_plan.rs
Labels: test
