Repository kcl-lang/kcl, pull requests merged in 2024-05, with the labels that each got.

#1269 feat: enhance the schema expr type check and impl the schema factory using the dynamic type
  kclvm/evaluator/src/calculation.rs
  kclvm/evaluator/src/node.rs
  kclvm/evaluator/src/schema.rs
  kclvm/evaluator/src/ty.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/runtime/src/value/val_type.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/tests.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/import/external/kcl.mod
  test/grammar/schema/factory/test_0/main.k
  test/grammar/schema/factory/test_0/stdout.golden
  test/grammar/schema/factory/test_1/main.k
  test/grammar/schema/factory/test_1/stdout.golden
  test/grammar/schema/factory/test_2/main.k
  test/grammar/schema/factory/test_2/stdout.golden
  test/grammar/types/type_as/type_as_5/kcl.mod
  test/grammar/types/type_as/type_as_5/main.k
  test/grammar/types/type_as/type_as_5/pkg/pkg.k
  test/grammar/types/type_as/type_as_5/stdout.golden
  test/grammar/types/type_as/type_as_6/main.k
  test/grammar/types/type_as/type_as_6/stdout.golden
  test/grammar/types/type_as/type_as_err_2/main.k
  test/grammar/types/type_as/type_as_err_2/stderr.golden.py
Labels: enhancement, runtime, resolver

#1279 feat: add type name for schema_expr in list_variables
  kclvm/api/src/service/service_impl.rs
  kclvm/query/src/selector.rs
  kclvm/query/src/test_data/test_list_variables/supported.k
  kclvm/query/src/tests.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: api

#1282 feat: add operation for variable in ListVariables
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/testdata/list-variables.response.json
  kclvm/query/src/selector.rs
  kclvm/query/src/tests.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: api

#1292 fix: fix ut test_rename()
  kclvm/tools/src/LSP/src/rename.rs
  kclvm/tools/src/LSP/src/test_data/rename_test/rename_on_file/base/person.k
  kclvm/tools/src/LSP/src/test_data/rename_test/rename_on_file/config.k
  kclvm/tools/src/LSP/src/test_data/rename_test/rename_on_file/main.k
  kclvm/tools/src/LSP/src/test_data/rename_test/rename_on_file/pkg/vars.k
  kclvm/tools/src/LSP/src/test_data/rename_test/rename_on_file/server.k
Labels: test

#1283 fix: fix the inconsistency in filename drive letters
  kclvm/Cargo.lock
  kclvm/api/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast/src/ast.rs
  kclvm/parser/src/parser/mod.rs
  kclvm/utils/Cargo.toml
  kclvm/utils/src/path.rs
Labels: parser, resolver, lsp

#1290 feat: supports import local file in kcl-vet
  kclvm/tools/src/vet/test_datas/invalid_vet_cases_json/dep/kcl.mod
  kclvm/tools/src/vet/test_datas/invalid_vet_cases_json/dep/main.k
  kclvm/tools/src/vet/test_datas/invalid_vet_cases_json/with_import.k
  kclvm/tools/src/vet/test_datas/invalid_vet_cases_json/with_import.k.json
  kclvm/tools/src/vet/test_datas/invalid_vet_cases_yaml/dep/kcl.mod
  kclvm/tools/src/vet/test_datas/invalid_vet_cases_yaml/dep/main.k
  kclvm/tools/src/vet/test_datas/invalid_vet_cases_yaml/with_import.k
  kclvm/tools/src/vet/test_datas/invalid_vet_cases_yaml/with_import.k.stderr.json
  kclvm/tools/src/vet/test_datas/invalid_vet_cases_yaml/with_import.k.yaml
  kclvm/tools/src/vet/test_datas/validate_cases/dep/kcl.mod
  kclvm/tools/src/vet/test_datas/validate_cases/dep/main.k
  kclvm/tools/src/vet/test_datas/validate_cases/with_import.k
  kclvm/tools/src/vet/test_datas/validate_cases/with_import.k.json
  kclvm/tools/src/vet/test_datas/validate_cases/with_import.k.yaml
  kclvm/tools/src/vet/tests.rs
  kclvm/tools/src/vet/validator.rs
Labels: enhancement

#1301 fix: fix ast and lsp filename in windows os
  kclvm/Cargo.lock
  kclvm/ast/src/ast.rs
  kclvm/error/Cargo.toml
  kclvm/error/src/diagnostic.rs
  kclvm/parser/src/lib.rs
  kclvm/parser/src/parser/mod.rs
  kclvm/tools/src/LSP/src/from_lsp.rs
  kclvm/tools/src/util/loader.rs
  kclvm/utils/src/path.rs
Labels: parser, ast, lsp

#1307 fix: fixed a formatting error when inserting import stmt into a KCL f…
  kclvm/ast_pretty/src/node.rs
  kclvm/cmd/src/lib.rs
  kclvm/query/src/lib.rs
  kclvm/query/src/node.rs
  kclvm/query/src/override.rs
  kclvm/query/src/test_data/test_override_file/expect.k
  kclvm/query/src/test_data/test_override_file/main.bk.k
  kclvm/query/src/test_data/test_override_file/main.k
  kclvm/query/src/tests.rs
Labels: fix

#1312 fix: fix format error in OverrideFile
  kclvm/query/src/lib.rs
  kclvm/query/src/test_data/test_override_file/expect.k
  kclvm/query/src/tests.rs
Labels: bug

#1315 fix: fix missing variables in api ListVariable() when list from KCL with unsupported expr
  kclvm/query/src/selector.rs
  kclvm/query/src/test_data/test_list_variables/unsupported.k
  kclvm/query/src/tests.rs
Labels: bug, api

#1317 doc: lsp dev guide
  docs/dev_guide/6.languager_server.md
  docs/image/Overview.png
  docs/image/lsp.png
  docs/image/test.png
Labels: documentation, ide, docs, lsp

#1316 feat: add parser error messages into the result of api ListVariables
  kclvm/api/src/service/service_impl.rs
  kclvm/error/src/diagnostic.rs
  kclvm/parser/src/lib.rs
  kclvm/query/src/lib.rs
  kclvm/query/src/selector.rs
  kclvm/query/src/test_data/test_list_variables/invalid.k
  kclvm/query/src/tests.rs
  kclvm/spec/gpyrpc/gpyrpc.proto
Labels: enhancement, api

#1318 refactor: remove unwrap() in advanced_resolver.
  kclvm/loader/src/lib.rs
  kclvm/sema/src/advanced_resolver/mod.rs
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/tools/src/LSP/src/rename.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: refactor, resolver

#1320 fix: fix resolver cache caused falsely report errors.
  kclvm/sema/src/resolver/mod.rs
  kclvm/sema/src/resolver/scope.rs
Labels: bug, fix, resolver, lsp
