Repository kcl-lang/kcl, pull requests merged in 2024-02, with the labels that each got.

#1018 fix advanced resolver walk_list_if_item_expr
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/test_data/goto_def_test/goto_def.k
Labels: semantic, lsp

#1027 fix: fix config if expr pos
  kclvm/parser/src/parser/expr.rs
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_13.snap
  kclvm/parser/src/tests/snapshots/kclvm_parser__tests__error_recovery__config_recovery_14.snap
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/test_data/hover_test/hover.k
Labels: parser, lsp

#1026 feat: impl subscript in override spec
  kclvm/ast_pretty/src/node.rs
  kclvm/query/src/lib.rs
  kclvm/query/src/override.rs
  kclvm/query/src/path.rs
  kclvm/query/src/tests.rs
  kclvm/tools/src/LSP/src/rename.rs
Labels: enhancement, api

#1030 fix: remove missing expr symbol
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/dot/missing_expr/missing_expr.k
Labels: semantic, lsp

#1033 feat: add field 'timeout' to TimeoutExecutor to specify the timeout and increase the timeout in the test case to 120 seconds
  compiler_base/parallel/src/executor/tests.rs
  compiler_base/parallel/src/executor/timeout.rs
Labels: bug

#1034 feat: add build-in method 'file.read' to load file
  kclvm/api/src/service/service_impl.rs
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/file/mod.rs
  kclvm/runtime/src/lib.rs
  kclvm/sema/src/builtin/system_module.rs
  kclvm/tools/src/LSP/src/completion.rs
  test/grammar/builtins/file/load_json/main.k
  test/grammar/builtins/file/load_json/stdout.golden
  test/grammar/builtins/file/load_json/test.json
  test/grammar/builtins/file/load_txt/main.k
  test/grammar/builtins/file/load_txt/stdout.golden
  test/grammar/builtins/file/load_txt/test.txt
  test/grammar/builtins/file/load_yaml/main.k
  test/grammar/builtins/file/load_yaml/stdout.golden
  test/grammar/builtins/file/load_yaml/test.yaml
Labels: enhancement

#1043 feat: enhance full schema type path in the exec result
  kclvm/api/src/testdata/exec-program-with-include-schema-type-path.response.json
  kclvm/runtime/src/value/val_plan.rs
Labels: feat

#1045 fix: raw identifier in the schema string attribute
  kclvm/sema/src/pre_process/identifier.rs
  kclvm/sema/src/pre_process/test_data/raw_identifier.k
  kclvm/sema/src/pre_process/tests.rs
Labels: bug, pass

#1046 docs: polish readme documents
  README-zh.md
  README.md
Labels: docs

#1047 chore: bump version to 0.8.0
  VERSION
  cli/Cargo.toml
  kclvm/Cargo.lock
  kclvm/Cargo.toml
  kclvm/api/Cargo.toml
  kclvm/ast/Cargo.toml
  kclvm/ast_pretty/Cargo.toml
  kclvm/cmd/Cargo.toml
  kclvm/compiler/Cargo.toml
  kclvm/config/Cargo.toml
  kclvm/driver/Cargo.toml
  kclvm/error/Cargo.toml
  kclvm/lexer/Cargo.toml
  kclvm/loader/Cargo.toml
  kclvm/macros/Cargo.toml
  kclvm/parser/Cargo.toml
  kclvm/query/Cargo.toml
  kclvm/runner/Cargo.toml
  kclvm/runtime/Cargo.toml
  kclvm/sema/Cargo.toml
  kclvm/span/Cargo.toml
  kclvm/tools/Cargo.toml
  kclvm/tools/src/LSP/Cargo.toml
  kclvm/utils/Cargo.toml
  kclvm/version/Cargo.toml
Labels: chore

#1048 Fix the definition of duplicate parameter
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/scope.rs
  kclvm/tools/src/LSP/src/goto_def.rs
  kclvm/tools/src/LSP/src/test_data/goto_def_test/goto_def.k
Labels: bug, lsp

#1050 feat: enhance plugin agent flag in APIs
  kclvm/api/src/service/service_impl.rs
  kclvm/api/src/service/util.rs
Labels: api, refactor

#1051 feat: add builtin io function glob()
  kclvm/Cargo.lock
  kclvm/api/src/service/service_impl.rs
  kclvm/runtime/Cargo.toml
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/file/mod.rs
  kclvm/sema/src/builtin/system_module.rs
  test/grammar/builtins/file/glob/main.k
  test/grammar/builtins/file/glob/stdout.golden
  test/grammar/builtins/file/glob/test1.json
  test/grammar/builtins/file/glob/test2.json
  test/grammar/builtins/file/glob/test3.json
Labels: enhancement

#1052 fix: add type check for builtin filesystem function
  kclvm/runtime/src/file/mod.rs
  kclvm/sema/src/builtin/system_module.rs
  kclvm/sema/src/resolver/test_data/test_builtin/glob.k
  kclvm/sema/src/resolver/test_data/test_builtin/read.k
  kclvm/sema/src/resolver/tests.rs
  test/grammar/builtins/file/load_file_invalid/main.k
  test/grammar/builtins/file/load_file_invalid/stderr.golden.py
Labels: bug

#1038 lfx pre test lsp quick fix
  kclvm/Cargo.lock
  kclvm/error/Cargo.toml
  kclvm/error/src/diagnostic.rs
  kclvm/error/src/lib.rs
  kclvm/sema/src/resolver/scope.rs
  kclvm/tools/src/LSP/src/quick_fix.rs
  kclvm/tools/src/LSP/src/test_data/diagnostics.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/to_lsp.rs
Labels: feat, lsp

#1055 feat: add load_builtin option for the loader API and add more unit test cases
  kclvm/Cargo.lock
  kclvm/loader/Cargo.toml
  kclvm/loader/src/lib.rs
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_1.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_2.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__import_stmt_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__import_stmt_1.snap
  kclvm/loader/src/tests.rs
  kclvm/sema/src/core/symbol.rs
Labels: semantic, api

#1056 feat: add builtin io function modpath()
  kclvm/api/src/service/service_impl.rs
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_1.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_2.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__import_stmt_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__import_stmt_1.snap
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/context/mod.rs
  kclvm/runtime/src/file/mod.rs
  kclvm/sema/src/builtin/system_module.rs
  test/grammar/builtins/file/mod_root/main.k
  test/grammar/builtins/file/mod_root/stdout.golden
  test/grammar/builtins/file/mod_root/test.json
  test/grammar/builtins/file/mod_root_sub/kcl.mod
  test/grammar/builtins/file/mod_root_sub/stdout.golden
  test/grammar/builtins/file/mod_root_sub/sub/main.k
  test/grammar/builtins/file/mod_root_sub/test.json
Labels: enhancement, api

#1059 chore: bump rust-toolchain to 1.75 in CI
  .github/workflows/build-test-linux-arm64.yml
  .github/workflows/build-test-macos-arm64.yml
  .github/workflows/daily-release.yaml
  .github/workflows/macos_test.yaml
  .github/workflows/test_compiler_base.yaml
  .github/workflows/ubuntu_test.yaml
  kclvm/api/src/capi_test.rs
  kclvm/makefile
Labels: chore

#1063 fix: key value eval in the config iter
  kclvm/compiler/src/codegen/llvm/node.rs
  test/grammar/comprehension/dict/local_var_as_key/main.k
  test/grammar/comprehension/dict/local_var_as_key/stdout.golden
Labels: bug, codegen

#1064 feat: enhance builtin func complete
  kclvm/sema/src/resolver/tests.rs
  kclvm/sema/src/ty/mod.rs
  kclvm/tools/src/LSP/src/completion.rs
Labels: lsp

#1062 refactor: remove all schema internal settings attribute and use the potential schema type
  kclvm/api/src/service/ty.rs
  kclvm/api/src/testdata/exec-program-with-external-pkg.response.json
  kclvm/api/src/testdata/exec-program-with-include-schema-type-path.response.json
  kclvm/api/src/testdata/exec-program-with-path-selector.response.json
  kclvm/api/src/testdata/exec-program-with-print.response.json
  kclvm/api/src/testdata/exec-program.response.json
  kclvm/cmd/src/tests.rs
  kclvm/compiler/src/codegen/llvm/context.rs
  kclvm/runner/src/lib.rs
  kclvm/runner/src/runner.rs
  kclvm/runner/src/test_datas/init_check_order_0/stdout.golden.json
  kclvm/runner/src/test_datas/init_check_order_1/stdout.golden.json
  kclvm/runner/src/test_datas/normal_2/stdout.golden.json
  kclvm/runner/src/test_datas/type_annotation_not_full_2/stdout.golden.json
  kclvm/runner/src/tests.rs
  kclvm/runtime/src/_kcl_run.rs
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/api/utils.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/json/mod.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/val_clone.rs
  kclvm/runtime/src/value/val_dict.rs
  kclvm/runtime/src/value/val_json.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/runtime/src/value/val_schema.rs
  kclvm/runtime/src/value/val_type.rs
  kclvm/runtime/src/value/val_union.rs
  kclvm/runtime/src/value/val_yaml.rs
  kclvm/runtime/src/yaml/mod.rs
  kclvm/tools/src/vet/tests.rs
  test/grammar/builtins/json/output_0/main.k
  test/grammar/builtins/json/output_1/main.k
  test/grammar/builtins/yaml/output_0/main.k
  test/grammar/builtins/yaml/output_1/main.k
  test/grammar/datatype/units/simple_4/stdout.golden
  test/grammar/scalar/number/number_1/main.k
  test/grammar/scalar/number/number_1/stdout.golden
  test/grammar/schema/instances/complex/complex_2/backend.k
  test/grammar/schema/instances/complex/complex_2/stdout.golden
  test/grammar/schema/irrelevant_order/complex_2/main.k
  test/grammar/schema/irrelevant_order/complex_2/stdout.golden
  test/grammar/schema/mixin/dict_2_schema_0/main.k
  test/grammar/schema/mixin/dict_2_schema_0/stdout.golden
  test/grammar/schema/mixin/dict_2_schema_1/main.k
  test/grammar/schema/mixin/dict_2_schema_1/stdout.golden
  test/grammar/schema/mixin/dict_2_schema_2/main.k
  test/grammar/schema/mixin/dict_2_schema_2/stdout.golden
  test/grammar/schema/type/combination_4/main.k
  test/grammar/schema/type/combination_4/stdout.golden
Labels: bug, runtime

#1070 feat: add the show_hidden flag
  kclvm/api/src/service/into.rs
  kclvm/cmd/src/lib.rs
  kclvm/cmd/src/settings.rs
  kclvm/config/src/settings.rs
  kclvm/driver/src/test_data/test_vendor/.kpm/config/kpm.json
  kclvm/driver/src/test_data/test_vendor/.kpm/config/package-cache
  kclvm/runner/src/runner.rs
  kclvm/runner/src/test_datas/exec_prog_args/default.json
  kclvm/runner/src/test_datas/settings_file/settings.json
  kclvm/spec/gpyrpc/gpyrpc.proto
  test/grammar/show_hidden/config/main.k
  test/grammar/show_hidden/config/settings.yaml
  test/grammar/show_hidden/config/stdout.golden
  test/grammar/show_hidden/schema/main.k
  test/grammar/show_hidden/schema/settings.yaml
  test/grammar/show_hidden/schema/stdout.golden
  test/grammar/show_hidden/simple/main.k
  test/grammar/show_hidden/simple/settings.yaml
  test/grammar/show_hidden/simple/stdout.golden
Labels: feat

#1072 refactor: driver crate and tests
  .github/workflows/build-test-linux-arm64.yml
  .github/workflows/macos_test.yaml
  .github/workflows/ubuntu_test.yaml
  .github/workflows/windows_test.yaml
  README-zh.md
  README.md
  kclvm/driver/src/kpm.rs
  kclvm/driver/src/kpm_metadata.rs
  kclvm/driver/src/kpm_update.rs
  kclvm/driver/src/lib.rs
  kclvm/driver/src/test_data/kpm_update/kcl.mod
  kclvm/driver/src/test_data/test_vendor/helloworld_0.1.0/0.0.1/README.md
  kclvm/driver/src/test_data/test_vendor/helloworld_0.1.0/0.0.1/artifacthub-pkg.yaml
  kclvm/driver/src/test_data/test_vendor/helloworld_0.1.0/README.md
  kclvm/driver/src/test_data/test_vendor/helloworld_0.1.0/kcl.mod
  kclvm/driver/src/test_data/test_vendor/helloworld_0.1.0/main.k
  kclvm/driver/src/tests.rs
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: refactor

#1073 fix: typo in lexer and add error message for the semi token
  kclvm/lexer/src/kcl_cursor.rs
  kclvm/lexer/src/lib.rs
  kclvm/parser/src/lexer/mod.rs
Labels: lexer

#1074 fix: sort keys flag and lsp hover tests
  build.ps1
  kclvm/makefile
  kclvm/runner/src/runner.rs
  kclvm/runtime/src/_kcl_run.rs
  kclvm/tools/src/LSP/src/hover.rs
  test/grammar/sort_keys/config/main.k
  test/grammar/sort_keys/config/settings.yaml
  test/grammar/sort_keys/config/stdout.golden
  test/grammar/sort_keys/schema/main.k
  test/grammar/sort_keys/schema/settings.yaml
  test/grammar/sort_keys/schema/stdout.golden
Labels: bug, CLI

#1076 feat: output json stream result and refactor runtime FFI code
  kclvm/makefile
  kclvm/plugin/.gitignore
  kclvm/plugin/Makefile
  kclvm/plugin/kclvm_plugin.cpp
  kclvm/plugin/kclvm_plugin.h
  kclvm/plugin/kclvm_plugin.i
  kclvm/plugin/kclvm_plugin.py
  kclvm/plugin/kclvm_plugin_wrap.cxx
  kclvm/plugin/kclvm_plugin_wrap.h
  kclvm/plugin/readme.md
  kclvm/plugin/setup.py
  kclvm/runner/src/runner.rs
  kclvm/runtime/src/_kcl_run.rs
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/context/mod.rs
  kclvm/runtime/src/value/val_decorator.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/runtime/src/yaml/mod.rs
  kclvm/tests/test_units/runtime/kclvm_runtime.py
Labels: runtime, feat

#1077 refactor: clean runtime unused code, refactor FFI related code & run cargo clippy for the runtime crate
  kclvm/runner/src/runner.rs
  kclvm/runtime/src/_kcl_run.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/api/utils.rs
  kclvm/runtime/src/base64/mod.rs
  kclvm/runtime/src/context/api.rs
  kclvm/runtime/src/file/mod.rs
  kclvm/runtime/src/json/mod.rs
  kclvm/runtime/src/math/math.rs
  kclvm/runtime/src/stdlib/builtin.rs
  kclvm/runtime/src/types/constructor.rs
  kclvm/runtime/src/types/kind.rs
  kclvm/runtime/src/types/str.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/runtime/src/yaml/mod.rs
  test/grammar/datatype/undefined/fail_1/stderr.golden.py
Labels: runtime, refactor

#1080 refactor: empty result plan to dict
  kclvm/compiler/src/codegen/llvm/context.rs
  test/grammar/misc/empty_file/stdout.golden
  test/grammar/misc/empty_plan/stdout.golden
Labels: codegen

#1079 fix: stack overflow issues caused by deep copy of circular references within schema and schema lambda
  kclvm/runtime/src/value/val_clone.rs
  test/grammar/lambda/in_schema_5/main.k
  test/grammar/lambda/in_schema_5/stdout.golden
Labels: bug, runtime

#1081 feat: impl scalar yaml stream output
  kclvm/runtime/src/value/val_is_in.rs
  kclvm/runtime/src/value/val_plan.rs
  test/grammar/builtins/manifests/yaml_stream/config/main.k
  test/grammar/builtins/manifests/yaml_stream/config/stdout.golden
  test/grammar/builtins/manifests/yaml_stream/config_ignore_none/main.k
  test/grammar/builtins/manifests/yaml_stream/config_ignore_none/stdout.golden
  test/grammar/builtins/manifests/yaml_stream/config_sort_keys/main.k
  test/grammar/builtins/manifests/yaml_stream/config_sort_keys/stdout.golden
  test/grammar/builtins/manifests/yaml_stream/list/main.k
  test/grammar/builtins/manifests/yaml_stream/list/stdout.golden
  test/grammar/builtins/manifests/yaml_stream/multiple_literal_0/main.k
  test/grammar/builtins/manifests/yaml_stream/multiple_literal_0/stdout.golden
  test/grammar/builtins/manifests/yaml_stream/multiple_literal_1/main.k
  test/grammar/builtins/manifests/yaml_stream/multiple_literal_1/stdout.golden
  test/grammar/builtins/manifests/yaml_stream/single_literal_0/main.k
  test/grammar/builtins/manifests/yaml_stream/single_literal_0/stdout.golden
  test/grammar/builtins/manifests/yaml_stream/single_literal_1/main.k
  test/grammar/builtins/manifests/yaml_stream/single_literal_1/stdout.golden
Labels: runtime, feat

#1082 fix dump to file arguments and add more test cases
  kclvm/runtime/src/json/mod.rs
  kclvm/runtime/src/yaml/mod.rs
  out.json
  out.yaml
  test/grammar/builtins/json/dump_to_file_0/0.json
  test/grammar/builtins/json/dump_to_file_0/1.json
  test/grammar/builtins/json/dump_to_file_0/2.json
  test/grammar/builtins/json/dump_to_file_0/3.json
  test/grammar/builtins/json/dump_to_file_0/4.json
  test/grammar/builtins/json/dump_to_file_0/5.json
  test/grammar/builtins/json/dump_to_file_0/main.k
  test/grammar/builtins/json/dump_to_file_0/stdout.golden
  test/grammar/builtins/json/dump_to_file_1/0.yaml
  test/grammar/builtins/json/dump_to_file_1/1.yaml
  test/grammar/builtins/json/dump_to_file_1/2.yaml
  test/grammar/builtins/json/dump_to_file_1/3.yaml
  test/grammar/builtins/json/dump_to_file_1/4.yaml
  test/grammar/builtins/json/dump_to_file_1/5.yaml
  test/grammar/builtins/json/dump_to_file_1/main.k
  test/grammar/builtins/json/dump_to_file_1/stdout.golden
  test/grammar/builtins/json/output_1/main.k
  test/grammar/builtins/json/output_1/stdout.golden
  test/grammar/builtins/yaml/dump_all_to_file_0/0.yaml
  test/grammar/builtins/yaml/dump_all_to_file_0/main.k
  test/grammar/builtins/yaml/dump_all_to_file_0/stdout.golden
  test/grammar/builtins/yaml/dump_to_file_0/0.yaml
  test/grammar/builtins/yaml/dump_to_file_0/1.yaml
  test/grammar/builtins/yaml/dump_to_file_0/2.yaml
  test/grammar/builtins/yaml/dump_to_file_0/3.yaml
  test/grammar/builtins/yaml/dump_to_file_0/4.yaml
  test/grammar/builtins/yaml/dump_to_file_0/5.yaml
  test/grammar/builtins/yaml/dump_to_file_0/main.k
  test/grammar/builtins/yaml/dump_to_file_0/stdout.golden
  test/grammar/builtins/yaml/dump_to_file_1/0.yaml
  test/grammar/builtins/yaml/dump_to_file_1/1.yaml
  test/grammar/builtins/yaml/dump_to_file_1/2.yaml
  test/grammar/builtins/yaml/dump_to_file_1/3.yaml
  test/grammar/builtins/yaml/dump_to_file_1/4.yaml
  test/grammar/builtins/yaml/dump_to_file_1/5.yaml
  test/grammar/builtins/yaml/dump_to_file_1/main.k
  test/grammar/builtins/yaml/dump_to_file_1/stdout.golden
  test/grammar/builtins/yaml/output_1/main.k
  test/grammar/builtins/yaml/output_1/stdout.golden
Labels: bug, runtime

#1085 feat: fix compile unit always add entry file into main pkg to avoid incremental compilation ignores entry file
  kclvm/tools/src/LSP/src/request.rs
  kclvm/tools/src/LSP/src/test_data/compile_unit/a.k
  kclvm/tools/src/LSP/src/test_data/compile_unit/b.k
  kclvm/tools/src/LSP/src/test_data/compile_unit/kcl.yaml
  kclvm/tools/src/LSP/src/test_data/compile_unit/main.k
  kclvm/tools/src/LSP/src/tests.rs
  kclvm/tools/src/LSP/src/util.rs
Labels: bug, lsp

#1086 feat: support arguments and keyword arguments union for the schema value
  kclvm/compiler/src/codegen/llvm/node.rs
  kclvm/runner/src/runner.rs
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/api/kclvm.rs
  kclvm/runtime/src/value/api.rs
  kclvm/runtime/src/value/val_clone.rs
  kclvm/runtime/src/value/val_plan.rs
  kclvm/runtime/src/value/val_schema.rs
  kclvm/runtime/src/value/val_type.rs
  kclvm/runtime/src/value/val_union.rs
  test/grammar/schema/union/arguments/keyword_argument_0/main.k
  test/grammar/schema/union/arguments/keyword_argument_0/stdout.golden
  test/grammar/schema/union/arguments/keyword_argument_1/main.k
  test/grammar/schema/union/arguments/keyword_argument_1/stdout.golden
  test/grammar/schema/union/arguments/single_argument_0/main.k
  test/grammar/schema/union/arguments/single_argument_0/stdout.golden
  test/grammar/schema/union/arguments/single_argument_1/main.k
  test/grammar/schema/union/arguments/single_argument_1/stdout.golden
  test/grammar/schema/union/arguments/single_argument_2/main.k
  test/grammar/schema/union/arguments/single_argument_2/stdout.golden
Labels: runtime, feat

#1089 feat: add better error message and quick fix for the list schema member
  kclvm/sema/src/resolver/config.rs
  kclvm/sema/src/resolver/node.rs
  kclvm/sema/src/resolver/test_fail_data/cannot_find_member_0.k
  kclvm/sema/src/resolver/test_fail_data/cannot_find_member_1.k
  kclvm/sema/src/resolver/tests.rs
  kclvm/tools/src/LSP/src/quick_fix.rs
Labels: error-handling, feat, resolver

#1090 feat: add builtin function 'crypto.uuid()' and 'crypto.filehash()'
  kclvm/Cargo.lock
  kclvm/api/src/service/service_impl.rs
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_1.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__assign_stmt_2.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__import_stmt_0.snap
  kclvm/loader/src/snapshots/kclvm_loader__tests__import_stmt_1.snap
  kclvm/runner/Cargo.toml
  kclvm/runner/src/test_uuid/main.k
  kclvm/runner/src/tests.rs
  kclvm/runtime/Cargo.toml
  kclvm/runtime/src/_kclvm.bc
  kclvm/runtime/src/_kclvm.h
  kclvm/runtime/src/_kclvm.ll
  kclvm/runtime/src/_kclvm.rs
  kclvm/runtime/src/_kclvm_addr.rs
  kclvm/runtime/src/_kclvm_api_spec.rs
  kclvm/runtime/src/crypto/mod.rs
  kclvm/sema/src/builtin/system_module.rs
  test/grammar/builtins/crypto/sha/filesha256/main.k
  test/grammar/builtins/crypto/sha/filesha256/stdout.golden
  test/grammar/builtins/crypto/sha/filesha256/test.txt
Labels: enhancement, api, module

#1092 fix: literal str and join str inner completion
  kclvm/tools/src/LSP/src/completion.rs
  kclvm/tools/src/LSP/src/test_data/completion_test/dot/lit_str/lit_str.k
Labels: bug, lsp

#1094 feat: add decorator symbol
  kclvm/sema/src/advanced_resolver/node.rs
  kclvm/sema/src/core/global_state.rs
  kclvm/sema/src/core/symbol.rs
  kclvm/tools/src/LSP/src/document_symbol.rs
  kclvm/tools/src/LSP/src/hover.rs
  kclvm/tools/src/LSP/src/semantic_token.rs
  kclvm/tools/src/LSP/src/test_data/hover_test/decorator.k
  kclvm/tools/src/LSP/src/test_data/hover_test/hover.k
Labels: semantic, lsp

#1095 refactor: make decorator document more simple
  kclvm/sema/src/builtin/decorator.rs
  kclvm/tools/src/LSP/src/hover.rs
Labels: semantic
